<template>
  <section
    class="min-h-screen w-full flex flex-col items-center bg-gray-100 pt-14 mb-14 -z-10"
  >
    <Container class="w-8/12">
      <FormStudent @on-validate-success="save" />
    </Container>
  </section>
</template>

<script>
export default {
  name: 'CreateStudentPage',
  layout: 'dashboard',

  head: {
    title: 'Buat Data Pelajar',
  },

  methods: {
    async save(payload) {
      try {
        const res = await this.$store.dispatch('students/save', payload)
        if (res) {
          this.$router.push('/students')
        }
      } catch (error) {
        console.log(error)
      }
    },
  },
}
</script>
