<template>
  <section class="h-full flex flex-col justify-center items-center bg-gray-100">
    <Container>
      <TableStudents :data="listTable" />
    </Container>
  </section>
</template>

<script>
export default {
  name: 'StudentsIndexPage',
  layout: 'dashboard',

  data() {
    return {
      listTable: [
        {
          id: 1,
          firstName: 'Cristiano',
          lastName: 'Ronaldo',
          nickName: 'Ronaldo',
          noPPI: 38,
          namePPI: 'MA Persis Padalarang',
          speciality: 'MIPA',
          profileImage:
            'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8BaLWhXbUHN0Vr7R7AZ8BVhfaV7Igm2caag&usqp=CAU',
        },
        {
          id: 2,
          firstName: 'Lionel',
          lastName: 'Messi',
          nickName: 'Messi',
          noPPI: 1,
          namePPI: 'MA Persis Pajagalan',
          speciality: 'MIPA',
          profileImage:
            'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR_BSXPlBjoBeJruSaCamv7kQuMNjoIIWX0CITXUVoapFCbRM9g',
        },
        {
          id: 3,
          firstName: 'Henhen',
          lastName: 'Herdiana',
          nickName: 'Lord',
          noPPI: 2,
          namePPI: 'MA Persis Pajagalan',
          speciality: 'IPS',
          profileImage:
            'https://assets.pikiran-rakyat.com/crop/0x0:750x556/x/photo/2022/02/19/4212020114.jpg',
        },
        {
          id: 4,
          firstName: 'Steve',
          lastName: 'Jobs',
          nickName: 'Steve',
          noPPI: 2,
          namePPI: 'MA Persis Pajagalan',
          speciality: 'Sejarah',
          profileImage:
            'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSkKGZuRUelGLq0FpwuFi9fp7fEPejRm5qgBKO2AQXBQ5VWl1Wf',
        },
      ],
    }
  },

  head: {
    title: 'Daftar Pelajar',
  },

  mounted() {
    this.$sentry.captureMessage('[TEST SENTRYT] Menu pelajar akan dihapus!')
  },
}
</script>
