<template>
  <Container
    class="flex lg:flex-row flex-col lg:space-x-6 min-h-screen w-full items-start mx-auto bg-gray-100 lg:pt-14 mb-14 -z-10"
  >
    <div
      class="flex items-start w-full lg:w-[300px] sticky top-[72px] z-10 mb-4 lg:mb-0"
    >
      <div
        v-if="loadingForm"
        class="h-48 flex flex-col justify-center items-center"
      >
        <progress class="progress w-56"></progress>
      </div>
      <CommonCard v-else class="lg:w-[360px]">
        <ul class="steps steps-horizontal lg:steps-vertical text-sm w-full">
          <li
            data-content="1"
            class="!text-start step cursor-pointer"
            :class="[step === 1 ? 'step-primary font-bold' : '']"
            @click="
              switchForm(1, 'immediateForm1')
              immediateForm2 = true
            "
          >
            <span>
              <label class="hidden lg:inline">Identitas Muballigh</label>
              <component
                :is="require(`~/assets/svg/Check.svg?inline`)"
                v-if="isValidForm1"
                class="w-6 h-6 text-primary inline mb-1"
              ></component>
            </span>
          </li>
          <li
            data-content="2"
            class="!text-start step cursor-pointer"
            :class="[step === 2 ? 'step-primary font-bold' : '']"
            @click="setStep(2)"
          >
            <span>
              <label class="hidden lg:inline"
                >Keanggotaan dalam organisasi</label
              >
              <component
                :is="require(`~/assets/svg/Check.svg?inline`)"
                v-if="isValidForm2"
                class="w-6 h-6 text-primary inline mb-1"
              ></component>
            </span>
          </li>
          <li
            data-content="3"
            class="!text-start step cursor-pointer"
            :class="[step === 3 ? 'step-primary font-bold' : '']"
            @click="setStep(3)"
          >
            <span>
              <label class="hidden lg:inline"
                >Upaya Peningkatan Wawasan /Keterampilan</label
              >
              <component
                :is="require(`~/assets/svg/Check.svg?inline`)"
                v-if="isValidForm3"
                class="w-6 h-6 text-primary inline mb-1"
              ></component>
            </span>
          </li>
          <li
            data-content="4"
            class="!text-start step cursor-pointer"
            :class="[step === 4 ? 'step-primary font-bold' : '']"
            @click="setStep(4)"
          >
            <span>
              <label class="hidden lg:inline">Aktivitas Tabligh</label>
              <component
                :is="require(`~/assets/svg/Check.svg?inline`)"
                v-if="isValidForm4"
                class="w-6 h-6 text-primary inline mb-1"
              ></component>
            </span>
          </li>
        </ul>
        <label
          class="btn btn-error btn-outline lg:flex flex-1 hidden"
          @click="confirmClose"
        >
          Kembali
        </label>
        <button
          v-if="$route.query.mode !== 'detail'"
          class="hidden lg:flex btn btn-primary text-base-100 flex-1"
          :class="{
            'btn-disabled':
              !isValidForm1 || !isValidForm2 || !isValidForm3 || !isValidForm4,
          }"
          @click="
            sendForm({
              id: form4.id ?? '',
              mode: $route.query.mode,
            })
          "
        >
          Simpan dan Selesai
        </button>
      </CommonCard>
    </div>
    <div
      v-if="loadingForm"
      class="h-48 flex flex-col justify-center items-center"
    >
      <progress class="progress w-56"></progress>
    </div>
    <div v-else class="w-full">
      <ValidationObserver ref="form1" v-slot="{ valid, fields }">
        <FormIdentitasMuballigh
          v-if="step === 1"
          :form-success="form1"
          :immidiate="immediateForm1"
          :is-valid-form="valid && JSON.stringify(fields) !== '{}'"
          @form-change="
            setForm($event, 'form1')
            isValidForm1 = $event.valid ?? false
          "
          @validate-success="
            setForm($event, 'form1', 2)
            isValidForm1 = valid
          "
        />
      </ValidationObserver>
      <ValidationObserver ref="form2" v-slot="{ valid, fields }">
        <FormKeanggotaanDalamOrganisasi
          v-if="step === 2"
          :form-success="form2"
          :is-valid-prev-form="isValidForm1"
          :is-valid-form="valid && JSON.stringify(fields) !== '{}'"
          :immidiate="immediateForm2"
          @form-change="
            setForm($event, 'form2')
            isValidForm2 = $event.valid ?? false
          "
          @back-step="
            setForm($event, 'form2', 1)
            immediateForm2 = true
          "
          @validate-success="
            setForm($event, 'form2', 3)
            isValidForm2 = valid
          "
        />
      </ValidationObserver>
      <ValidationObserver ref="form3" v-slot="{ valid, fields }">
        <FormUpayaPeningkatan
          v-if="step === 3"
          :form-success="form3"
          :is-valid-prev-form="isValidForm2"
          :is-valid-form="valid && JSON.stringify(fields) !== '{}'"
          :immidiate="immediateForm3"
          @form-change="
            setForm($event, 'form3')
            isValidForm3 = $event.valid ?? false
          "
          @back-step="
            setForm($event, 'form3', 2)
            immediateForm3 = true
          "
          @validate-success="
            setForm($event, 'form3', 4)
            isValidForm3 = valid
          "
        />
      </ValidationObserver>
      <ValidationObserver ref="form4" v-slot="{ valid, fields }">
        <FormAktivitasTabligh
          v-if="step === 4"
          :form-success="form4"
          :is-valid-prev-form="isValidForm3 && isValidForm2 && isValidForm1"
          :is-valid-form="valid && JSON.stringify(fields) !== '{}'"
          :immidiate="immediateForm4"
          @form-change="
            setForm($event, 'form4')
            isValidForm4 = $event.valid ?? false
          "
          @back-step="
            setForm($event, 'form4', 3)
            immediateForm4 = true
          "
          @validate-success="sendForm"
        />
      </ValidationObserver>
    </div>
  </Container>
</template>

<script>
import { ValidationObserver } from 'vee-validate'
export default {
  name: 'CreateJamaahPage',
  components: {
    ValidationObserver,
  },
  layout: 'dashboard',
  data() {
    return {
      setup: {
        label: {
          error: {
            400: 'Terjadi kesalahan. pastikan data yang akan diedit valid. Kontak admin untuk petunjuk teknis.',
            500: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
            undefined: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
          },
        },
      },
      step: 1,
      form1: null,
      form2: null,
      form3: null,
      form4: null,
      isValidForm1: false,
      isValidForm2: false,
      isValidForm3: false,
      isValidForm4: false,
      immediateForm1: false,
      immediateForm2: false,
      immediateForm3: false,
      immediateForm4: false,
      loadingForm: false,
    }
  },
  head: {
    title: 'Buat Data Keadaan Jamaah',
  },
  mounted() {
    const { mode = 'create', id = '' } = this.$route.query
    if (id && ['edit', 'detail'].includes(mode)) {
      this.loadData(id)
    }
  },
  methods: {
    confirmClose() {
      this.$util.showModal({
        type: 'question',
        context: this.$nuxt,
        text: 'Apakah Anda yakin akan keluar dari form ini?',
        callback: () => {
          this.$router.push('/profil-muballigh')
        },
      })
    },
    async loadData(idData) {
      try {
        this.loadingForm = true
        const res = await this.$store.dispatch('profil_muballigh/get', idData)
        const data = { ...this.transformData(res.data.data, JSON.parse) }
        const {
          id,
          pc,
          kelurahan,
          kecamatan,
          namaLengkap,
          noHp1,
          noHp2,
          email,
          jenisKelamin,
          tempatLahir,
          tanggalLahir,
          statusMarital,
          pendidikanTerakhir,
          pendidikanLuarSekolah,
          pekerjaanPokok,
          pekerjaanSambilan,
          anggota,
          otonom,
          statusDalamJamiyyah,
          internal,
          internalAdditionalMessage,
          eksternal,
          eksternalAdditionalMessage,
          upayaAdditionalMessage,
          upaya,
          lamaAktifBertabligh,
          frequensiBertabligh,
          selainMuballighPc,
          selainMuballighPcAdditionalMessage,
          diundangPcLain,
          diundangPcLainAdditionalMessage,
          diundangPdLain,
          diundangPdLainAdditionalMessage,
          bentukTabligh,
          bentukTablighAdditionalMessage,
          metodeTabligh,
          metodeTablighAdditionalMessage,
          temaTabligh,
          temaTablighAdditionalMessage,
          pembinaanPCAdditionalMessage,
          pembinaanPDAdditionalMessage,
          pembinaanPD,
          pembinaanPC,
          createdAt,
          kendala,
        } = data

        this.form1 = {
          ...this.form1,
          kelurahan,
          kecamatan,
          namaLengkap,
          noHp1,
          noHp2,
          email,
          pc,
          jenisKelamin,
          tempatLahir,
          tanggalLahir: tanggalLahir.split('-').reverse().join('-'),
          statusMarital,
          pendidikanTerakhir,
          pendidikanLuarSekolah,
          pekerjaanPokok,
          pekerjaanSambilan,
        }
        this.form2 = {
          ...this.form2,
          anggota: anggota ? 'true' : 'false',
          otonom,
          statusDalamJamiyyah,
        }
        this.form3 = {
          ...this.form3,
          internal,
          internalAdditionalMessage,
          eksternal,
          eksternalAdditionalMessage,
          upayaAdditionalMessage,
          upaya,
        }
        this.form4 = {
          ...this.form4,
          id,
          lamaAktifBertabligh,
          frequensiBertabligh,
          selainMuballighPc,
          selainMuballighPcAdditionalMessage,
          diundangPcLain,
          diundangPcLainAdditionalMessage,
          diundangPdLain,
          diundangPdLainAdditionalMessage,
          bentukTabligh,
          bentukTablighAdditionalMessage,
          metodeTabligh,
          metodeTablighAdditionalMessage,
          temaTabligh,
          temaTablighAdditionalMessage,
          pembinaanPC,
          pembinaanPD,
          pembinaanPDAdditionalMessage,
          pembinaanPCAdditionalMessage,
          createdAt,
          kendala,
        }
        this.isValidForm1 = true
        this.isValidForm2 = true
        this.isValidForm3 = true
        this.isValidForm4 = true
        this.loadingForm = false
      } catch (error) {
        console.log(`debug ~ error`, error)
        this.$util.showModal({
          type: 'error',
          context: this.$nuxt,
          text: `${
            this.setup.label.error[`${error.response?.status}`]
          } Error Code: ${error.response?.data?.message ?? '-'}`,
        })
        this.$router.push('/profil-muballigh')
      }
    },
    switchForm(step, id) {
      if (this.step !== step) {
        this[id] = true
        this.setStep(step)
      }
    },
    setForm({ payload }, id, step = '') {
      this[id] = payload
      if (step) {
        this.setStep(step)
      }
    },
    setStep(value) {
      this.step = value
    },
    transformData(payload, transformFunction = JSON.stringify) {
      const {
        selainMuballighPcAdditionalMessage,
        diundangPcLainAdditionalMessage,
        diundangPdLainAdditionalMessage,
        bentukTablighAdditionalMessage,
        metodeTablighAdditionalMessage,
        temaTablighAdditionalMessage,
        kendala,
        internalAdditionalMessage,
        eksternalAdditionalMessage,
        upayaAdditionalMessage,
        pembinaanPCAdditionalMessage,
        pembinaanPDAdditionalMessage,
        ...data
      } = payload

      const filterData = {
        selainMuballighPcAdditionalMessage: transformFunction(
          selainMuballighPcAdditionalMessage ?? '[{"id":1,"value":""}]'
        ),
        diundangPcLainAdditionalMessage: transformFunction(
          diundangPcLainAdditionalMessage ?? '[{"id":1,"value":""}]'
        ),
        diundangPdLainAdditionalMessage: transformFunction(
          diundangPdLainAdditionalMessage ?? '[{"id":1,"value":""}]'
        ),
        bentukTablighAdditionalMessage: transformFunction(
          bentukTablighAdditionalMessage ?? '[{"id":1,"value":""}]'
        ),
        metodeTablighAdditionalMessage: transformFunction(
          metodeTablighAdditionalMessage ?? '[{"id":1,"value":""}]'
        ),
        temaTablighAdditionalMessage: transformFunction(
          temaTablighAdditionalMessage ?? '[{"id":1,"value":""}]'
        ),
        internalAdditionalMessage: transformFunction(
          internalAdditionalMessage ?? '[{"id":1,"value":""}]'
        ),
        eksternalAdditionalMessage: transformFunction(
          eksternalAdditionalMessage ?? '[{"id":1,"value":""}]'
        ),
        pembinaanPDAdditionalMessage: transformFunction(
          pembinaanPDAdditionalMessage ?? '[{"id":1,"value":""}]'
        ),
        pembinaanPCAdditionalMessage: transformFunction(
          pembinaanPCAdditionalMessage ?? '[{"id":1,"value":""}]'
        ),
        upayaAdditionalMessage: transformFunction(
          upayaAdditionalMessage ?? '[{"id":1,"value":""}]'
        ),
        kendala: transformFunction(kendala),
      }
      return { ...data, ...filterData }
    },
    async sendForm({ id, mode }) {
      let payloadFinal = {
        ...{
          ...this.form1,
          tanggalLahir: this.$util.getDateBackendFormat(
            new Date(Date.parse(this.form1.tanggalLahir))
          ),
        },
        ...{ ...this.form2, anggota: this.form2.anggota === 'true' },
        ...this.form3,
        ...this.form4,
      }
      payloadFinal = await this.transformData(payloadFinal)

      const config = {
        create: 'save',
        edit: 'update',
        undefined: 'save',
        label_create: 'menyimpan',
        label_undefined: 'menyimpan',
        label_edit: 'memperbarui',
      }
      try {
        const res = await this.$store.dispatch(
          `profil_muballigh/${config[mode]}`,
          { payload: payloadFinal, id }
        )
        if (res) {
          this.$util.showModal({
            type: 'success',
            context: this.$nuxt,
            text: `Berhasil ${config[mode]} data Profil Muballigh`,
            callback: () => {
              this.$router.push('/profil-muballigh')
            },
          })
        }
      } catch (error) {
        console.log(error)
      }
    },
  },
}
</script>
<style scoped>
.steps-vertical .step::before {
  height: 32%;
  width: 3px;
  transform: translateY(-158%);
  margin-left: 46%;
}

.steps .step[data-content]::after {
  @apply text-base-100;
}
</style>
