<template>
  <section
    class="min-h-screen py-8 w-full flex flex-col justify-start items-center bg-gray-100"
  >
    <Container>
      <TableProfilMuballigh
        :data="listTable"
        :pagination="pagination"
        :is-loading="loadingData"
        @page-change="setPage"
        @filter="filterData"
      />
    </Container>
  </section>
</template>

<script>
export default {
  layout: 'dashboard',
  data() {
    return {
      listTable: [],
      loadingData: false,
      pagination: {},
      page: 1,
      keyword: '',
    }
  },
  async fetch() {
    this.loadingData = true
    const response = await this.$store.dispatch(
      'profil_muballigh/getListPofilMuballigh',
      {
        size: 10,
        page: this.page,
        keyword: this.keyword,
      }
    )
    this.loadingData = false
    const { content, ...pagination } = response.data.data
    this.listTable = content
    this.pagination = pagination
  },
  head: {
    title: 'List Profil Muballigh',
  },
  watch: {
    page() {
      this.$fetch()
    },
  },
  methods: {
    async filterData($event) {
      this.keyword = $event
      this.page = 1
      await this.$fetch()
    },
    setPage(page) {
      this.page = page
    },
  },
}
</script>
