<template>
  <CommonCard>
    <!-- title -->
    <h2>Form {{ setup.label.header[$route.query.mode] }} Muballigh</h2>
    <p class="pb-4">
      <span class="card-title text-2xl lg:text-4xl">Aktivitas Tabligh</span>
      <label
        v-if="$route.query.mode === 'detail'"
        class="btn btn-primary btn-xs btn-outline"
        @click="switchToEdit"
      >
        Klik Untuk Edit Data
      </label>
    </p>

    <div
      v-if="loadingForm"
      class="h-48 flex flex-col justify-center items-center"
    >
      <progress class="progress w-56"></progress>
    </div>
    <!-- form -->
    <FieldForm v-else ref="form" v-slot="{ valid }" @submit="saveForm">
      <div class="flex flex-col pb-8">
        <FieldText
          v-model="payload.lamaAktifBertabligh"
          :readonly="$route.query.mode === 'detail'"
          :initial-value="payload.lamaAktifBertabligh"
          type="text"
          label="1) Lamanya aktif bertabligh. Sebutkan berapa tahun:"
          placeholder="3 Tahun"
          :immediate="isImmediate"
          rules="required|numeric"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text text-base">{{ label }}</span>
            </label>
          </template>
        </FieldText>
        <FieldText
          v-model="payload.frequensiBertabligh"
          :readonly="$route.query.mode === 'detail'"
          :initial-value="payload.frequensiBertabligh"
          type="text"
          label="2) Frekuensi bertabligh per bulan. Sebutkan berapa kali:"
          placeholder="3 Kali"
          :immediate="isImmediate"
          rules="required|numeric"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text text-base">{{ label }}</span>
            </label>
          </template>
        </FieldText>
        <CommonAngketOption
          :options="[
            {
              value: 'YA',
              label: 'Iya',
              name: 'selainMuballighPc',
            },
            {
              value: 'TIDAK',
              label: 'Tidak',
              name: 'selainMuballighPc',
            },
          ]"
          question="3) Selain menjadi mubaligh PC, apakah diutus menjadi mubaligh PD/PW/PP?"
          mode="vertical"
          :is-show-additional="['YA'].includes(payload.selainMuballighPc)"
          :immediate="isImmediate"
          :required-if="['YA'].includes(payload.selainMuballighPc)"
          :value="payload.selainMuballighPc"
          label-additional="Sebutkan:"
          place-holder-additional="Muballigh PC/PW/PP A"
          @change="setValue($event.target.value, 'selainMuballighPc')"
          @input-additional="
            setValue($event, 'selainMuballighPcAdditionalMessage')
          "
        >
          <template #additional>
            <CommonAngketArray
              :options="payload.selainMuballighPcAdditionalMessage"
              question=""
              placeholder="Muballigh PC/PW/PP A"
              :immediate="isImmediate"
              @add-item="
                ($event) =>
                  payload.selainMuballighPcAdditionalMessage.push($event)
              "
              @input="
                ({ index, value }) =>
                  payload.selainMuballighPcAdditionalMessage.splice(index, 1, {
                    ...payload.selainMuballighPcAdditionalMessage[index],
                    value,
                  })
              "
              @remove-item="
                ({ index }) =>
                  removeItem(payload.selainMuballighPcAdditionalMessage, index)
              "
            />
          </template>
        </CommonAngketOption>
        <CommonAngketOption
          :options="[
            {
              value: 'YA',
              label: 'Iya',
              name: 'diundangPcLain',
            },
            {
              value: 'TIDAK',
              label: 'Tidak',
              name: 'diundangPcLain',
            },
          ]"
          question="4) Apakah pernah diundang untuk mengisi pengajian di Pimpinan Cabang lain"
          mode="vertical"
          :is-show-additional="['YA'].includes(payload.diundangPcLain)"
          :immediate="isImmediate"
          :required-if="['YA'].includes(payload.diundangPcLain)"
          :value="payload.diundangPcLain"
          label-additional="Sebutkan:"
          place-holder-additional="Muballigh PC/PW/PP A"
          @change="setValue($event.target.value, 'diundangPcLain')"
          @input-additional="
            setValue($event, 'diundangPcLainAdditionalMessage')
          "
        >
          <template #additional>
            <CommonAngketArray
              :options="payload.diundangPcLainAdditionalMessage"
              question=""
              placeholder="Muballigh PC/PW/PP A"
              :immediate="isImmediate"
              @add-item="
                ($event) => payload.diundangPcLainAdditionalMessage.push($event)
              "
              @input="
                ({ index, value }) =>
                  payload.diundangPcLainAdditionalMessage.splice(index, 1, {
                    ...payload.diundangPcLainAdditionalMessage[index],
                    value,
                  })
              "
              @remove-item="
                ({ index }) =>
                  removeItem(payload.diundangPcLainAdditionalMessage, index)
              "
            />
          </template>
        </CommonAngketOption>
        <CommonAngketOption
          :options="[
            {
              value: 'YA',
              label: 'Iya',
              name: 'diundangPdLain',
            },
            {
              value: 'TIDAK',
              label: 'Tidak',
              name: 'diundangPdLain',
            },
          ]"
          question="5) Apakah pernah diundang untuk mengisi pengajian di PC diluar PD Kab Bandung"
          mode="vertical"
          :is-show-additional="['YA'].includes(payload.diundangPdLain)"
          :immediate="isImmediate"
          :required-if="['YA'].includes(payload.diundangPdLain)"
          :value="payload.diundangPdLain"
          label-additional="Sebutkan:"
          place-holder-additional="Muballigh PC/PW/PP A"
          @change="setValue($event.target.value, 'diundangPdLain')"
          @input-additional="
            setValue($event, 'diundangPdLainAdditionalMessage')
          "
        >
          <template #additional>
            <CommonAngketArray
              :options="payload.diundangPdLainAdditionalMessage"
              question=""
              placeholder="Muballigh PC/PW/PP A"
              :immediate="isImmediate"
              @add-item="
                ($event) => payload.diundangPdLainAdditionalMessage.push($event)
              "
              @input="
                ({ index, value }) =>
                  payload.diundangPdLainAdditionalMessage.splice(index, 1, {
                    ...payload.diundangPdLainAdditionalMessage[index],
                    value,
                  })
              "
              @remove-item="
                ({ index }) =>
                  removeItem(payload.diundangPdLainAdditionalMessage, index)
              "
            />
          </template>
        </CommonAngketOption>
        <CommonAngketOption
          :options="[
            {
              value: 'PERNAH',
              label: 'Pernah',
              name: 'pembinaanPC',
            },
            {
              value: 'TIDAK_PERNAH',
              label: 'Tidak Pernah',
              name: 'pembinaanPC',
            },
          ]"
          question="6) Kegiatan pembinaan mubaligh di jam’iyyah Persis di tingkat cabang"
          mode="vertical"
          :is-show-additional="['PERNAH'].includes(payload.pembinaanPC)"
          :immediate="isImmediate"
          :required-if="['PERNAH'].includes(payload.pembinaanPC)"
          :value="payload.pembinaanPC"
          label-additional="Sebutkan:"
          place-holder-additional="Kegiatan A"
          @change="setValue($event.target.value, 'pembinaanPC')"
          @input-additional="setValue($event, 'pembinaanPCAdditionalMessage')"
        >
          <template #additional>
            <CommonAngketArray
              :options="payload.pembinaanPCAdditionalMessage"
              question=""
              placeholder="Kegiatan A"
              :immediate="isImmediate"
              @add-item="
                ($event) => payload.pembinaanPCAdditionalMessage.push($event)
              "
              @input="
                ({ index, value }) =>
                  payload.pembinaanPCAdditionalMessage.splice(index, 1, {
                    ...payload.pembinaanPCAdditionalMessage[index],
                    value,
                  })
              "
              @remove-item="
                ({ index }) =>
                  removeItem(payload.pembinaanPCAdditionalMessage, index)
              "
            />
          </template>
        </CommonAngketOption>
        <CommonAngketOption
          :options="[
            {
              value: 'PERNAH',
              label: 'Pernah',
              name: 'pembinaanPD',
            },
            {
              value: 'TIDAK_PERNAH',
              label: 'Tidak Pernah',
              name: 'pembinaanPD',
            },
          ]"
          question="7) Kegiatan pembinaan mubaligh di jam’iyyah Persis di tingkat daerah"
          mode="vertical"
          :is-show-additional="['PERNAH'].includes(payload.pembinaanPD)"
          :immediate="isImmediate"
          :required-if="['PERNAH'].includes(payload.pembinaanPD)"
          :value="payload.pembinaanPD"
          label-additional="Sebutkan:"
          place-holder-additional="Kegiatan A"
          @change="setValue($event.target.value, 'pembinaanPD')"
          @input-additional="setValue($event, 'pembinaanPDAdditionalMessage')"
        >
          <template #additional>
            <CommonAngketArray
              :options="payload.pembinaanPDAdditionalMessage"
              question=""
              placeholder="Kegiatan A"
              :immediate="isImmediate"
              @add-item="
                ($event) => payload.pembinaanPDAdditionalMessage.push($event)
              "
              @input="
                ({ index, value }) =>
                  payload.pembinaanPDAdditionalMessage.splice(index, 1, {
                    ...payload.pembinaanPDAdditionalMessage[index],
                    value,
                  })
              "
              @remove-item="
                ({ index }) =>
                  removeItem(payload.pembinaanPDAdditionalMessage, index)
              "
            />
          </template>
        </CommonAngketOption>
        <CommonAngketOption
          :options="[
            {
              value: 'PENGAJIAN',
              label: 'Memberi pengajian (dengan tatap muka langsung)',
              name: 'bentukTabligh',
            },
            {
              value: 'MEDIA',
              label:
                'Mengisi dan mengasuh mimbar agara di radio/yutube/medsos/blog/media cetak',
              name: 'bentukTabligh',
            },
            {
              value: 'KHUTBAH',
              label: 'Memberi Khutbah',
              name: 'bentukTabligh',
            },
            {
              value: 'LAINNYA',
              label: 'Lainnya',
              name: 'bentukTabligh',
            },
          ]"
          question="8) Bentuk tabligh yang dilakukan"
          :is-show-additional="['LAINNYA'].includes(payload.bentukTabligh)"
          :immediate="isImmediate"
          :required-if="['LAINNYA'].includes(payload.bentukTabligh)"
          :value="payload.bentukTabligh"
          label-additional="Sebutkan:"
          place-holder-additional="Muballigh PC/PW/PP A"
          @change="setValue($event.target.value, 'bentukTabligh')"
          @input-additional="setValue($event, 'bentukTablighAdditionalMessage')"
        >
          <template #additional>
            <CommonAngketArray
              :options="payload.bentukTablighAdditionalMessage"
              question=""
              placeholder="Muballigh PC/PW/PP A"
              :immediate="isImmediate"
              @add-item="
                ($event) => payload.bentukTablighAdditionalMessage.push($event)
              "
              @input="
                ({ index, value }) =>
                  payload.bentukTablighAdditionalMessage.splice(index, 1, {
                    ...payload.bentukTablighAdditionalMessage[index],
                    value,
                  })
              "
              @remove-item="
                ({ index }) =>
                  removeItem(payload.bentukTablighAdditionalMessage, index)
              "
            />
          </template>
        </CommonAngketOption>
        <CommonAngketOption
          :options="[
            {
              value: 'ASPEK_AQIDAH',
              label: 'Aspek Aqidah',
              name: 'metodeTabligh',
            },
            {
              value: 'IBADAH',
              label: 'Ibadah',
              name: 'metodeTabligh',
            },
            {
              value: 'MUAMALAH',
              label: 'Muamalah',
              name: 'metodeTabligh',
            },
            {
              value: 'AKHLAK',
              label: 'Akhlak',
              name: 'metodeTabligh',
            },
            {
              value: 'LAINNYA',
              label: 'Lainnya',
              name: 'metodeTabligh',
            },
          ]"
          question="9) Metode yang paling banyak digunakan ketika memberi pengajian:"
          :is-show-additional="['LAINNYA'].includes(payload.metodeTabligh)"
          :immediate="isImmediate"
          mode="vertical"
          :required-if="['LAINNYA'].includes(payload.metodeTabligh)"
          :value="payload.metodeTabligh"
          label-additional="Sebutkan:"
          place-holder-additional="Muballigh PC/PW/PP A"
          @change="setValue($event.target.value, 'metodeTabligh')"
          @input-additional="setValue($event, 'metodeTablighAdditionalMessage')"
        >
          <template #additional>
            <CommonAngketArray
              :options="payload.metodeTablighAdditionalMessage"
              question=""
              placeholder="Muballigh PC/PW/PP A"
              :immediate="isImmediate"
              @add-item="
                ($event) => payload.metodeTablighAdditionalMessage.push($event)
              "
              @input="
                ({ index, value }) =>
                  payload.metodeTablighAdditionalMessage.splice(index, 1, {
                    ...payload.metodeTablighAdditionalMessage[index],
                    value,
                  })
              "
              @remove-item="
                ({ index }) =>
                  removeItem(payload.metodeTablighAdditionalMessage, index)
              "
            />
          </template>
        </CommonAngketOption>
        <span class="label-text text-base"
          >10) Kendala apa yang sering dihadapi ketika melakukan tabligh?</span
        >
        <CommonAngketArray
          :options="payload.kendala"
          question=""
          placeholder="Kendala"
          :immediate="isImmediate"
          @add-item="($event) => payload.kendala.push($event)"
          @input="
            ({ index, value }) =>
              payload.kendala.splice(index, 1, {
                ...payload.kendala[index],
                value,
              })
          "
          @remove-item="({ index }) => removeItem(payload.kendala, index)"
        />
      </div>
      <div class="flex justify-end flex-row w-full space-x-3">
        <div class="flex w-full justify-start space-x-3">
          <label
            class="btn btn-error btn-outline flex-1 lg:flex-none lg:w-32"
            @click="$emit('back-step', { step: 2, payload })"
          >
            Sebelumnya
          </label>
          <button
            v-if="$route.query.mode !== 'detail'"
            type="submit"
            class="btn btn-primary text-base-100 flex-1 lg:flex-none lg:w-56"
            :class="{ 'btn-disabled': !valid || !isValidPrevForm }"
            value="submit"
          >
            Simpan dan Selesai
          </button>
        </div>
      </div>
    </FieldForm>
  </CommonCard>
</template>

<script>
export default {
  props: {
    isValidForm: {
      type: Boolean,
      default: false,
    },
    isValidPrevForm: {
      type: Boolean,
      default: false,
    },
    formSuccess: {
      type: Object,
      default: () => null,
    },
    immidiate: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      listPendidikan: [
        { name: 'SD', value: 'SD' },
        { name: 'MI', value: 'MI' },
        { name: 'SMP', value: 'SMP' },
        { name: 'MTS', value: 'MTS' },
        { name: 'SMA', value: 'SMA' },
        { name: 'SMK', value: 'SMK' },
        { name: 'MA', value: 'MA' },
        { name: 'MLN', value: 'MLN' },
        { name: 'D1', value: 'D1' },
        { name: 'D2', value: 'D2' },
        { name: 'D3', value: 'D3' },
        { name: 'D4', value: 'D4' },
        { name: 'S1', value: 'S1' },
        { name: 'S3', value: 'S3' },
      ],
      loadingForm: false,
      setup: {
        label: {
          button: {
            create: 'Simpan',
            undefined: 'Simpan',
            edit: 'Update',
          },
          header: {
            create: 'Create',
            undefined: 'Create',
            detail: 'Detail',
            edit: 'Update',
          },
          error: {
            400: 'Terjadi kesalahan. pastikan data yang akan diedit valid. Kontak admin untuk petunjuk teknis.',
            500: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
            undefined: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
          },
        },
      },
      payload: {
        lamaAktifBertabligh: null,
        frequensiBertabligh: null,
        selainMuballighPc: '',
        pembinaanPC: '',
        pembinaanPCAdditionalMessage: [{ id: 1, value: '' }],
        pembinaanPD: '',
        pembinaanPDAdditionalMessage: [{ id: 1, value: '' }],
        selainMuballighPcAdditionalMessage: [{ id: 1, value: '' }],
        diundangPcLain: '',
        diundangPcLainAdditionalMessage: [{ id: 1, value: '' }],
        diundangPdLain: '',
        diundangPdLainAdditionalMessage: [{ id: 1, value: '' }],
        bentukTabligh: '',
        bentukTablighAdditionalMessage: [{ id: 1, value: '' }],
        metodeTabligh: '',
        metodeTablighAdditionalMessage: [{ id: 1, value: '' }],
        temaTabligh: '',
        temaTablighAdditionalMessage: [{ id: 1, value: '' }],
        kendala: [{ id: 1, value: '' }],
      },
    }
  },
  computed: {
    isImmediate() {
      return this.immidiate || this.$route.query.mode === 'edit'
    },
  },
  watch: {
    payload: {
      handler(val) {
        this.$emit('form-change', { payload: val, valid: this.isValidForm })
      },
      deep: true,
    },
    isValidForm(val) {
      this.$emit('form-change', { payload: this.payload, valid: val })
    },
  },
  mounted() {
    this.loadingForm = true
    if (this.formSuccess) {
      this.payload = { ...this.formSuccess }
    }
    setTimeout(() => {
      this.loadingForm = false
    }, 1000)
  },
  methods: {
    removeItem(array, index) {
      array.splice(index, 1)
    },
    setValue(value, id) {
      this.payload[id] = value
    },
    switchToEdit() {
      this.loadingForm = true
      this.$router.push({
        query: {
          ...this.$route.query,
          mode: 'edit',
        },
      })
      setTimeout(() => {
        this.loadingForm = false
      }, 1000)
    },
    async loadData(id) {
      try {
        this.loadingForm = true
        const res = await this.$store.dispatch('keadaan_jamaah/get', id)
        this.payload = { ...res.data.data }
        this.setupEditData()
        this.loadingForm = false
      } catch (error) {
        this.$util.showModal({
          type: 'error',
          context: this.$nuxt,
          text: `${
            this.setup.label.error[`${error.response?.status}`]
          } Error Code: ${error.response?.data?.message ?? '-'}`,
        })
        this.$router.push('/keadaan-jamaah')
      }
    },
    setEditState(data) {
      if (Array.isArray(data)) {
        data.forEach(({ id, value }) => {
          this.setup[id].value = value
          this.setup[id].disable = false
        })
      } else {
        const { id, value } = data
        this.setup[id].value = value
        this.setup[id].disable = false
      }
    },
    saveForm() {
      this.$emit('validate-success', {
        payload: this.payload,
        id: this.payload.id ?? '',
        mode: this.$route.query.mode,
      })
    },
    clearState(id) {
      if (Array.isArray(id)) {
        id.forEach((data) => {
          this.setup[data].list = []
          this.setup[data].value = null
          this.setup[data].pagination = null
          this.setup[data].disable = true
        })
      } else {
        this.setup[id].list = []
        this.setup[id].value = null
        this.setup[id].pagination = null
        this.setup[id].disable = true
      }
    },
    setSelectedPW({ item }) {
      const { kdPw, namaPw } = item
      this.clearState(['pd', 'pc'])
      this.setup.pd.disable = false
      this.setup.pw.value = `${kdPw} | ${namaPw}`
      this.payload.pc.pd.pw = { ...item }
    },
    setSelectedPD({ item }) {
      const { kdPd, namaPd } = item
      this.clearState('pc')
      this.setup.pc.disable = false
      this.setup.pd.value = `${kdPd} | ${namaPd}`
      this.payload.pc.pd = { ...item }
    },
    setSelectedPC({ item }) {
      const { kdPc, namaPc } = item
      this.clearState('pc')
      this.setup.pc.disable = false
      this.setup.pc.value = `${kdPc} | ${namaPc}`
      this.payload.pc = { ...item }
    },
    setSelectedProvinsi({ item }) {
      const { kode, nama } = item
      this.clearState(['kota', 'kecamatan'])
      this.setup.kota.disable = false
      this.setup.provinsi.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan.kota.provinsi = { ...item }
    },
    setSelectedKota({ item }) {
      const { kode, nama } = item
      this.clearState(['kecamatan'])
      this.setup.kecamatan.disable = false
      this.setup.kota.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan.kota = { ...item }
    },
    setSelectedKecamatan({ item }) {
      const { kode, nama } = item
      this.setup.kelurahan.disable = false
      this.setup.kecamatan.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan = { ...item }
    },
    setSelectedKelurahan({ item }) {
      const { kode, nama } = item
      this.setup.kecamatan.disable = false
      this.setup.kelurahan.value = `${kode} | ${nama}`
      this.payload.kelurahan = { ...item }
    },
    async loadListPW(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pw.loading = true
      const response = await this.$store.dispatch('wilayah/getListPW', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
      })
      const { content, ...pagination } = response.data.data
      this.setup.pw.list = content
      this.setup.pw.pagination = pagination
      this.setup.pw.loading = false
    },
    async loadListPD(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pd.loading = true
      const response = await this.$store.dispatch('wilayah/getListPD', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-pw': this.payload.pc.pd.pw.kdPw,
      })
      const { content, ...pagination } = response.data.data
      this.setup.pd.list = content
      this.setup.pd.pagination = pagination
      this.setup.pd.loading = false
    },
    async loadListPC(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pc.loading = true
      const response = await this.$store.dispatch('wilayah/getListPC', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-pd': this.payload.pc.pd.kdPd,
      })
      const { content, ...pagination } = response.data.data
      this.setup.pc.list = content
      this.setup.pc.pagination = pagination
      this.setup.pc.loading = false
    },
    async loadListProvinsi(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.provinsi.loading = true
      const response = await this.$store.dispatch('wilayah/getListProvinsi', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
      })
      const { content, ...pagination } = response.data.data
      this.setup.provinsi.list = content
      this.setup.provinsi.pagination = pagination
      this.setup.provinsi.loading = false
    },
    async loadListKota(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kota.loading = true
      const response = await this.$store.dispatch('wilayah/getListKota', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-provinsi': this.payload.kelurahan.kecamatan.kota.provinsi.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kota.list = content
      this.setup.kota.pagination = pagination
      this.setup.kota.loading = false
    },
    async loadListKecamatan(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kecamatan.loading = true
      const response = await this.$store.dispatch('wilayah/getListKecamatan', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-kota': this.payload.kelurahan.kecamatan.kota.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kecamatan.list = content
      this.setup.kecamatan.pagination = pagination
      this.setup.kecamatan.loading = false
    },
    async loadListKelurahan(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kelurahan.loading = true
      const response = await this.$store.dispatch('wilayah/getListKelurahan', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-kecamatan': this.payload.kelurahan.kecamatan.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kelurahan.list = content
      this.setup.kelurahan.pagination = pagination
      this.setup.kelurahan.loading = false
    },
  },
}
</script>
