<template>
  <CommonCard>
    <!-- title -->
    <h2>Form {{ setup.label.header[$route.query.mode] }} Angket Cabang</h2>
    <p class="pb-4">
      <span class="card-title text-2xl lg:text-4xl">Pertanyaan Angket</span>
      <label
        v-if="$route.query.mode === 'detail'"
        class="btn btn-primary btn-xs btn-outline"
        @click="switchToEdit"
      >
        Klik Untuk Edit Data
      </label>
    </p>
    <div
      v-if="loadingForm"
      class="h-48 flex flex-col justify-center items-center"
    >
      <progress class="progress w-56"></progress>
    </div>
    <!-- form -->
    <FieldForm v-else ref="form" v-slot="{ valid }" @submit="saveForm">
      <div class="flex flex-col w-full">
        <CommonAngketOption
          :options="[
            {
              value: 'a',
              label: 'Berdasarkan ajuan dari pimpinan jama’ah',
              name: 'q1',
            },
            {
              value: 'b',
              label: 'Berdasarkan rekomendasi perorangan',
              name: 'q1',
            },
            {
              value: 'c',
              label: 'Ditunjuk langsung oleh bidang dakwah',
              name: 'q1',
            },
            { value: 'd', label: 'Lainnya', name: 'q1' },
          ]"
          question="1) Bagaimana proses rekrutmen mubaligh cabang ?"
          :is-show-additional="payload.q1 === 'd'"
          :immediate="isImmediate"
          :model-additional="payload.q1AdditionalMessage"
          :required-if="payload.q1 === 'd'"
          :value="payload.q1"
          label-additional="Sebutkan:"
          place-holder-additional="Berdasarkan..."
          @change="setValue($event.target.value, 'q1')"
          @input-additional="setValue($event, 'q1AdditionalMessage')"
        />
        <CommonAngketOption
          :options="[
            {
              value: 'a',
              label: 'Iya. Sebutkan setahun berapa kali',
              name: 'q2',
            },
            {
              value: 'b',
              label: 'Tidak rutin/insidental. Sebutkan alasannya.',
              name: 'q2',
            },
            {
              value: 'c',
              label: 'Belum pernah. Sebutkan alasannya.',
              name: 'q2',
            },
          ]"
          question="2) Apakah Pimpinan Cabang rutin mengadakan pembinaan muballigh?"
          :is-show-additional="true"
          :immediate="isImmediate"
          :model-additional="payload.q2AdditionalMessage"
          :required-if="true"
          :value="payload.q2"
          label-additional="Sebutkan:"
          place-holder-additional="Berdasarkan..."
          @change="setValue($event.target.value, 'q2')"
          @input-additional="setValue($event, 'q2AdditionalMessage')"
        />
        <CommonAngketArray
          :options="payload.q3"
          question="3) Program kerja bidang dakwah Pimpinan Cabang."
          placeholder="Isikan Program..."
          :immediate="isImmediate"
          @add-item="($event) => payload.q3.push($event)"
          @input="
            ({ index, value }) =>
              payload.q3.splice(index, 1, {
                ...payload.q3[index],
                value,
              })
          "
          @remove-item="({ index }) => removeItem(payload.q3, index)"
        />
        <CommonAngketArray
          :options="payload.q4"
          question="4) Apa saja langkah cabang dalam upaya kaderisasi mubaligh?"
          placeholder="Isikan Upaya..."
          :immediate="isImmediate"
          @add-item="($event) => payload.q4.push($event)"
          @input="
            ({ index, value }) =>
              payload.q4.splice(index, 1, {
                ...payload.q4[index],
                value,
              })
          "
          @remove-item="({ index }) => removeItem(payload.q4, index)"
        />
        <CommonAngketOption
          :options="[
            {
              value: 'a',
              label: 'Selalu.',
              name: 'q5',
            },
            {
              value: 'b',
              label: 'Kadang-kadang. Sebutkan alasannya.',
              name: 'q5',
            },
            {
              value: 'c',
              label: 'Belum pernah. Sebutkan alasannya.',
              name: 'q5',
            },
          ]"
          question="5) Apakah Pimpinan Cabang selalu mengikuti pembinaan mubalig dari Pimpinan Daerah?"
          :is-show-additional="['b', 'c'].includes(payload.q5)"
          :immediate="isImmediate"
          :model-additional="payload.q5AdditionalMessage"
          :required-if="['b', 'c'].includes(payload.q5)"
          :value="payload.q5"
          label-additional="Sebutkan:"
          place-holder-additional="Berdasarkan..."
          @change="setValue($event.target.value, 'q5')"
          @input-additional="setValue($event, 'q5AdditionalMessage')"
        />
        <CommonAngketOption
          :options="[
            {
              value: 'a',
              label: 'Selalu.',
              name: 'q6',
            },
            {
              value: 'b',
              label: 'Kadang-kadang. Sebutkan alasannya.',
              name: 'q6',
            },
            {
              value: 'c',
              label: 'Belum pernah. Sebutkan alasannya.',
              name: 'q6',
            },
          ]"
          question="6)	Apakah Pimpinan Cabang mensosialisasikan pembinaan mubalig ke mubaligh PC?"
          :is-show-additional="['b', 'c'].includes(payload.q6)"
          :immediate="isImmediate"
          :model-additional="payload.q6AdditionalMessage"
          :required-if="['b', 'c'].includes(payload.q6)"
          :value="payload.q6"
          label-additional="Sebutkan:"
          place-holder-additional="Alasannya ..."
          @change="setValue($event.target.value, 'q6')"
          @input-additional="setValue($event, 'q6AdditionalMessage')"
        />
        <CommonAngketArray
          :options="payload.q7"
          question="7) Masalah-masalah dakwah yang dihadapi di Pimpinan Cabang ?"
          placeholder="Isikan Masalah..."
          :immediate="isImmediate"
          @add-item="($event) => payload.q7.push($event)"
          @input="
            ({ index, value }) =>
              payload.q7.splice(index, 1, {
                ...payload.q7[index],
                value,
              })
          "
          @remove-item="({ index }) => removeItem(payload.q7, index)"
        />
        <CommonAngketOption
          :options="[
            {
              value: 'a',
              label: 'Ada. Sebutkan berapa desa dan alasannya.',
              name: 'q8',
            },
            {
              value: 'b',
              label: 'Tidak ada.',
              name: 'q8',
            },
          ]"
          question="8) Apakah masih terdapat desa yang belum tersentuh dakwah Persis ?"
          :is-show-additional="['a'].includes(payload.q8)"
          :immediate="isImmediate"
          :model-additional="payload.q8AdditionalMessage"
          :required-if="['a'].includes(payload.q8)"
          :value="payload.q8"
          label-additional="Sebutkan:"
          place-holder-additional="X Desa. Alasannya ..."
          @change="setValue($event.target.value, 'q8')"
          @input-additional="setValue($event, 'q8AdditionalMessage')"
        />
        <CommonAngketOption
          :options="[
            {
              value: 'a',
              label: 'Ada. Bentuknnya seperti apa?',
              name: 'q9',
            },
            {
              value: 'b',
              label: 'Tidak ada.',
              name: 'q9',
            },
          ]"
          question="9) Apakah masih ada mubaligh yang mengalami gangguan dari pihak lain saat berdakwah?"
          :is-show-additional="['a'].includes(payload.q9)"
          :immediate="isImmediate"
          :model-additional="payload.q9AdditionalMessage"
          :required-if="['a'].includes(payload.q9)"
          :value="payload.q9"
          label-additional="Sebutkan:"
          place-holder-additional="Bentuk gangguannya ..."
          @change="setValue($event.target.value, 'q9')"
          @input-additional="setValue($event, 'q9AdditionalMessage')"
        />
        <CommonAngketArray
          :options="payload.q10"
          question="10) Tantangan dakwah dari aspek eksternal (luar) apa saja?"
          placeholder="Isikan Tantangan..."
          :immediate="isImmediate"
          @add-item="($event) => payload.q10.push($event)"
          @input="
            ({ index, value }) =>
              payload.q10.splice(index, 1, {
                ...payload.q10[index],
                value,
              })
          "
          @remove-item="({ index }) => removeItem(payload.q10, index)"
        />
        <CommonAngketArray
          :options="payload.q11"
          question="11)	Tantangan dakwah dari dalam jam’iyyah apa saja ?"
          placeholder="Isikan Tantangan..."
          :immediate="isImmediate"
          @add-item="($event) => payload.q11.push($event)"
          @input="
            ({ index, value }) =>
              payload.q11.splice(index, 1, {
                ...payload.q11[index],
                value,
              })
          "
          @remove-item="({ index }) => removeItem(payload.q11, index)"
        />
        <CommonAngketOption
          :options="[
            {
              value: 'a',
              label: 'Ada. Aliran apa saja?',
              name: 'q12',
            },
            {
              value: 'b',
              label: 'Tidak ada.',
              name: 'q12',
            },
          ]"
          question="12)	Apakah di sekitar wilayah cabang terdapat aliran-aliran hadamah/sesat?"
          :is-show-additional="['a'].includes(payload.q12)"
          :immediate="isImmediate"
          :required-if="['a'].includes(payload.q12)"
          :value="payload.q12"
          label-additional="Sebutkan:"
          place-holder-additional="Setahun X kali"
          @change="
            setValue($event.target.value, 'q12', {
              condition: 'a',
              target: 'q12AdditionalMessage',
            })
          "
          @input-additional="setValue($event, 'q12AdditionalMessage')"
        >
          <template #additional>
            <CommonAngketArray
              :options="payload.q12AdditionalMessage"
              question=""
              placeholder="Isikan Aliran..."
              :immediate="isImmediate"
              @add-item="($event) => payload.q12AdditionalMessage.push($event)"
              @input="
                ({ index, value }) =>
                  payload.q12AdditionalMessage.splice(index, 1, {
                    ...payload.q12AdditionalMessage[index],
                    value,
                  })
              "
              @remove-item="
                ({ index }) => removeItem(payload.q12AdditionalMessage, index)
              "
            />
          </template>
        </CommonAngketOption>
        <CommonAngketOption
          :options="[
            {
              value: 'a',
              label: 'Ada. Apa saja?',
              name: 'q13',
            },
            {
              value: 'b',
              label: 'Tidak ada.',
              name: 'q13',
            },
          ]"
          question="13)	Apakah di sekitar wilayah cabang terdapat rumah ibadah agama lain?"
          :is-show-additional="['a'].includes(payload.q13)"
          :immediate="isImmediate"
          :required-if="['a'].includes(payload.q13)"
          :value="payload.q13"
          label-additional="Sebutkan:"
          @change="
            setValue($event.target.value, 'q13', {
              condition: 'a',
              target: 'q13AdditionalMessage',
            })
          "
          @input-additional="setValue($event, 'q13AdditionalMessage')"
        >
          <template #additional>
            <CommonAngketArray
              :options="payload.q13AdditionalMessage"
              question=""
              placeholder="Isikan Agama..."
              :immediate="isImmediate"
              @add-item="($event) => payload.q13AdditionalMessage.push($event)"
              @input="
                ({ index, value }) =>
                  payload.q13AdditionalMessage.splice(index, 1, {
                    ...payload.q13AdditionalMessage[index],
                    value,
                  })
              "
              @remove-item="
                ({ index }) => removeItem(payload.q13AdditionalMessage, index)
              "
            />
          </template>
        </CommonAngketOption>
        <CommonAngketOption
          :options="[
            {
              value: 'a',
              label: 'Iya. Sebutkan setahun berapa kali',
              name: 'q14',
            },
            {
              value: 'b',
              label: 'Tidak.',
              name: 'q14',
            },
          ]"
          question="14) Apakah PC mengadakan evaluasi dakwah mubaligh?"
          :is-show-additional="['a'].includes(payload.q14)"
          :immediate="isImmediate"
          :model-additional="payload.q14AdditionalMessage"
          :required-if="['a'].includes(payload.q14)"
          :value="payload.q14"
          label-additional="Sebutkan:"
          place-holder-additional="Setahun X kali"
          @change="setValue($event.target.value, 'q14')"
          @input-additional="setValue($event, 'q14AdditionalMessage')"
        />
      </div>
      <div class="flex justify-end flex-row w-full space-x-3">
        <label
          class="btn btn-error btn-outline flex-1 lg:flex-none lg:w-40 text-base-100"
          @click="$emit('back-step', { step: 1, payload })"
        >
          Kembali
        </label>
        <button
          v-if="$route.query.mode !== 'detail'"
          type="submit"
          class="btn btn-primary text-base-100 flex-1 lg:flex-none lg:w-32"
          :class="{ 'btn-disabled': !valid || !isValidPrevForm }"
          value="submit"
        >
          {{ setup.label.button[$route.query.mode] }}
        </button>
      </div>
    </FieldForm>
  </CommonCard>
</template>

<script>
export default {
  props: {
    formSuccess: {
      type: Object,
      default: () => null,
    },
    isValidPrevForm: {
      type: Boolean,
      default: false,
    },
    immidiate: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loadingForm: false,
      setup: {
        label: {
          button: {
            create: 'Simpan',
            undefined: 'Simpan',
            edit: 'Update',
          },
          header: {
            create: 'Create',
            undefined: 'Create',
            detail: 'Detail',
            edit: 'Update',
          },
          error: {
            400: 'Terjadi kesalahan. pastikan data yang akan diedit valid. Kontak admin untuk petunjuk teknis.',
            500: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
            undefined: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
          },
        },
      },
      payload: {
        q1: '',
        q1AdditionalMessage: '',
        q2: '',
        q2AdditionalMessage: '',
        q3: [{ id: 1, value: '' }],
        q4: [{ id: 1, value: '' }],
        q5: '',
        q5AdditionalMessage: '',
        q6: '',
        q6AdditionalMessage: '',
        q8: '',
        q7: [{ id: 1, value: '' }],
        q8AdditionalMessage: '',
        q9: '',
        q9AdditionalMessage: '',
        q10: [{ id: 1, value: '' }],
        q11: [{ id: 1, value: '' }],
        q12: '',
        q12AdditionalMessage: [{ id: 1, value: '' }],
        q13: '',
        q13AdditionalMessage: [{ id: 1, value: '' }],
        q14: '',
        q14AdditionalMessage: '',
        createdAt: '',
        updatedAt: '',
        deletedAt: '',
        createdBy: '',
        updatedBy: '',
        deletedBy: '',
      },
    }
  },
  computed: {
    isImmediate() {
      return this.immidiate || this.$route.query.mode === 'edit'
    },
  },
  watch: {
    payload: {
      handler(val) {
        this.$emit('form-change', { payload: val })
      },
      deep: true,
    },
  },
  mounted() {
    this.loadingForm = true
    if (this.formSuccess) {
      this.payload = { ...this.formSuccess }
    }
    setTimeout(() => {
      this.loadingForm = false
    }, 1000)
  },
  methods: {
    removeItem(array, index) {
      array.splice(index, 1)
    },
    setValue(value, id, additional) {
      this.payload[id] = value
      if (additional && additional.condition !== value) {
        const { target } = additional
        this.payload[target].splice(0)
        this.payload[target].push({
          id: this.$util.randomAlphaNum(),
          value: '',
        })
      }
    },
    switchToEdit() {
      this.loadingForm = true
      this.$router.push({
        query: {
          ...this.$route.query,
          mode: 'edit',
        },
      })
      setTimeout(() => {
        this.loadingForm = false
      }, 1000)
    },
    async loadData(id) {
      try {
        this.loadingForm = true
        const res = await this.$store.dispatch('keadaan_jamaah/get', id)
        this.payload = { ...res.data.data }
        this.setupEditData()
        this.loadingForm = false
      } catch (error) {
        this.$util.showModal({
          type: 'error',
          context: this.$nuxt,
          text: `${
            this.setup.label.error[`${error.response?.status}`]
          } Error Code: ${error.response?.data?.message ?? '-'}`,
        })
        this.$router.push('/keadaan-jamaah')
      }
    },
    setEditState(data) {
      if (Array.isArray(data)) {
        data.forEach(({ id, value }) => {
          this.setup[id].value = value
          this.setup[id].disable = false
        })
      } else {
        const { id, value } = data
        this.setup[id].value = value
        this.setup[id].disable = false
      }
    },
    confirmClose() {
      this.$util.showModal({
        type: 'question',
        context: this.$nuxt,
        text: 'Apakah Anda yakin akan keluar dari form ini?',
        callback: () => {
          this.$router.push('/keadaan-jamaah')
        },
      })
    },
    saveForm() {
      this.$emit('validate-success', {
        payload: this.payload,
        id: this.payload.id ?? '',
        mode: this.$route.query.mode,
      })
    },
    clearState(id) {
      if (Array.isArray(id)) {
        id.forEach((data) => {
          this.setup[data].list = []
          this.setup[data].value = null
          this.setup[data].pagination = null
          this.setup[data].disable = true
        })
      } else {
        this.setup[id].list = []
        this.setup[id].value = null
        this.setup[id].pagination = null
        this.setup[id].disable = true
      }
    },
    setSelectedPW({ item }) {
      const { kdPw, namaPw } = item
      this.clearState(['pd', 'pc'])
      this.setup.pd.disable = false
      this.setup.pw.value = `${kdPw} | ${namaPw}`
      this.payload.pc.pd.pw = { ...item }
    },
    setSelectedPD({ item }) {
      const { kdPd, namaPd } = item
      this.clearState('pc')
      this.setup.pc.disable = false
      this.setup.pd.value = `${kdPd} | ${namaPd}`
      this.payload.pc.pd = { ...item }
    },
    setSelectedPC({ item }) {
      const { kdPc, namaPc } = item
      this.clearState('pc')
      this.setup.pc.disable = false
      this.setup.pc.value = `${kdPc} | ${namaPc}`
      this.payload.pc = { ...item }
    },
    setSelectedProvinsi({ item }) {
      const { kode, nama } = item
      this.clearState(['kota', 'kecamatan', 'kelurahan'])
      this.setup.kota.disable = false
      this.setup.provinsi.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan.kota.provinsi = { ...item }
    },
    setSelectedKota({ item }) {
      const { kode, nama } = item
      this.clearState(['kecamatan', 'kelurahan'])
      this.setup.kecamatan.disable = false
      this.setup.kota.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan.kota = { ...item }
    },
    setSelectedKecamatan({ item }) {
      const { kode, nama } = item
      this.clearState(['kelurahan'])
      this.setup.kelurahan.disable = false
      this.setup.kecamatan.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan = { ...item }
    },
    setSelectedKelurahan({ item }) {
      const { kode, nama } = item
      this.setup.kecamatan.disable = false
      this.setup.kelurahan.value = `${kode} | ${nama}`
      this.payload.kelurahan = { ...item }
    },
    async loadListPW(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pw.loading = true
      const response = await this.$store.dispatch('wilayah/getListPW', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
      })
      const { content, ...pagination } = response.data.data
      this.setup.pw.list = content
      this.setup.pw.pagination = pagination
      this.setup.pw.loading = false
    },
    async loadListPD(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pd.loading = true
      const response = await this.$store.dispatch('wilayah/getListPD', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-pw': this.payload.pc.pd.pw.kdPw,
      })
      const { content, ...pagination } = response.data.data
      this.setup.pd.list = content
      this.setup.pd.pagination = pagination
      this.setup.pd.loading = false
    },
    async loadListPC(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pc.loading = true
      const response = await this.$store.dispatch('wilayah/getListPC', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-pd': this.payload.pc.pd.kdPd,
      })
      const { content, ...pagination } = response.data.data
      this.setup.pc.list = content
      this.setup.pc.pagination = pagination
      this.setup.pc.loading = false
    },
    async loadListProvinsi(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.provinsi.loading = true
      const response = await this.$store.dispatch('wilayah/getListProvinsi', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
      })
      const { content, ...pagination } = response.data.data
      this.setup.provinsi.list = content
      this.setup.provinsi.pagination = pagination
      this.setup.provinsi.loading = false
    },
    async loadListKota(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kota.loading = true
      const response = await this.$store.dispatch('wilayah/getListKota', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-provinsi': this.payload.kelurahan.kecamatan.kota.provinsi.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kota.list = content
      this.setup.kota.pagination = pagination
      this.setup.kota.loading = false
    },
    async loadListKecamatan(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kecamatan.loading = true
      const response = await this.$store.dispatch('wilayah/getListKecamatan', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-kota': this.payload.kelurahan.kecamatan.kota.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kecamatan.list = content
      this.setup.kecamatan.pagination = pagination
      this.setup.kecamatan.loading = false
    },
    async loadListKelurahan(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kelurahan.loading = true
      const response = await this.$store.dispatch('wilayah/getListKelurahan', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-kecamatan': this.payload.kelurahan.kecamatan.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kelurahan.list = content
      this.setup.kelurahan.pagination = pagination
      this.setup.kelurahan.loading = false
    },
  },
}
</script>
