<template>
  <CommonCard>
    <!-- title -->
    <h2>Form {{ setup.label.header[$route.query.mode] }} User</h2>
    <p class="pb-4">
      <span class="card-title text-2xl lg:text-4xl">Identitas User</span>
    </p>

    <div class="divider"></div>

    <div
      v-if="loadingForm"
      class="h-48 flex flex-col justify-center items-center"
    >
      <progress class="progress w-56"></progress>
    </div>

    <!-- form -->
    <FieldForm v-else ref="form">
      <div class="flex flex-col pb-8">
        <!-- Nama -->
        <FieldText
          v-model="payload.namaLengkap"
          :readonly="isDetail"
          :initial-value="payload.namaLengkap"
          type="text"
          label="Nama Lengkap"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">
                {{ label }}
              </span>
            </label>
          </template>
        </FieldText>

        <!-- Email & Password -->
        <div class="flex flex-col lg:flex-row lg:space-x-6">
          <FieldText
            v-model="payload.email"
            :readonly="isDetail"
            :initial-value="payload.email"
            label="Email"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldText>

          <FieldText
            v-model="payload.username"
            :readonly="isDetail"
            :initial-value="payload.username"
            label="Username"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldText>
        </div>

        <!-- Kelamin -->
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text font-semibold text-base">
              Jenis Kelamin
            </span>
          </label>
          <input
            :value="payload.jenisKelamin === 'L' ? 'Laki-laki' : 'Perempuan'"
            readonly
            class="input input-bordered w-full"
          />
        </div>

        <!-- Tempat Tanggal Lahir -->
        <div class="flex flex-col lg:flex-row lg:space-x-6">
          <FieldText
            v-model="payload.tempatLahir"
            :readonly="isDetail"
            :initial-value="payload.tempatLahir"
            label="Tempat Lahir"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldText>

          <div class="form-control w-full">
            <label class="label">
              <span class="label-text font-semibold text-base">
                Tanggal Lahir
              </span>
            </label>
            <input
              :value="payload.date"
              readonly
              class="input input-bordered w-full"
            />
          </div>
        </div>

        <FieldText
          v-model="payload.phone"
          :readonly="isDetail"
          :initial-value="payload.phone"
          label="Nomor Telepon"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
      </div>

      <div class="divider">Data Cabang</div>

      <FieldText
        v-model="payload.npa"
        :readonly="isDetail"
        :initial-value="payload.npa"
        label="NPA"
      >
        <template #label="{ label }">
          <label class="label">
            <span class="label-text font-semibold text-base">{{ label }}</span>
          </label>
        </template>
      </FieldText>

      <!-- Otonom & Status -->
      <div class="flex flex-col lg:flex-row lg:space-x-6">
        <FieldText
          v-model="payload.otonom"
          :readonly="isDetail"
          :initial-value="payload.otonom"
          label="Otonom"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>

        <FieldText
          :v-model="payload.active ? 'Aktif' : 'Non-Aktif'"
          :readonly="isDetail"
          :initial-value="payload.active ? 'Aktif' : 'Non-Aktif'"
          label="Status"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
      </div>

      <div class="flex flex-col lg:flex-row lg:space-x-6">
        <div class="flex-1 flex flex-col">
          <FieldSelectModalTable
            size="md"
            :label="isDetail ? 'Cabang PW' : 'Input PW'"
            :value="setup.pw.value"
            :readonly="isDetail"
            :is-details="isDetail"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">
                  {{ label }}
                </span>
              </label>
            </template>
          </FieldSelectModalTable>
          <FieldSelectModalTable
            size="md"
            :label="isDetail ? 'Cabang PD' : 'Input PD'"
            :value="setup.pd.value"
            :readonly="isDetail"
            :is-details="isDetail"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">
                  {{ label }}
                </span>
              </label>
            </template>
          </FieldSelectModalTable>
          <FieldSelectModalTable
            size="md"
            :label="isDetail ? 'Cabang PC' : 'Input PC'"
            :value="setup.pc.value"
            :readonly="isDetail"
            :is-details="isDetail"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">
                  {{ label }}
                </span>
              </label>
            </template>
          </FieldSelectModalTable>
        </div>
        <div class="flex-1 flex flex-col">
          <FieldSelectModalTable
            label="Provinsi"
            size="md"
            :value="setup.provinsi.value"
            :readonly="isDetail"
            :is-details="isDetail"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">
                  {{ label }}
                </span>
              </label>
            </template>
          </FieldSelectModalTable>
          <FieldSelectModalTable
            label="Kota/Kabupaten"
            size="md"
            :value="setup.kota.value"
            :readonly="isDetail"
            :is-details="isDetail"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">
                  {{ label }}
                </span>
              </label>
            </template>
          </FieldSelectModalTable>
          <FieldSelectModalTable
            label="Kecamatan"
            size="md"
            :value="setup.kecamatan.value"
            :readonly="isDetail"
            :is-details="isDetail"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">
                  {{ label }}
                </span>
              </label>
            </template>
          </FieldSelectModalTable>
        </div>
      </div>
      <FieldSelectModalTable
        label="Desa"
        size="md"
        :value="setup.kelurahan.value"
        :readonly="isDetail"
        :is-details="isDetail"
      >
        <template #label="{ label }">
          <label class="label">
            <span class="label-text font-semibold text-base">
              {{ label }}
            </span>
          </label>
        </template>
      </FieldSelectModalTable>
    </FieldForm>
  </CommonCard>
</template>

<script>
export default {
  props: {
    isValidForm: {
      type: Boolean,
      default: false,
    },
    formSuccess: {
      type: Object,
      default: () => null,
    },
    immidiate: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loadingForm: false,
      setup: {
        label: {
          button: {
            create: 'Simpan',
            undefined: 'Simpan',
            edit: 'Update',
          },
          header: {
            create: 'Create',
            undefined: 'Create',
            detail: 'Detail',
            edit: 'Update',
          },
          error: {
            400: 'Terjadi kesalahan. pastikan data yang akan diedit valid. Kontak admin untuk petunjuk teknis.',
            500: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
            undefined: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
          },
        },
        pw: {
          loading: false,
          pagination: null,
          selected: null,
          disable: false,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode PW',
              itemId: 'kdPw',
            },
            {
              header: 'Nama PW',
              itemId: 'namaPw',
            },
          ],
        },
        pd: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode PD',
              itemId: 'kdPd',
            },
            {
              header: 'Nama PD',
              itemId: 'namaPd',
            },
          ],
        },
        pc: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode PC',
              itemId: 'kdPc',
            },
            {
              header: 'Nama PC',
              itemId: 'namaPc',
            },
          ],
        },
        provinsi: {
          loading: false,
          pagination: null,
          selected: null,
          disable: false,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode Provinsi',
              itemId: 'kode',
            },
            {
              header: 'Nama Provinsi',
              itemId: 'nama',
            },
          ],
        },
        kota: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode Kabupaten/Kota',
              itemId: 'kode',
            },
            {
              header: 'Nama Kabupaten/Kota',
              itemId: 'nama',
            },
          ],
        },
        kecamatan: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode Kecamatan',
              itemId: 'kode',
            },
            {
              header: 'Nama Kecamatan',
              itemId: 'nama',
            },
          ],
        },
        kelurahan: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode Kelurahan',
              itemId: 'kode',
            },
            {
              header: 'Nama Kelurahan',
              itemId: 'nama',
            },
          ],
        },
      },
      payload: {
        pc: {
          id: 0,
          kdPc: '',
          pd: {
            id: 0,
            kdPd: '',
            pw: {
              id: 0,
              kdPw: '',
              namaPw: '',
              diresmikan: '',
              createdAt: '',
              updatedAt: '',
            },
            namaPd: '',
            diresmikan: '',
            createdAt: '',
            updatedAt: '',
          },
          namaPc: '',
          diresmikan: '',
          createdAt: '',
          updatedAt: '',
        },
        kelurahan: {
          id: '',
          kecamatan: {
            id: '',
            kota: {
              id: '',
              provinsi: {
                id: '',
                kode: '',
                nama: '',
              },
              kode: '',
              nama: '',
            },
            kode: '',
            nama: '',
          },
          kode: '',
          nama: '',
        },
        npa: '',
        username: '',
        email: '',
        namaLengkap: '',
        jenisKelamin: '',
        tempatLahir: '',
        date: '',
        active: false,
        otonom: '',
        photo: '',
        phone: '',
      },
      isDetail: false,
    }
  },
  mounted() {
    const { mode = 'create', id = '' } = this.$route.query
    if (id && ['edit', 'detail'].includes(mode)) {
      this.loadData(id)
    }
  },
  methods: {
    async loadData(id) {
      try {
        this.loadingForm = true
        const res = await this.$store.dispatch('users/getUser', id)
        this.payload = { ...res.data.data }
        this.setupEditData()
        this.loadingForm = false
      } catch (error) {
        this.$util.showModal({
          type: 'error',
          context: this.$nuxt,
          text: `${
            this.setup.label.error[`${error.response?.status}`]
          } Error Code: ${error.response?.data?.message ?? '-'}`,
        })
        this.$router.push('/users')
      }
    },
    setEditState(data) {
      if (Array.isArray(data)) {
        data.forEach(({ id, value }) => {
          this.setup[id].value = value
          this.setup[id].disable = false
        })
      } else {
        const { id, value } = data
        this.setup[id].value = value
        this.setup[id].disable = false
      }
    },
    setupEditData() {
      const { kdPw, namaPw } = this.payload.pc.pd.pw
      const { kdPd, namaPd } = this.payload.pc.pd
      const { kdPc, namaPc } = this.payload.pc
      const { kode, nama } = this.payload.kelurahan.kecamatan.kota.provinsi
      const { kode: kodeKota, nama: namaKota } =
        this.payload.kelurahan.kecamatan.kota
      const { kode: kodeKecamatan, nama: namaKecamatan } =
        this.payload.kelurahan.kecamatan
      const { kode: kodeKelurahan, nama: namaKelurahan } =
        this.payload.kelurahan

      this.setEditState([
        { id: 'pw', value: `${kdPw && namaPw ? `${kdPw} | ${namaPw}` : ''}` },
        { id: 'pd', value: `${kdPd && namaPd ? `${kdPd} | ${namaPd}` : ''}` },
        { id: 'pc', value: `${kdPc && namaPc ? `${kdPc} | ${namaPc}` : ''}` },
        { id: 'provinsi', value: `${kode && nama ? `${kode} | ${nama}` : ''}` },
        {
          id: 'kota',
          value: `${kodeKota && namaKota ? `${kodeKota} | ${namaKota}` : ''}`,
        },
        {
          id: 'kecamatan',
          value: `${
            kodeKecamatan && namaKecamatan
              ? `${kodeKecamatan} | ${namaKecamatan}`
              : ''
          }`,
        },
        {
          id: 'kelurahan',
          value: `${
            kodeKelurahan && namaKelurahan
              ? `${kodeKelurahan} | ${namaKelurahan}`
              : ''
          }`,
        },
      ])

      this.isDetail = this.$route.query.mode === 'detail'
    },
  },
}
</script>
