<template>
  <CommonCard>
    <!-- title -->
    <h2>Form {{ setup.label.header[$route.query.mode] }} Muballigh</h2>
    <p class="pb-4">
      <span class="card-title text-2xl lg:text-4xl">Identitas Muballigh</span>
      <label
        v-if="$route.query.mode === 'detail'"
        class="btn btn-primary btn-xs btn-outline"
        @click="switchToEdit"
      >
        Klik Untuk Edit Data
      </label>
    </p>

    <div
      v-if="loadingForm"
      class="h-48 flex flex-col justify-center items-center"
    >
      <progress class="progress w-56"></progress>
    </div>
    <!-- form -->
    <FieldForm v-else ref="form" v-slot="{ valid }" @submit="saveForm">
      <div class="flex flex-col lg:flex-row lg:space-x-6">
        <div class="flex-1 flex flex-col">
          <FieldSelectModalTable
            label="Input PW"
            size="md"
            placeholder="Cari Nomor PW"
            :value="setup.pw.value"
            :is-loading="setup.pw.loading"
            :readonly="$route.query.mode === 'detail'"
            label-table="List PW"
            :list-table="setup.pw.list"
            :disabled="setup.pw.disable"
            :pagination="setup.pw.pagination"
            :table-config="setup.pw.configTable"
            :immediate="isImmediate"
            @loaded="loadListPW"
            @item-clicked="setSelectedPW"
            @filter="loadListPW($event)"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldSelectModalTable>
          <FieldSelectModalTable
            label="Input PD"
            size="md"
            placeholder="Cari Nomor PD"
            :value="setup.pd.value"
            :is-loading="setup.pd.loading"
            label-table="List PD"
            :list-table="setup.pd.list"
            :disabled="setup.pd.disable"
            :readonly="$route.query.mode === 'detail'"
            :immediate="isImmediate"
            :pagination="setup.pd.pagination"
            :table-config="setup.pd.configTable"
            @loaded="loadListPD"
            @item-clicked="setSelectedPD"
            @filter="loadListPD($event)"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldSelectModalTable>
          <FieldSelectModalTable
            label="Input PC"
            size="md"
            placeholder="Cari Nomor PC"
            :value="setup.pc.value"
            :is-loading="setup.pc.loading"
            label-table="List PC"
            :list-table="setup.pc.list"
            :disabled="setup.pc.disable"
            :readonly="$route.query.mode === 'detail'"
            :immediate="isImmediate"
            :pagination="setup.pc.pagination"
            :table-config="setup.pc.configTable"
            @loaded="loadListPC"
            @item-clicked="setSelectedPC"
            @filter="loadListPC($event)"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldSelectModalTable>
        </div>
        <div class="flex-1 flex flex-col">
          <div>
            <FieldSelectModalTable
              label="Provinsi"
              size="md"
              placeholder="Pilih Provinsi..."
              :value="setup.provinsi.value"
              :is-loading="setup.provinsi.loading"
              label-table="List Provinsi"
              :list-table="setup.provinsi.list"
              :disabled="setup.provinsi.disable"
              :readonly="$route.query.mode === 'detail'"
              :immediate="isImmediate"
              :pagination="setup.provinsi.pagination"
              :table-config="setup.provinsi.configTable"
              @loaded="loadListProvinsi"
              @item-clicked="setSelectedProvinsi"
              @filter="loadListProvinsi($event)"
            >
              <template #label="{ label }">
                <label class="label">
                  <span class="label-text font-semibold text-base">{{
                    label
                  }}</span>
                </label>
              </template>
            </FieldSelectModalTable>
          </div>
          <div>
            <FieldSelectModalTable
              label="Kota/Kabupaten"
              size="md"
              placeholder="Pilih Kota/Kabupaten..."
              :value="setup.kota.value"
              :is-loading="setup.kota.loading"
              label-table="List Kota/Kabupaten"
              :list-table="setup.kota.list"
              :disabled="setup.kota.disable"
              :readonly="$route.query.mode === 'detail'"
              :immediate="isImmediate"
              :pagination="setup.kota.pagination"
              :table-config="setup.kota.configTable"
              @loaded="loadListKota"
              @item-clicked="setSelectedKota"
              @filter="loadListKota($event)"
            >
              <template #label="{ label }">
                <label class="label">
                  <span class="label-text font-semibold text-base">{{
                    label
                  }}</span>
                </label>
              </template>
            </FieldSelectModalTable>
          </div>
          <FieldSelectModalTable
            label="Kecamatan"
            size="md"
            placeholder="Pilih Kecamatan..."
            :value="setup.kecamatan.value"
            :is-loading="setup.kecamatan.loading"
            label-table="List Kecamatan"
            :readonly="$route.query.mode === 'detail'"
            :immediate="isImmediate"
            :list-table="setup.kecamatan.list"
            :disabled="setup.kecamatan.disable"
            :pagination="setup.kecamatan.pagination"
            :table-config="setup.kecamatan.configTable"
            @loaded="loadListKecamatan"
            @item-clicked="setSelectedKecamatan"
            @filter="loadListKecamatan($event)"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldSelectModalTable>
        </div>
      </div>
      <FieldSelectModalTable
        label="Desa"
        size="md"
        placeholder="Pilih Desa..."
        :value="setup.kelurahan.value"
        :is-loading="setup.kelurahan.loading"
        label-table="List Provinsi"
        :list-table="setup.kelurahan.list"
        :readonly="$route.query.mode === 'detail'"
        :disabled="setup.kelurahan.disable"
        :pagination="setup.kelurahan.pagination"
        :table-config="setup.kelurahan.configTable"
        @loaded="loadListKelurahan"
        @item-clicked="setSelectedKelurahan"
        @filter="loadListKelurahan($event)"
      >
        <template #label="{ label }">
          <label class="label">
            <span class="label-text font-semibold text-base">{{ label }}</span>
          </label>
        </template>
      </FieldSelectModalTable>
      <div class="divider"></div>
      <div class="flex flex-col pb-8">
        <FieldText
          v-model="payload.namaLengkap"
          :readonly="$route.query.mode === 'detail'"
          :initial-value="payload.namaLengkap"
          type="text"
          label="Nama Lengkap"
          placeholder="Isikan Nama Lengngkap..."
          :immediate="isImmediate"
          rules="required"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
        <CommonAngketOption
          :options="[
            {
              value: 'L',
              label: 'Laki - laki',
              name: 'jenisKelamin',
            },
            {
              value: 'P',
              label: 'perempuan',
              name: 'jenisKelamin',
            },
          ]"
          question="Jenis kelamin"
          mode="vertical"
          :immediate="isImmediate"
          :value="payload.jenisKelamin"
          @change="setValue($event.target.value, 'jenisKelamin')"
        >
          <template #question="{ question }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                question
              }}</span>
            </label>
          </template>
        </CommonAngketOption>
        <div class="flex flex-col lg:flex-row lg:space-x-6">
          <div class="flex-1 flex flex-col">
            <FieldText
              v-model="payload.tempatLahir"
              :readonly="$route.query.mode === 'detail'"
              :initial-value="payload.tempatLahir"
              type="text"
              label="Tempat Lahir"
              :immediate="isImmediate"
              placeholder="Isikan Tempat Lahir..."
              rules="required"
            >
              <template #label="{ label }">
                <label class="label">
                  <span class="label-text font-semibold text-base">{{
                    label
                  }}</span>
                </label>
              </template>
            </FieldText>
          </div>
          <div class="flex-1 flex flex-col">
            <FieldText
              v-model="payload.tanggalLahir"
              :readonly="$route.query.mode === 'detail'"
              :initial-value="payload.tanggalLahir"
              type="date"
              label="Tanggal Lahir"
              :immediate="isImmediate"
              placeholder="Isikan Tanggal Lahir..."
              rules="required"
            >
              <template #label="{ label }">
                <label class="label">
                  <span class="label-text font-semibold text-base">{{
                    label
                  }}</span>
                </label>
              </template>
            </FieldText>
          </div>
        </div>
        <CommonAngketOption
          :options="[
            {
              value: 'MENIKAH',
              label: 'Menikah',
              name: 'statusMarital',
            },
            {
              value: 'BELUM_MENIKAH',
              label: 'Belum Menikah',
              name: 'statusMarital',
            },
            {
              value: 'DUDA',
              label: 'Duda',
              name: 'statusMarital',
            },
            {
              value: 'JANDA',
              label: 'Janda',
              name: 'statusMarital',
            },
          ]"
          question="Status perkawinan"
          mode="vertical"
          :immediate="isImmediate"
          :value="payload.statusMarital"
          @change="setValue($event.target.value, 'statusMarital')"
        >
          <template #question="{ question }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                question
              }}</span>
            </label>
          </template>
        </CommonAngketOption>

        <FieldSelect
          v-model="payload.pendidikanTerakhir"
          :initial-value="payload.pendidikanTerakhir"
          label="Pendidikan sekolah terakhir"
          placeholder="Isikan Pendidikan sekolah terakhir..."
          :items="listPendidikan"
          rules="required"
        >
          <template #label="{ label }">
            <label class="label pb-2">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldSelect>
        <FieldText
          v-model="payload.pendidikanLuarSekolah"
          :readonly="$route.query.mode === 'detail'"
          :initial-value="payload.pendidikanLuarSekolah"
          type="text"
          label="Pendidikan luar sekolah (Optional)"
          :immediate="isImmediate"
          placeholder="Isikan Pendidikan luar sekolah..."
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
        <FieldText
          v-model="payload.pekerjaanPokok"
          :readonly="$route.query.mode === 'detail'"
          :initial-value="payload.pekerjaanPokok"
          type="text"
          label="Pekerjaan pokok"
          :immediate="isImmediate"
          placeholder="Isikan Pekerjaan pokok..."
          rules="required"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
        <FieldText
          v-model="payload.pekerjaanSambilan"
          :readonly="$route.query.mode === 'detail'"
          :initial-value="payload.pekerjaanSambilan"
          type="text"
          label="Pekerjaan Sambilan (Optional)"
          :immediate="isImmediate"
          placeholder="Isikan Pekerjaan Sambilan..."
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
        <FieldText
          v-model="payload.noHp1"
          :readonly="$route.query.mode === 'detail'"
          :initial-value="payload.noHp1"
          type="text"
          label="No HP"
          :immediate="isImmediate"
          placeholder="Isikan No HP..."
          rules="required|phone"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
        <FieldText
          v-model="payload.noHp2"
          :readonly="$route.query.mode === 'detail'"
          :initial-value="payload.noHp2"
          type="text"
          label="No HP 2 (optional)"
          :immediate="isImmediate"
          placeholder="Isikan No HP 2..."
          rules="phone"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
        <FieldText
          v-model="payload.email"
          :readonly="$route.query.mode === 'detail'"
          :initial-value="payload.email"
          type="email"
          label="Email"
          :immediate="isImmediate"
          placeholder="Isikan Email..."
          rules="required|email"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
      </div>
      <div class="flex justify-end flex-row w-full space-x-3">
        <div class="flex w-full justify-start space-x-3">
          <label
            class="btn btn-error btn-outline flex-1 lg:flex-none lg:w-32"
            @click="confirmClose"
          >
            Kembali
          </label>
          <button
            type="submit"
            class="btn btn-primary text-base-100 flex-1 lg:flex-none lg:w-40"
            :class="{ 'btn-disabled': !valid }"
            value="submit"
          >
            Lanjutkan
          </button>
        </div>
      </div>
    </FieldForm>
  </CommonCard>
</template>

<script>
export default {
  props: {
    isValidForm: {
      type: Boolean,
      default: false,
    },
    formSuccess: {
      type: Object,
      default: () => null,
    },
    immidiate: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      listPendidikan: [
        { name: 'SD', value: 'SD' },
        { name: 'MI', value: 'MI' },
        { name: 'SMP', value: 'SMP' },
        { name: 'MTS', value: 'MTS' },
        { name: 'SMA', value: 'SMA' },
        { name: 'SMK', value: 'SMK' },
        { name: 'MA', value: 'MA' },
        { name: 'MLN', value: 'MLN' },
        { name: 'D1', value: 'D1' },
        { name: 'D2', value: 'D2' },
        { name: 'D3', value: 'D3' },
        { name: 'D4', value: 'D4' },
        { name: 'S1', value: 'S1' },
        { name: 'S3', value: 'S3' },
      ],
      loadingForm: false,
      setup: {
        label: {
          button: {
            create: 'Simpan',
            undefined: 'Simpan',
            edit: 'Update',
          },
          header: {
            create: 'Create',
            undefined: 'Create',
            detail: 'Detail',
            edit: 'Update',
          },
          error: {
            400: 'Terjadi kesalahan. pastikan data yang akan diedit valid. Kontak admin untuk petunjuk teknis.',
            500: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
            undefined: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
          },
        },
        pw: {
          loading: false,
          pagination: null,
          selected: null,
          disable: false,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode PW',
              itemId: 'kdPw',
            },
            {
              header: 'Nama PW',
              itemId: 'namaPw',
            },
          ],
        },
        pd: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode PD',
              itemId: 'kdPd',
            },
            {
              header: 'Nama PD',
              itemId: 'namaPd',
            },
          ],
        },
        pc: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode PC',
              itemId: 'kdPc',
            },
            {
              header: 'Nama PC',
              itemId: 'namaPc',
            },
          ],
        },
        provinsi: {
          loading: false,
          pagination: null,
          selected: null,
          disable: false,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode Provinsi',
              itemId: 'kode',
            },
            {
              header: 'Nama Provinsi',
              itemId: 'nama',
            },
          ],
        },
        kota: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode Kabupaten/Kota',
              itemId: 'kode',
            },
            {
              header: 'Nama Kabupaten/Kota',
              itemId: 'nama',
            },
          ],
        },
        kecamatan: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode Kecamatan',
              itemId: 'kode',
            },
            {
              header: 'Nama Kecamatan',
              itemId: 'nama',
            },
          ],
        },
        kelurahan: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode Kelurahan',
              itemId: 'kode',
            },
            {
              header: 'Nama Kelurahan',
              itemId: 'nama',
            },
          ],
        },
      },
      loadingPW: false,
      loadingPD: false,
      loadingPC: false,
      paginationPW: null,
      paginationPD: null,
      paginationPC: null,
      selectedPW: null,
      selectedPD: null,
      selectedPC: null,
      disablePW: false,
      disablePD: true,
      disablePC: true,
      listPD: [],
      listPC: [],
      listPW: [],
      payload: {
        pc: {
          id: 0,
          kdPc: '',
          pd: {
            id: 0,
            kdPd: '',
            pw: {
              id: 0,
              kdPw: '',
              namaPw: '',
              diresmikan: '',
              createdAt: '',
              updatedAt: '',
            },
            namaPd: '',
            diresmikan: '',
            createdAt: '',
            updatedAt: '',
          },
          namaPc: '',
          diresmikan: '',
          createdAt: '',
          updatedAt: '',
        },
        kelurahan: {
          id: '',
          kecamatan: {
            id: '',
            kota: {
              id: '',
              provinsi: {
                id: '',
                kode: '',
                nama: '',
              },
              kode: '',
              nama: '',
            },
            kode: '',
            nama: '',
          },
          kode: '',
          nama: '',
        },
        namaLengkap: '',
        noHp1: '',
        noHp2: '',
        email: '',
        jenisKelamin: '',
        tempatLahir: '',
        tanggalLahir: '',
        statusMarital: '',
        pendidikanTerakhir: '',
        pendidikanLuarSekolah: '',
        pekerjaanPokok: '',
        pekerjaanSambilan: '',
      },
    }
  },
  computed: {
    isImmediate() {
      return this.immidiate || this.$route.query.mode === 'edit'
    },
  },
  watch: {
    payload: {
      handler(val) {
        this.$emit('form-change', { payload: val, valid: this.isValidForm })
      },
      deep: true,
    },
    isValidForm(val) {
      this.$emit('form-change', { payload: this.payload, valid: val })
    },
  },
  mounted() {
    this.loadingForm = true
    if (this.formSuccess) {
      this.payload = { ...this.formSuccess }
      this.setupEditData()
    }
    setTimeout(() => {
      this.loadingForm = false
    }, 1000)
  },
  methods: {
    setValue(value, id) {
      this.payload[id] = value
    },
    switchToEdit() {
      this.loadingForm = true
      this.$router.push({
        query: {
          ...this.$route.query,
          mode: 'edit',
        },
      })
      setTimeout(() => {
        this.loadingForm = false
      }, 1000)
    },
    async loadData(id) {
      try {
        this.loadingForm = true
        const res = await this.$store.dispatch('keadaan_jamaah/get', id)
        this.payload = { ...res.data.data }
        this.setupEditData()
        this.loadingForm = false
      } catch (error) {
        this.$util.showModal({
          type: 'error',
          context: this.$nuxt,
          text: `${
            this.setup.label.error[`${error.response?.status}`]
          } Error Code: ${error.response?.data?.message ?? '-'}`,
        })
        this.$router.push('/keadaan-jamaah')
      }
    },
    setEditState(data) {
      if (Array.isArray(data)) {
        data.forEach(({ id, value }) => {
          this.setup[id].value = value
          this.setup[id].disable = false
        })
      } else {
        const { id, value } = data
        this.setup[id].value = value
        this.setup[id].disable = false
      }
    },
    setupEditData() {
      const { kdPw, namaPw } = this.payload.pc.pd.pw
      const { kdPd, namaPd } = this.payload.pc.pd
      const { kdPc, namaPc } = this.payload.pc
      const { kode, nama } = this.payload.kelurahan.kecamatan.kota.provinsi
      const { kode: kodeKota, nama: namaKota } =
        this.payload.kelurahan.kecamatan.kota
      const { kode: kodeKecamatan, nama: namaKecamatan } =
        this.payload.kelurahan.kecamatan
      const { kode: kodeKelurahan, nama: namaKelurahan } =
        this.payload.kelurahan

      this.setEditState([
        { id: 'pw', value: `${kdPw && namaPw ? `${kdPw} | ${namaPw}` : ''}` },
        { id: 'pd', value: `${kdPd && namaPd ? `${kdPd} | ${namaPd}` : ''}` },
        { id: 'pc', value: `${kdPc && namaPc ? `${kdPc} | ${namaPc}` : ''}` },
        { id: 'provinsi', value: `${kode && nama ? `${kode} | ${nama}` : ''}` },
        {
          id: 'kota',
          value: `${kodeKota && namaKota ? `${kodeKota} | ${namaKota}` : ''}`,
        },
        {
          id: 'kecamatan',
          value: `${
            kodeKecamatan && namaKecamatan
              ? `${kodeKecamatan} | ${namaKecamatan}`
              : ''
          }`,
        },
        {
          id: 'kelurahan',
          value: `${
            kodeKelurahan && namaKelurahan
              ? `${kodeKelurahan} | ${namaKelurahan}`
              : ''
          }`,
        },
      ])
    },
    confirmClose() {
      this.$util.showModal({
        type: 'question',
        context: this.$nuxt,
        text: 'Apakah Anda yakin akan keluar dari form ini?',
        callback: () => {
          this.$router.push('/profil-muballigh')
        },
      })
    },
    saveForm() {
      this.$emit('validate-success', {
        payload: this.payload,
        id: this.payload.id ?? '',
        mode: this.$route.query.mode,
      })
    },
    clearState(id) {
      if (Array.isArray(id)) {
        id.forEach((data) => {
          this.setup[data].list = []
          this.setup[data].value = null
          this.setup[data].pagination = null
          this.setup[data].disable = true
        })
      } else {
        this.setup[id].list = []
        this.setup[id].value = null
        this.setup[id].pagination = null
        this.setup[id].disable = true
      }
    },
    setSelectedPW({ item }) {
      const { kdPw, namaPw } = item
      this.clearState(['pd', 'pc'])
      this.setup.pd.disable = false
      this.setup.pw.value = `${kdPw} | ${namaPw}`
      this.payload.pc.pd.pw = { ...item }
    },
    setSelectedPD({ item }) {
      const { kdPd, namaPd } = item
      this.clearState('pc')
      this.setup.pc.disable = false
      this.setup.pd.value = `${kdPd} | ${namaPd}`
      this.payload.pc.pd = { ...item }
    },
    setSelectedPC({ item }) {
      const { kdPc, namaPc } = item
      this.clearState('pc')
      this.setup.pc.disable = false
      this.setup.pc.value = `${kdPc} | ${namaPc}`
      this.payload.pc = { ...item }
    },
    setSelectedProvinsi({ item }) {
      const { kode, nama } = item
      this.clearState(['kota', 'kecamatan'])
      this.setup.kota.disable = false
      this.setup.provinsi.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan.kota.provinsi = { ...item }
    },
    setSelectedKota({ item }) {
      const { kode, nama } = item
      this.clearState(['kecamatan'])
      this.setup.kecamatan.disable = false
      this.setup.kota.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan.kota = { ...item }
    },
    setSelectedKecamatan({ item }) {
      const { kode, nama } = item
      this.setup.kelurahan.disable = false
      this.setup.kecamatan.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan = { ...item }
    },
    setSelectedKelurahan({ item }) {
      const { kode, nama } = item
      this.setup.kecamatan.disable = false
      this.setup.kelurahan.value = `${kode} | ${nama}`
      this.payload.kelurahan = { ...item }
    },
    async loadListPW(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pw.loading = true
      const response = await this.$store.dispatch('wilayah/getListPW', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
      })
      const { content, ...pagination } = response.data.data
      this.setup.pw.list = content
      this.setup.pw.pagination = pagination
      this.setup.pw.loading = false
    },
    async loadListPD(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pd.loading = true
      const response = await this.$store.dispatch('wilayah/getListPD', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-pw': this.payload.pc.pd.pw.kdPw,
      })
      const { content, ...pagination } = response.data.data
      this.setup.pd.list = content
      this.setup.pd.pagination = pagination
      this.setup.pd.loading = false
    },
    async loadListPC(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pc.loading = true
      const response = await this.$store.dispatch('wilayah/getListPC', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-pd': this.payload.pc.pd.kdPd,
      })
      const { content, ...pagination } = response.data.data
      this.setup.pc.list = content
      this.setup.pc.pagination = pagination
      this.setup.pc.loading = false
    },
    async loadListProvinsi(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.provinsi.loading = true
      const response = await this.$store.dispatch('wilayah/getListProvinsi', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
      })
      const { content, ...pagination } = response.data.data
      this.setup.provinsi.list = content
      this.setup.provinsi.pagination = pagination
      this.setup.provinsi.loading = false
    },
    async loadListKota(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kota.loading = true
      const response = await this.$store.dispatch('wilayah/getListKota', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-provinsi': this.payload.kelurahan.kecamatan.kota.provinsi.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kota.list = content
      this.setup.kota.pagination = pagination
      this.setup.kota.loading = false
    },
    async loadListKecamatan(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kecamatan.loading = true
      const response = await this.$store.dispatch('wilayah/getListKecamatan', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-kota': this.payload.kelurahan.kecamatan.kota.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kecamatan.list = content
      this.setup.kecamatan.pagination = pagination
      this.setup.kecamatan.loading = false
    },
    async loadListKelurahan(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kelurahan.loading = true
      const response = await this.$store.dispatch('wilayah/getListKelurahan', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-kecamatan': this.payload.kelurahan.kecamatan.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kelurahan.list = content
      this.setup.kelurahan.pagination = pagination
      this.setup.kelurahan.loading = false
    },
  },
}
</script>
