<template>
  <CommonCard>
    <!-- title -->
    <h2 class="card-title text-2xl lg:text-4xl font-bold">
      Form {{ setup.label.header[$route.query.mode] }} Keadaan Jama'ah
    </h2>
    <p class="text-sm">
      <span v-if="$route.query.mode !== 'detail'"
        >Silahkan Isi Data-data yang diperlukan</span
      >
      <label
        v-if="$route.query.mode === 'detail'"
        class="btn btn-primary btn-xs btn-outline"
        @click="switchToEdit"
      >
        Klik Untuk Edit Data
      </label>
    </p>

    <div
      v-if="loadingForm"
      class="h-48 flex flex-col justify-center items-center"
    >
      <progress class="progress w-56"></progress>
    </div>
    <!-- form -->
    <FieldForm v-else ref="form" v-slot="{ valid }" @submit="saveForm">
      <div class="flex flex-col lg:flex-row lg:space-x-6">
        <FieldText
          v-model="payload.periodeStart"
          :readonly="$route.query.mode === 'detail'"
          :initial-value="payload.periodeStart"
          type="date"
          label="Periode Start"
          :immediate="$route.query.mode === 'edit'"
          :rules="{
            required: true,
            before: { targetDate: payload.periodeEnd },
          }"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
        <FieldText
          v-model="payload.periodeEnd"
          :initial-value="payload.periodeEnd"
          :readonly="$route.query.mode === 'detail'"
          type="date"
          label="Periode End"
          :immediate="$route.query.mode === 'edit'"
          :rules="{
            required: true,
            after: { targetDate: payload.periodeStart },
          }"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
      </div>
      <div class="flex flex-col lg:flex-row lg:space-x-6">
        <div class="flex-1 flex flex-col">
          <FieldSelectModalTable
            label="Input PW"
            size="md"
            placeholder="Cari Nomor PW"
            :value="setup.pw.value"
            :is-loading="setup.pw.loading"
            :readonly="$route.query.mode === 'detail'"
            label-table="List PW"
            :list-table="setup.pw.list"
            :disabled="setup.pw.disable"
            :pagination="setup.pw.pagination"
            :table-config="setup.pw.configTable"
            @loaded="loadListPW"
            @item-clicked="setSelectedPW"
            @filter="loadListPW($event)"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldSelectModalTable>
          <FieldSelectModalTable
            label="Input PD"
            size="md"
            placeholder="Cari Nomor PD"
            :value="setup.pd.value"
            :is-loading="setup.pd.loading"
            label-table="List PD"
            :list-table="setup.pd.list"
            :disabled="setup.pd.disable"
            :readonly="$route.query.mode === 'detail'"
            :pagination="setup.pd.pagination"
            :table-config="setup.pd.configTable"
            @loaded="loadListPD"
            @item-clicked="setSelectedPD"
            @filter="loadListPD($event)"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldSelectModalTable>
          <FieldSelectModalTable
            label="Input PC"
            size="md"
            placeholder="Cari Nomor PC"
            :value="setup.pc.value"
            :is-loading="setup.pc.loading"
            label-table="List PC"
            :list-table="setup.pc.list"
            :disabled="setup.pc.disable"
            :readonly="$route.query.mode === 'detail'"
            :pagination="setup.pc.pagination"
            :table-config="setup.pc.configTable"
            @loaded="loadListPC"
            @item-clicked="setSelectedPC"
            @filter="loadListPC($event)"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldSelectModalTable>
          <div class="hidden lg:flex">
            <FieldSelectModalTable
              label="Provinsi"
              size="md"
              placeholder="Pilih Provinsi..."
              :value="setup.provinsi.value"
              :is-loading="setup.provinsi.loading"
              label-table="List Provinsi"
              :list-table="setup.provinsi.list"
              :disabled="setup.provinsi.disable"
              :readonly="$route.query.mode === 'detail'"
              :pagination="setup.provinsi.pagination"
              :table-config="setup.provinsi.configTable"
              @loaded="loadListProvinsi"
              @item-clicked="setSelectedProvinsi"
              @filter="loadListProvinsi($event)"
            >
              <template #label="{ label }">
                <label class="label">
                  <span class="label-text font-semibold text-base">{{
                    label
                  }}</span>
                </label>
              </template>
            </FieldSelectModalTable>
          </div>
          <div class="hidden lg:flex">
            <FieldSelectModalTable
              label="Kota/Kabupaten"
              size="md"
              placeholder="Pilih Kota/Kabupaten..."
              :value="setup.kota.value"
              :is-loading="setup.kota.loading"
              label-table="List Kota/Kabupaten"
              :list-table="setup.kota.list"
              :disabled="setup.kota.disable"
              :readonly="$route.query.mode === 'detail'"
              :pagination="setup.kota.pagination"
              :table-config="setup.kota.configTable"
              @loaded="loadListKota"
              @item-clicked="setSelectedKota"
              @filter="loadListKota($event)"
            >
              <template #label="{ label }">
                <label class="label">
                  <span class="label-text font-semibold text-base">{{
                    label
                  }}</span>
                </label>
              </template>
            </FieldSelectModalTable>
          </div>
        </div>
        <div class="flex-1 flex flex-col">
          <div class="lg:hidden">
            <FieldSelectModalTable
              label="Provinsi"
              size="md"
              placeholder="Pilih Provinsi..."
              :value="setup.provinsi.value"
              :is-loading="setup.provinsi.loading"
              label-table="List Provinsi"
              :list-table="setup.provinsi.list"
              :disabled="setup.provinsi.disable"
              :readonly="$route.query.mode === 'detail'"
              :pagination="setup.provinsi.pagination"
              :table-config="setup.provinsi.configTable"
              @loaded="loadListProvinsi"
              @item-clicked="setSelectedProvinsi"
              @filter="loadListProvinsi($event)"
            >
              <template #label="{ label }">
                <label class="label">
                  <span class="label-text font-semibold text-base">{{
                    label
                  }}</span>
                </label>
              </template>
            </FieldSelectModalTable>
          </div>
          <div class="lg:hidden">
            <FieldSelectModalTable
              label="Kota/Kabupaten"
              size="md"
              placeholder="Pilih Kota/Kabupaten..."
              :value="setup.kota.value"
              :is-loading="setup.kota.loading"
              label-table="List Kota/Kabupaten"
              :list-table="setup.kota.list"
              :disabled="setup.kota.disable"
              :readonly="$route.query.mode === 'detail'"
              :pagination="setup.kota.pagination"
              :table-config="setup.kota.configTable"
              @loaded="loadListKota"
              @item-clicked="setSelectedKota"
              @filter="loadListKota($event)"
            >
              <template #label="{ label }">
                <label class="label">
                  <span class="label-text font-semibold text-base">{{
                    label
                  }}</span>
                </label>
              </template>
            </FieldSelectModalTable>
          </div>
          <FieldSelectModalTable
            label="Kecamatan"
            size="md"
            placeholder="Pilih Kecamatan..."
            :value="setup.kecamatan.value"
            :is-loading="setup.kecamatan.loading"
            label-table="List Provinsi"
            :readonly="$route.query.mode === 'detail'"
            :list-table="setup.kecamatan.list"
            :disabled="setup.kecamatan.disable"
            :pagination="setup.kecamatan.pagination"
            :table-config="setup.kecamatan.configTable"
            @loaded="loadListKecamatan"
            @item-clicked="setSelectedKecamatan"
            @filter="loadListKecamatan($event)"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldSelectModalTable>
          <FieldSelectModalTable
            label="Desa"
            size="md"
            placeholder="Pilih Desa..."
            :value="setup.kelurahan.value"
            :is-loading="setup.kelurahan.loading"
            label-table="List Provinsi"
            :list-table="setup.kelurahan.list"
            :readonly="$route.query.mode === 'detail'"
            :disabled="setup.kelurahan.disable"
            :pagination="setup.kelurahan.pagination"
            :table-config="setup.kelurahan.configTable"
            @loaded="loadListKelurahan"
            @item-clicked="setSelectedKelurahan"
            @filter="loadListKelurahan($event)"
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldSelectModalTable>
          <FieldText
            v-model="payload.jmlPj"
            :initial-value="payload.jmlPj"
            :rules="'required|numeric'"
            :readonly="$route.query.mode === 'detail'"
            type="text"
            label="Jumlah PJ"
            placeholder="Masukkan Jumlah PJ..."
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldText>
          <FieldText
            v-model="payload.jmlMesjid"
            :initial-value="payload.jmlMesjid"
            :rules="'required|numeric'"
            :readonly="$route.query.mode === 'detail'"
            type="text"
            label="Jumlah Masjid"
            placeholder="Masukkan Jumlah Masjid..."
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldText>
          <FieldText
            v-model="payload.jmlMusholla"
            :initial-value="payload.jmlMusholla"
            :rules="'required|numeric'"
            :readonly="$route.query.mode === 'detail'"
            type="text"
            label="Jumlah Musholla"
            placeholder="Masukkan Musholla..."
          >
            <template #label="{ label }">
              <label class="label">
                <span class="label-text font-semibold text-base">{{
                  label
                }}</span>
              </label>
            </template>
          </FieldText>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row lg:space-x-6">
        <div class="flex-1">
          <label class="label pb-4">
            <span class="label-text font-semibold text-base"
              >Jumlah Anggota PC</span
            >
          </label>
          <div class="space-y-3">
            <FieldTextGroup
              v-model="payload.jmlAnggotaPersis"
              :initial-value="payload.jmlAnggotaPersis"
              :rules="'required|numeric'"
              :readonly="$route.query.mode === 'detail'"
              type="text"
              label="Persis"
              placeholder="Masukan Jumlah Persis..."
            >
              <template #label-group="{ label }">
                <span class="label-text bg-primary text-base-100"
                  ><p class="w-16 text-center">{{ label }}</p></span
                >
              </template>
            </FieldTextGroup>
            <FieldTextGroup
              v-model="payload.jmlAnggotaPersistri"
              :initial-value="payload.jmlAnggotaPersistri"
              :rules="'required|numeric'"
              :readonly="$route.query.mode === 'detail'"
              type="text"
              label="Persistri"
              placeholder="Masukan Jumlah Persistri..."
            >
              <template #label-group="{ label }">
                <span class="label-text bg-primary text-base-100"
                  ><p class="w-16 text-center">{{ label }}</p></span
                >
              </template>
            </FieldTextGroup>
            <FieldTextGroup
              v-model="payload.jmlAnggotaPemuda"
              :initial-value="payload.jmlAnggotaPemuda"
              :rules="'required|numeric'"
              :readonly="$route.query.mode === 'detail'"
              type="text"
              label="Pemuda"
              placeholder="Masukan Jumlah Pemuda..."
            >
              <template #label-group="{ label }">
                <span class="label-text bg-primary text-base-100"
                  ><p class="w-16 text-center">{{ label }}</p></span
                >
              </template>
            </FieldTextGroup>
            <FieldTextGroup
              v-model="payload.jmlAnggotaPemudi"
              :initial-value="payload.jmlAnggotaPemudi"
              :rules="'required|numeric'"
              :readonly="$route.query.mode === 'detail'"
              type="text"
              label="Pemudi"
              placeholder="Masukan Jumlah Pemudi..."
            >
              <template #label-group="{ label }">
                <span class="label-text bg-primary text-base-100"
                  ><p class="w-16 text-center">{{ label }}</p></span
                >
              </template>
            </FieldTextGroup>
          </div>
        </div>
        <div class="flex-1">
          <label class="label pb-4">
            <span class="label-text font-semibold text-base"
              >Jumlah Mubaligh PC</span
            >
          </label>
          <div class="space-y-3">
            <FieldTextGroup
              v-model="payload.jmlMuballighPersis"
              :initial-value="payload.jmlMuballighPersis"
              :rules="'required|numeric'"
              :readonly="$route.query.mode === 'detail'"
              type="text"
              label="Persis"
              placeholder="Masukan Jumlah Persis..."
            >
              <template #label-group="{ label }">
                <span class="label-text bg-primary text-base-100"
                  ><p class="w-16 text-center">{{ label }}</p></span
                >
              </template>
            </FieldTextGroup>
            <FieldTextGroup
              v-model="payload.jmlMuballighPersistri"
              :initial-value="payload.jmlMuballighPersistri"
              :rules="'required|numeric'"
              :readonly="$route.query.mode === 'detail'"
              type="text"
              label="Persistri"
              placeholder="Masukan Jumlah Persistri..."
            >
              <template #label-group="{ label }">
                <span class="label-text bg-primary text-base-100"
                  ><p class="w-16 text-center">{{ label }}</p></span
                >
              </template>
            </FieldTextGroup>
            <FieldTextGroup
              v-model="payload.jmlMuballighPemuda"
              :initial-value="payload.jmlMuballighPemuda"
              :rules="'required|numeric'"
              :readonly="$route.query.mode === 'detail'"
              type="text"
              label="Pemuda"
              placeholder="Masukan Jumlah Pemuda..."
            >
              <template #label-group="{ label }">
                <span class="label-text bg-primary text-base-100"
                  ><p class="w-16 text-center">{{ label }}</p></span
                >
              </template>
            </FieldTextGroup>
            <FieldTextGroup
              v-model="payload.jmlMuballighPemudi"
              :initial-value="payload.jmlMuballighPemudi"
              :rules="'required|numeric'"
              :readonly="$route.query.mode === 'detail'"
              type="text"
              label="Pemudi"
              placeholder="Masukan Jumlah Pemudi..."
            >
              <template #label-group="{ label }">
                <span class="label-text bg-primary text-base-100"
                  ><p class="w-16 text-center">{{ label }}</p></span
                >
              </template>
            </FieldTextGroup>
          </div>
        </div>
      </div>
      <!-- action-button -->
      <div class="divider"></div>
      <div class="flex justify-end flex-row w-full space-x-3">
        <label class="btn btn-error btn-outline w-32" @click="confirmClose">
          Kembali
        </label>
        <button
          v-if="$route.query.mode !== 'detail'"
          type="submit"
          class="btn btn-primary text-base-100 w-32"
          :class="{ 'btn-disabled': !valid }"
          value="submit"
        >
          {{ setup.label.button[$route.query.mode] }}
        </button>
      </div>
    </FieldForm>
  </CommonCard>
</template>

<script>
export default {
  name: 'FormJamaah',
  data() {
    return {
      loadingForm: false,
      setup: {
        label: {
          button: {
            create: 'Simpan',
            undefined: 'Simpan',
            edit: 'Update',
          },
          header: {
            create: 'Create',
            undefined: 'Create',
            detail: 'Detail',
            edit: 'Update',
          },
          error: {
            400: 'Terjadi kesalahan. pastikan data yang akan diedit valid. Kontak admin untuk petunjuk teknis.',
            500: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
            undefined: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
          },
        },
        pw: {
          loading: false,
          pagination: null,
          selected: null,
          disable: false,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode PW',
              itemId: 'kdPw',
            },
            {
              header: 'Nama PW',
              itemId: 'namaPw',
            },
          ],
        },
        pd: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode PD',
              itemId: 'kdPd',
            },
            {
              header: 'Nama PD',
              itemId: 'namaPd',
            },
          ],
        },
        pc: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode PC',
              itemId: 'kdPc',
            },
            {
              header: 'Nama PC',
              itemId: 'namaPc',
            },
          ],
        },
        provinsi: {
          loading: false,
          pagination: null,
          selected: null,
          disable: false,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode Provinsi',
              itemId: 'kode',
            },
            {
              header: 'Nama Provinsi',
              itemId: 'nama',
            },
          ],
        },
        kota: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode Kabupaten/Kota',
              itemId: 'kode',
            },
            {
              header: 'Nama Kabupaten/Kota',
              itemId: 'nama',
            },
          ],
        },
        kecamatan: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode Kecamatan',
              itemId: 'kode',
            },
            {
              header: 'Nama Kecamatan',
              itemId: 'nama',
            },
          ],
        },
        kelurahan: {
          loading: false,
          pagination: null,
          selected: null,
          disable: true,
          value: '',
          list: [],
          configTable: [
            {
              header: 'Kode Kelurahan',
              itemId: 'kode',
            },
            {
              header: 'Nama Kelurahan',
              itemId: 'nama',
            },
          ],
        },
      },
      loadingPW: false,
      loadingPD: false,
      loadingPC: false,
      paginationPW: null,
      paginationPD: null,
      paginationPC: null,
      selectedPW: null,
      selectedPD: null,
      selectedPC: null,
      disablePW: false,
      disablePD: true,
      disablePC: true,
      listPD: [],
      listPC: [],
      listPW: [],
      payload: {
        pc: {
          id: 0,
          kdPc: '',
          pd: {
            id: 0,
            kdPd: '',
            pw: {
              id: 0,
              kdPw: '',
              namaPw: '',
              diresmikan: '',
              createdAt: '',
              updatedAt: '',
            },
            namaPd: '',
            diresmikan: '',
            createdAt: '',
            updatedAt: '',
          },
          namaPc: '',
          diresmikan: '',
          createdAt: '',
          updatedAt: '',
        },
        kelurahan: {
          id: '',
          kecamatan: {
            id: '',
            kota: {
              id: '',
              provinsi: {
                id: '',
                kode: '',
                nama: '',
              },
              kode: '',
              nama: '',
            },
            kode: '',
            nama: '',
          },
          kode: '',
          nama: '',
        },
        jmlMesjid: 0,
        jmlMusholla: 0,
        jmlPj: 0,
        jmlAnggotaPersis: 0,
        jmlAnggotaPersistri: 0,
        jmlAnggotaPemuda: 0,
        jmlAnggotaPemudi: 0,
        jmlMuballighPersis: 0,
        jmlMuballighPersistri: 0,
        jmlMuballighPemuda: 0,
        jmlMuballighPemudi: 0,
        periodeStart: '',
        periodeEnd: '',
        createdAt: '',
        updatedAt: '',
        deletedAt: '',
        createdBy: '',
        updatedBy: '',
        deletedBy: '',
      },
    }
  },
  mounted() {
    const { mode = 'create', id = '' } = this.$route.query
    if (id && ['edit', 'detail'].includes(mode)) {
      this.loadData(id)
    }
  },
  methods: {
    switchToEdit() {
      this.loadingForm = true
      this.$router.push({
        query: {
          ...this.$route.query,
          mode: 'edit',
        },
      })
      setTimeout(() => {
        this.loadingForm = false
      }, 1000)
    },
    async loadData(id) {
      try {
        this.loadingForm = true
        const res = await this.$store.dispatch('keadaan_jamaah/get', id)
        this.payload = { ...res.data.data }
        this.setupEditData()
        this.loadingForm = false
      } catch (error) {
        this.$util.showModal({
          type: 'error',
          context: this.$nuxt,
          text: `${
            this.setup.label.error[`${error.response?.status}`]
          } Error Code: ${error.response?.data?.message ?? '-'}`,
        })
        this.$router.push('/keadaan-jamaah')
      }
    },
    setEditState(data) {
      if (Array.isArray(data)) {
        data.forEach(({ id, value }) => {
          this.setup[id].value = value
          this.setup[id].disable = false
        })
      } else {
        const { id, value } = data
        this.setup[id].value = value
        this.setup[id].disable = false
      }
    },
    setupEditData() {
      this.payload.periodeStart = this.$util.getDateNativeHTML(
        new Date(this.payload.periodeStart)
      )
      this.payload.periodeEnd = this.$util.getDateNativeHTML(
        new Date(this.payload.periodeEnd)
      )
      const { kdPw, namaPw } = this.payload.pc.pd.pw
      const { kdPd, namaPd } = this.payload.pc.pd
      const { kdPc, namaPc } = this.payload.pc
      const { kode, nama } = this.payload.kelurahan.kecamatan.kota.provinsi
      const { kode: kodeKota, nama: namaKota } =
        this.payload.kelurahan.kecamatan.kota
      const { kode: kodeKecamatan, nama: namaKecamatan } =
        this.payload.kelurahan.kecamatan
      const { kode: kodeKelurahan, nama: namaKelurahan } =
        this.payload.kelurahan

      this.setEditState([
        { id: 'pw', value: `${kdPw} | ${namaPw}` },
        { id: 'pd', value: `${kdPd} | ${namaPd}` },
        { id: 'pc', value: `${kdPc} | ${namaPc}` },
        { id: 'provinsi', value: `${kode} | ${nama}` },
        { id: 'kota', value: `${kodeKota} | ${namaKota}` },
        { id: 'kecamatan', value: `${kodeKecamatan} | ${namaKecamatan}` },
        { id: 'kelurahan', value: `${kodeKelurahan} | ${namaKelurahan}` },
      ])
    },
    confirmClose() {
      this.$util.showModal({
        type: 'question',
        context: this.$nuxt,
        text: 'Apakah Anda yakin akan keluar dari form ini?',
        callback: () => {
          this.$router.push('/keadaan-jamaah')
        },
      })
    },
    saveForm() {
      this.$emit('validate-success', {
        payload: this.payload,
        id: this.payload.id ?? '',
        mode: this.$route.query.mode,
      })
    },
    clearState(id) {
      if (Array.isArray(id)) {
        id.forEach((data) => {
          this.setup[data].list = []
          this.setup[data].value = null
          this.setup[data].pagination = null
          this.setup[data].disable = true
        })
      } else {
        this.setup[id].list = []
        this.setup[id].value = null
        this.setup[id].pagination = null
        this.setup[id].disable = true
      }
    },
    setSelectedPW({ item }) {
      const { kdPw, namaPw } = item
      this.clearState(['pd', 'pc'])
      this.setup.pd.disable = false
      this.setup.pw.value = `${kdPw} | ${namaPw}`
      this.payload.pc.pd.pw = { ...item }
    },
    setSelectedPD({ item }) {
      const { kdPd, namaPd } = item
      this.clearState('pc')
      this.setup.pc.disable = false
      this.setup.pd.value = `${kdPd} | ${namaPd}`
      this.payload.pc.pd = { ...item }
    },
    setSelectedPC({ item }) {
      const { kdPc, namaPc } = item
      this.clearState('pc')
      this.setup.pc.disable = false
      this.setup.pc.value = `${kdPc} | ${namaPc}`
      this.payload.pc = { ...item }
    },
    setSelectedProvinsi({ item }) {
      const { kode, nama } = item
      this.clearState(['kota', 'kecamatan', 'kelurahan'])
      this.setup.kota.disable = false
      this.setup.provinsi.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan.kota.provinsi = { ...item }
    },
    setSelectedKota({ item }) {
      const { kode, nama } = item
      this.clearState(['kecamatan', 'kelurahan'])
      this.setup.kecamatan.disable = false
      this.setup.kota.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan.kota = { ...item }
    },
    setSelectedKecamatan({ item }) {
      const { kode, nama } = item
      this.clearState(['kelurahan'])
      this.setup.kelurahan.disable = false
      this.setup.kecamatan.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan = { ...item }
    },
    setSelectedKelurahan({ item }) {
      const { kode, nama } = item
      this.setup.kecamatan.disable = false
      this.setup.kelurahan.value = `${kode} | ${nama}`
      this.payload.kelurahan = { ...item }
    },
    async loadListPW(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pw.loading = true
      const response = await this.$store.dispatch('wilayah/getListPW', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
      })
      const { content, ...pagination } = response.data.data
      this.setup.pw.list = content
      this.setup.pw.pagination = pagination
      this.setup.pw.loading = false
    },
    async loadListPD(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pd.loading = true
      const response = await this.$store.dispatch('wilayah/getListPD', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-pw': this.payload.pc.pd.pw.kdPw,
      })
      const { content, ...pagination } = response.data.data
      this.setup.pd.list = content
      this.setup.pd.pagination = pagination
      this.setup.pd.loading = false
    },
    async loadListPC(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pc.loading = true
      const response = await this.$store.dispatch('wilayah/getListPC', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-pd': this.payload.pc.pd.kdPd,
      })
      const { content, ...pagination } = response.data.data
      this.setup.pc.list = content
      this.setup.pc.pagination = pagination
      this.setup.pc.loading = false
    },
    async loadListProvinsi(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.provinsi.loading = true
      const response = await this.$store.dispatch('wilayah/getListProvinsi', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
      })
      const { content, ...pagination } = response.data.data
      this.setup.provinsi.list = content
      this.setup.provinsi.pagination = pagination
      this.setup.provinsi.loading = false
    },
    async loadListKota(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kota.loading = true
      const response = await this.$store.dispatch('wilayah/getListKota', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-provinsi': this.payload.kelurahan.kecamatan.kota.provinsi.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kota.list = content
      this.setup.kota.pagination = pagination
      this.setup.kota.loading = false
    },
    async loadListKecamatan(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kecamatan.loading = true
      const response = await this.$store.dispatch('wilayah/getListKecamatan', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-kota': this.payload.kelurahan.kecamatan.kota.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kecamatan.list = content
      this.setup.kecamatan.pagination = pagination
      this.setup.kecamatan.loading = false
    },
    async loadListKelurahan(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kelurahan.loading = true
      const response = await this.$store.dispatch('wilayah/getListKelurahan', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-kecamatan': this.payload.kelurahan.kecamatan.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kelurahan.list = content
      this.setup.kelurahan.pagination = pagination
      this.setup.kelurahan.loading = false
    },
  },
}
</script>
