<template>
  <CommonCard>
    <!-- title -->
    <h2 class="card-title text-4xl font-bold">Buat Koordinat Kota</h2>
    <p class="text-sm">Buat data koordinat kota baru ke dalam pusat data</p>

    <!-- form -->
    <FieldForm ref="formCreate" v-slot="{ valid }" @submit="saveForm">
      <FieldText
        v-model="form.kode"
        label="Kode Provinsi"
        placeholder="Masukkan Kode Provinsi"
        rules="required"
      >
        <template #label="{ label }">
          <label class="label">
            <span class="label-text font-semibold text-base">{{ label }}</span>
          </label>
        </template>
      </FieldText>
      <div class="flex flex-row space-x-3">
        <!-- <div class="form-control w-full">
          <label class="label">
              <span class="label-text">Pilih Provinsi</span>
          </label>
          <select v-model="form.provinsi" class="select select-bordered">
            <option disabled value="">
              Pilih Provinsi
            </option>
            <template v-for="item of listProvinsi">
              <option :key="item.kode" :value="item.kode">
                {{ item.nama }}
              </option>
            </template>
          </select>
        </div>
        <div class="form-control w-full">
          <label class="label">
              <span class="label-text">Pilih Ibukota</span>
          </label>
          <select v-model="form.ibukota" class="select select-bordered">
            <option disabled value="">
              Pilih Ibukota
            </option>
            <template v-for="item of listIbukota">
              <option :key="item.kode" :value="item.kode">
                {{ item.nama }}
              </option>
            </template>
          </select>
        </div> -->
        <FieldText
          v-model="form.provinsi"
          label="Nama Provinsi"
          placeholder="Masukkan Nama Provinsi"
          rules="required"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
        <FieldText
          v-model="form.ibukota"
          label="Nama Ibukota"
          placeholder="Masukkan Nama Ibukota"
          rules="required"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
      </div>
      <div class="flex flex-row space-x-3">
        <FieldText
          v-model="form.latitude"
          type="number"
          label="Latitude"
          placeholder="Masukkan Latitude"
          rules="required"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
        <FieldText
          v-model="form.longitude"
          type="number"
          label="Longitude"
          placeholder="Masukkan Longitude"
          rules="required"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
      </div>
      <div class="flex flex-row space-x-3">
        <FieldText
          v-model="form.luas_wilayah"
          type="number"
          label="Luas Wilayah"
          placeholder="Masukkan Luas Wilayah"
          rules="required"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
        <FieldText
          v-model="form.path"
          label="Path"
          placeholder="Masukkan Path"
          rules="required"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
      </div>
      <div class="flex flex-row space-x-3">
        <FieldText
          v-model="form.jmlh_penduduk"
          type="number"
          label="Jumlah Penduduk"
          placeholder="Masukkan Jumlah Penduduk"
          rules="required"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
        <FieldText
          v-model="form.elevation"
          type="number"
          label="Elevation"
          placeholder="Masukkan Elevation"
          rules="required"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
      </div>
      <div class="flex flex-row space-x-3">
        <FieldText
          v-model="form.timezone"
          type="number"
          label="Timezone"
          placeholder="Masukkan Timezone"
          rules="required"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
        <FieldText
          v-model="form.status"
          type="number"
          label="Status"
          placeholder="Masukkan Status"
          rules="required"
        >
          <template #label="{ label }">
            <label class="label">
              <span class="label-text font-semibold text-base">{{
                label
              }}</span>
            </label>
          </template>
        </FieldText>
      </div>

      <div class="divider"></div>
      <div class="flex justify-end flex-row w-full space-x-3">
        <NuxtLink to="/koor-kota">
          <button class="btn btn-error btn-outline">Kembali</button>
        </NuxtLink>
        <button
          type="submit"
          class="btn btn-primary"
          :class="{ 'btn-disabled': !valid }"
          value="submit"
        >
          Simpan
        </button>
      </div>
    </FieldForm>
  </CommonCard>
</template>

<script>
export default {
  data() {
    return {
      form: {},
    }
  },
  methods: {
    async saveForm() {
      await this.$emit('on-validate-success', this.form)
    },
  },
}
</script>
