<!-- eslint-disable no-console -->
<template>
  <CommonCard>
    <!-- title -->
    <h2 class="card-title text-4xl font-bold">Buat Data Pelajar</h2>
    <p class="text-sm">Buat data pelajar baru ke dalam pusat data</p>

    <!-- form -->
    <FieldForm ref="form" v-slot="{ valid }" @submit="saveForm">
      <div class="flex flex-row space-x-3">
        <FieldText
          v-model="firstName"
          label="Nama Awal"
          placeholder="Nama Awal"
          rules="required"
        />
        <FieldText
          v-model="lastName"
          label="Nama Akhir"
          placeholder="Nama Akhir"
          rules="required"
        />
      </div>

      <FieldText
        v-model="birthDate"
        type="date"
        label="Tanggal Lahir"
        rules="required"
      />

      <div class="flex flex-row space-x-3">
        <FieldText
          v-model="phoneNumber"
          label="Nomor Telepon"
          placeholder="Nomor Telepon Aktif"
          rules="required|phone"
        />
        <FieldText
          v-model="email"
          label="Email"
          placeholder="Email Aktif"
          rules="required|email"
        />
        <FieldText
          v-model="jurusan"
          label="Jurusan"
          placeholder="Jurusan"
          rules="required"
        />
      </div>

      <FieldSelect
        v-model="selectedPW"
        label="Pimpinan Wilayah"
        placeholder="Pimpinan Wilayah"
        :items="listPW"
        rules="required"
      />

      <div class="flex flex-row space-x-3">
        <FieldSelect
          v-model="selectedPD"
          label="Pimpinan Daerah"
          placeholder="Pimpinan Daerah"
          :items="listPD"
          :disabled="!selectedPW || listPD?.length === 0"
          rules="required"
        />
        <FieldSelect
          v-model="selectedPC"
          label="Pimpinan Cabang"
          placeholder="Pimpinan Cabang"
          :items="listPC"
          :disabled="!selectedPD || listPC?.length === 0"
          rules="required"
        />
      </div>

      <div class="flex flex-row space-x-3">
        <FieldSelect
          v-model="selectedProvince"
          label="Provinsi"
          placeholder="Provinsi"
          :items="listProvince"
          rules="required"
        />
        <FieldSelect
          v-model="selectedRegency"
          label="Kota"
          placeholder="Kota"
          :items="listRegency"
          :disabled="!selectedProvince || listRegency?.length === 0"
          rules="required"
        />
      </div>
      <div class="flex flex-row space-x-3">
        <FieldSelect
          v-model="selectedDistrict"
          label="Kecamatan"
          placeholder="Kecamatan"
          :items="listDistrict"
          :disabled="!selectedRegency || listDistrict?.length === 0"
          rules="required"
        />
        <FieldSelect
          v-model="selectedSubdistrict"
          label="Kelurahan"
          placeholder="Kecamatan"
          :items="listSubdistrict"
          :disabled="!selectedDistrict || listSubdistrict?.length === 0"
          rules="required"
        />
      </div>

      <!-- action-button -->
      <div class="divider"></div>
      <div class="flex justify-end flex-row w-full space-x-3">
        <NuxtLink to="/students">
          <button class="btn btn-error btn-outline">Kembali</button>
        </NuxtLink>
        <button
          type="submit"
          class="btn btn-primary"
          :class="{ 'btn-disabled': !valid }"
          value="submit"
        >
          Kirim
        </button>
      </div>
    </FieldForm>
  </CommonCard>
</template>

<script>
export default {
  name: 'FormStudent',
  data() {
    return {
      // basic data
      firstName: null,
      lastName: null,
      birthDate: null,
      email: null,
      phoneNumber: null,
      jurusan: null,

      // data jamiyyah
      listPW: null,
      listPD: null,
      listPC: null,
      selectedPW: null,
      selectedPD: null,
      selectedPC: null,

      // location data
      listProvince: null,
      listRegency: null,
      listDistrict: null,
      listSubdistrict: null,
      selectedProvince: null,
      selectedRegency: null,
      selectedDistrict: null,
      selectedSubdistrict: null,
    }
  },

  computed: {
    // to be sent
    payload() {
      return {
        firstName: this.firstName,
        lastName: this.lastName,
        birthDate: this.birthDate,
        email: this.email,
        phone: this.phoneNumber,
        jurusan: this.jurusan,
        pc: {
          ...this.selectedPC,
          pd: {
            ...this.selectedPD,
            pw: {
              ...this.selectedPW,
            },
          },
        },
        kelurahan: {
          ...this.selectedSubdistrict,
          kecamatan: {
            ...this.selectedDistrict,
            kota: {
              ...this.selectedRegency,
              provinsi: {
                ...this.selectedProvince,
              },
            },
          },
        },
      }
    },
  },

  watch: {
    selectedPW(newVal) {
      this.selectedPD = null
      this.selectedPC = null
      this.fetchPD(newVal.kdPw)
    },

    selectedPD(newVal) {
      if (this.selectedPD) {
        this.fetchPC(newVal.kdPd)
      }
    },

    selectedProvince(newVal) {
      if (this.selectedProvince) {
        this.selectedRegency = null
        this.selectedDistrict = null
        this.selectedSubdistrict = null
        this.fetchRegency(newVal.kode)
      }
    },

    selectedRegency(newVal) {
      if (this.selectedRegency) {
        this.selectedDistrict = null
        this.selectedSubdistrict = null
        this.fetchDistrict(newVal.kode)
      }
    },

    selectedDistrict(newVal) {
      if (this.selectedDistrict) {
        this.fetchSubdistrict(newVal.kode)
      }
    },
  },

  async created() {
    await Promise.all([this.fetchPW(), this.fetchProvince()])
  },

  methods: {
    async fetchPW() {
      try {
        const response = await this.$store.dispatch('wilayah/getListPW', {
          keyword: null,
          page: 1,
          size: 50,
        })
        if (response) {
          this.listPW = response.data.data.content.map((item) => ({
            name: item.namaPw,
            value: item,
          }))
        }
      } catch (err) {
        console.log(err)
      }
    },

    async fetchPD(kodePW) {
      try {
        const response = await this.$store.dispatch('wilayah/getListPD', {
          keyword: null,
          page: 1,
          size: 50,
          'kode-pw': kodePW,
        })
        if (response) {
          this.listPD = response.data.data.content.map((item) => ({
            name: item.namaPd,
            value: item,
          }))
        }
      } catch (err) {
        console.log(err)
      }
    },

    async fetchPC(kodePD) {
      try {
        const response = await this.$store.dispatch('wilayah/getListPC', {
          keyword: null,
          page: 1,
          size: 50,
          'kode-pd': kodePD,
        })
        if (response) {
          this.listPC = response.data.data.content.map((item) => ({
            name: item.namaPc,
            value: item,
          }))
        }
      } catch (err) {
        console.log(err)
      }
    },

    async fetchProvince() {
      try {
        const response = await this.$store.dispatch('wilayah/getListProvinsi', {
          keyword: null,
          page: 1,
          size: 50,
        })
        if (response) {
          this.listProvince = response.data.data.content.map((item) => ({
            name: item.nama,
            value: item,
          }))
        }
      } catch (err) {
        console.log(err)
      }
    },

    async fetchRegency(provinceCode) {
      try {
        const response = await this.$store.dispatch('wilayah/getListKota', {
          keyword: null,
          page: 1,
          size: 50,
          'kode-provinsi': provinceCode,
        })
        if (response) {
          this.listRegency = response.data.data.content.map((item) => ({
            name: item.nama,
            value: item,
          }))
        }
      } catch (err) {
        console.log(err)
      }
    },

    async fetchDistrict(regencyCode) {
      try {
        const response = await this.$store.dispatch(
          'wilayah/getListKecamatan',
          {
            keyword: null,
            page: 1,
            size: 50,
            'kode-kota': regencyCode,
          }
        )
        if (response) {
          this.listDistrict = response.data.data.content.map((item) => ({
            name: item.nama,
            value: item,
          }))
        }
      } catch (err) {
        console.log(err)
      }
    },

    async fetchSubdistrict(districtCode) {
      try {
        const response = await this.$store.dispatch(
          'wilayah/getListKelurahan',
          {
            keyword: null,
            page: 1,
            size: 50,
            'kode-kecamatan': districtCode,
          }
        )
        if (response) {
          this.listSubdistrict = response.data.data.content.map((item) => ({
            name: item.nama,
            value: item,
          }))
        }
      } catch (err) {
        console.log(err)
      }
    },

    async saveForm() {
      // front-end validation will be executed here
      await this.$emit('on-validate-success', this.payload)
    },
  },
}
</script>
