<template>
  <CommonCard>
    <!-- title -->
    <h2>Form {{ setup.label.header[$route.query.mode] }} Muballigh</h2>
    <p class="pb-4">
      <span class="card-title text-2xl lg:text-4xl"
        >Upaya Peningkatan Wawasan/Keterampilan</span
      >
      <label
        v-if="$route.query.mode === 'detail'"
        class="btn btn-primary btn-xs btn-outline"
        @click="switchToEdit"
      >
        Klik Untuk Edit Data
      </label>
    </p>

    <div
      v-if="loadingForm"
      class="h-48 flex flex-col justify-center items-center"
    >
      <progress class="progress w-56"></progress>
    </div>
    <!-- form -->
    <FieldForm v-else ref="form" v-slot="{ valid }" @submit="saveForm">
      <div class="flex flex-col pb-8">
        <CommonAngketOption
          :options="[
            {
              value: 'PERNAH',
              label: 'Pernah',
              name: 'internal',
            },
            {
              value: 'TIDAK_PERNAH',
              label: 'Tidak Pernah',
              name: 'internal',
            },
          ]"
          question="1) Kegiatan tentang ketablighan/kedakwahan yang pernah diikuti di lingkungan Persis"
          mode="vertical"
          :is-show-additional="['PERNAH'].includes(payload.internal)"
          :immediate="isImmediate"
          :required-if="['PERNAH'].includes(payload.internal)"
          :value="payload.internal"
          label-additional="Sebutkan:"
          place-holder-additional="Kegiatan A"
          @change="setValue($event.target.value, 'internal')"
          @input-additional="setValue($event, 'internalAdditionalMessage')"
        >
          <template #additional>
            <CommonAngketArray
              :options="payload.internalAdditionalMessage"
              question=""
              placeholder="Isikan Kegiatan..."
              :immediate="isImmediate"
              @add-item="
                ($event) => payload.internalAdditionalMessage.push($event)
              "
              @input="
                ({ index, value }) =>
                  payload.internalAdditionalMessage.splice(index, 1, {
                    ...payload.internalAdditionalMessage[index],
                    value,
                  })
              "
              @remove-item="
                ({ index }) =>
                  removeItem(payload.internalAdditionalMessage, index)
              "
            />
          </template>
        </CommonAngketOption>
        <CommonAngketOption
          :options="[
            {
              value: 'PERNAH',
              label: 'Pernah',
              name: 'eksternal',
            },
            {
              value: 'TIDAK_PERNAH',
              label: 'Tidak Pernah',
              name: 'eksternal',
            },
          ]"
          question="2) Kegiatan tentang ketablighan/kedakwahan yang pernah diikuti di luar lingkungan Persis"
          :is-show-additional="['PERNAH'].includes(payload.eksternal)"
          :immediate="isImmediate"
          mode="vertical"
          :required-if="['PERNAH'].includes(payload.eksternal)"
          :value="payload.eksternal"
          label-additional="Sebutkan:"
          place-holder-additional="Kegiatan A"
          @change="setValue($event.target.value, 'eksternal')"
          @input-additional="setValue($event, 'eksternalAdditionalMessage')"
        >
          <template #additional>
            <CommonAngketArray
              :options="payload.eksternalAdditionalMessage"
              question=""
              placeholder="Isikan Kegiatan..."
              :immediate="isImmediate"
              @add-item="
                ($event) => payload.eksternalAdditionalMessage.push($event)
              "
              @input="
                ({ index, value }) =>
                  payload.eksternalAdditionalMessage.splice(index, 1, {
                    ...payload.eksternalAdditionalMessage[index],
                    value,
                  })
              "
              @remove-item="
                ({ index }) =>
                  removeItem(payload.eksternalAdditionalMessage, index)
              "
            />
          </template>
        </CommonAngketOption>
        <CommonAngketOption
          :options="[
            {
              value: 'KITAB',
              label: 'Kitab',
              name: 'upaya',
            },
            {
              value: 'BUKU',
              label: 'Buku',
              name: 'upaya',
            },
            {
              value: 'HALAQOH',
              label: 'Halaqoh',
              name: 'upaya',
            },
            {
              value: 'LAINNYA',
              label: 'Lainnya',
              name: 'upaya',
            },
          ]"
          question="3) Upaya peningkatan pengetahuan keislaman melalui"
          :is-show-additional="['LAINNYA'].includes(payload.upaya)"
          :immediate="isImmediate"
          mode="vertical"
          :required-if="['LAINNYA'].includes(payload.upaya)"
          :value="payload.upaya"
          label-additional="Sebutkan:"
          place-holder-additional="Kegiatan A"
          @change="setValue($event.target.value, 'upaya')"
          @input-additional="setValue($event, 'upayaAdditionalMessage')"
        >
          <template #additional>
            <CommonAngketArray
              :options="payload.upayaAdditionalMessage"
              question=""
              placeholder="Isikan Kegiatan..."
              :immediate="isImmediate"
              @add-item="
                ($event) => payload.upayaAdditionalMessage.push($event)
              "
              @input="
                ({ index, value }) =>
                  payload.upayaAdditionalMessage.splice(index, 1, {
                    ...payload.upayaAdditionalMessage[index],
                    value,
                  })
              "
              @remove-item="
                ({ index }) => removeItem(payload.upayaAdditionalMessage, index)
              "
            />
          </template>
        </CommonAngketOption>
      </div>
      <div class="flex justify-end flex-row w-full space-x-3">
        <div class="flex w-full justify-start space-x-3">
          <label
            class="btn btn-error btn-outline flex-1 lg:flex-none lg:w-32"
            @click="$emit('back-step', { step: 2, payload })"
          >
            Sebelumnya
          </label>
          <button
            type="submit"
            class="btn btn-primary text-base-100 flex-1 lg:flex-none lg:w-40"
            :class="{ 'btn-disabled': !valid }"
            value="submit"
          >
            Lanjutkan
          </button>
        </div>
      </div>
    </FieldForm>
  </CommonCard>
</template>

<script>
export default {
  props: {
    isValidForm: {
      type: Boolean,
      default: false,
    },
    formSuccess: {
      type: Object,
      default: () => null,
    },
    immidiate: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loadingForm: false,
      setup: {
        label: {
          button: {
            create: 'Simpan',
            undefined: 'Simpan',
            edit: 'Update',
          },
          header: {
            create: 'Create',
            undefined: 'Create',
            detail: 'Detail',
            edit: 'Update',
          },
          error: {
            400: 'Terjadi kesalahan. pastikan data yang akan diedit valid. Kontak admin untuk petunjuk teknis.',
            500: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
            undefined: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
          },
        },
      },
      payload: {
        internal: '',
        internalAdditionalMessage: [{ id: 1, value: '' }],
        eksternal: '',
        eksternalAdditionalMessage: [{ id: 1, value: '' }],
        upayaAdditionalMessage: [{ id: 1, value: '' }],
        upaya: '',
      },
    }
  },
  computed: {
    isImmediate() {
      return this.immidiate || this.$route.query.mode === 'edit'
    },
  },
  watch: {
    payload: {
      handler(val) {
        this.$emit('form-change', { payload: val, valid: this.isValidForm })
      },
      deep: true,
    },
    isValidForm(val) {
      this.$emit('form-change', { payload: this.payload, valid: val })
    },
  },
  mounted() {
    this.loadingForm = true
    if (this.formSuccess) {
      this.payload = { ...this.formSuccess }
    }
    setTimeout(() => {
      this.loadingForm = false
    }, 1000)
  },
  methods: {
    removeItem(array, index) {
      array.splice(index, 1)
    },
    setValue(value, id) {
      this.payload[id] = value
    },
    switchToEdit() {
      this.loadingForm = true
      this.$router.push({
        query: {
          ...this.$route.query,
          mode: 'edit',
        },
      })
      setTimeout(() => {
        this.loadingForm = false
      }, 1000)
    },
    async loadData(id) {
      try {
        this.loadingForm = true
        const res = await this.$store.dispatch('keadaan_jamaah/get', id)
        this.payload = { ...res.data.data }
        this.setupEditData()
        this.loadingForm = false
      } catch (error) {
        this.$util.showModal({
          type: 'error',
          context: this.$nuxt,
          text: `${
            this.setup.label.error[`${error.response?.status}`]
          } Error Code: ${error.response?.data?.message ?? '-'}`,
        })
        this.$router.push('/keadaan-jamaah')
      }
    },
    setEditState(data) {
      if (Array.isArray(data)) {
        data.forEach(({ id, value }) => {
          this.setup[id].value = value
          this.setup[id].disable = false
        })
      } else {
        const { id, value } = data
        this.setup[id].value = value
        this.setup[id].disable = false
      }
    },
    saveForm() {
      this.$emit('validate-success', {
        payload: this.payload,
        id: this.payload.id ?? '',
        mode: this.$route.query.mode,
      })
    },
    clearState(id) {
      if (Array.isArray(id)) {
        id.forEach((data) => {
          this.setup[data].list = []
          this.setup[data].value = null
          this.setup[data].pagination = null
          this.setup[data].disable = true
        })
      } else {
        this.setup[id].list = []
        this.setup[id].value = null
        this.setup[id].pagination = null
        this.setup[id].disable = true
      }
    },
    setSelectedPW({ item }) {
      const { kdPw, namaPw } = item
      this.clearState(['pd', 'pc'])
      this.setup.pd.disable = false
      this.setup.pw.value = `${kdPw} | ${namaPw}`
      this.payload.pc.pd.pw = { ...item }
    },
    setSelectedPD({ item }) {
      const { kdPd, namaPd } = item
      this.clearState('pc')
      this.setup.pc.disable = false
      this.setup.pd.value = `${kdPd} | ${namaPd}`
      this.payload.pc.pd = { ...item }
    },
    setSelectedPC({ item }) {
      const { kdPc, namaPc } = item
      this.clearState('pc')
      this.setup.pc.disable = false
      this.setup.pc.value = `${kdPc} | ${namaPc}`
      this.payload.pc = { ...item }
    },
    setSelectedProvinsi({ item }) {
      const { kode, nama } = item
      this.clearState(['kota', 'kecamatan'])
      this.setup.kota.disable = false
      this.setup.provinsi.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan.kota.provinsi = { ...item }
    },
    setSelectedKota({ item }) {
      const { kode, nama } = item
      this.clearState(['kecamatan'])
      this.setup.kecamatan.disable = false
      this.setup.kota.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan.kota = { ...item }
    },
    setSelectedKecamatan({ item }) {
      const { kode, nama } = item
      this.setup.kelurahan.disable = false
      this.setup.kecamatan.value = `${kode} | ${nama}`
      this.payload.kelurahan.kecamatan = { ...item }
    },
    setSelectedKelurahan({ item }) {
      const { kode, nama } = item
      this.setup.kecamatan.disable = false
      this.setup.kelurahan.value = `${kode} | ${nama}`
      this.payload.kelurahan = { ...item }
    },
    async loadListPW(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pw.loading = true
      const response = await this.$store.dispatch('wilayah/getListPW', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
      })
      const { content, ...pagination } = response.data.data
      this.setup.pw.list = content
      this.setup.pw.pagination = pagination
      this.setup.pw.loading = false
    },
    async loadListPD(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pd.loading = true
      const response = await this.$store.dispatch('wilayah/getListPD', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-pw': this.payload.pc.pd.pw.kdPw,
      })
      const { content, ...pagination } = response.data.data
      this.setup.pd.list = content
      this.setup.pd.pagination = pagination
      this.setup.pd.loading = false
    },
    async loadListPC(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.pc.loading = true
      const response = await this.$store.dispatch('wilayah/getListPC', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-pd': this.payload.pc.pd.kdPd,
      })
      const { content, ...pagination } = response.data.data
      this.setup.pc.list = content
      this.setup.pc.pagination = pagination
      this.setup.pc.loading = false
    },
    async loadListProvinsi(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.provinsi.loading = true
      const response = await this.$store.dispatch('wilayah/getListProvinsi', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
      })
      const { content, ...pagination } = response.data.data
      this.setup.provinsi.list = content
      this.setup.provinsi.pagination = pagination
      this.setup.provinsi.loading = false
    },
    async loadListKota(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kota.loading = true
      const response = await this.$store.dispatch('wilayah/getListKota', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-provinsi': this.payload.kelurahan.kecamatan.kota.provinsi.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kota.list = content
      this.setup.kota.pagination = pagination
      this.setup.kota.loading = false
    },
    async loadListKecamatan(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kecamatan.loading = true
      const response = await this.$store.dispatch('wilayah/getListKecamatan', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-kota': this.payload.kelurahan.kecamatan.kota.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kecamatan.list = content
      this.setup.kecamatan.pagination = pagination
      this.setup.kecamatan.loading = false
    },
    async loadListKelurahan(data) {
      const { keyword = '', page = null } = data ?? {}
      this.setup.kelurahan.loading = true
      const response = await this.$store.dispatch('wilayah/getListKelurahan', {
        size: 10,
        page: page ?? 1,
        keyword: keyword ?? '',
        'kode-kecamatan': this.payload.kelurahan.kecamatan.kode,
      })
      const { content, ...pagination } = response.data.data
      this.setup.kelurahan.list = content
      this.setup.kelurahan.pagination = pagination
      this.setup.kelurahan.loading = false
    },
  },
}
</script>
