<template>
  <div class="card w-full bg-base-100 shadow-xl">
    <div class="px-4 py-4 lg:card-body">
      <h2 class="card-title text-2xl lg:text-4xl font-bold">
        List Keadaan Pendidikan
      </h2>
      <p class="text-sm">Yang berada di Jamiyyah Persatuan Islam.</p>
      <div class="card-actions lg:justify-between w-full my-4">
        <div class="flex space-x-2 flex-1">
          <input
            v-model="keyword"
            type="text"
            placeholder="Cari ..."
            class="input input-bordered input-primary w-full max-w-xs"
          />
        </div>
        <NuxtLink
          :to="{ path: $route.path + '/form', query: { mode: 'create' } }"
        >
          <button class="btn btn-primary text-base-100 lg:hidden btn-circle">
            <component
              :is="require(`@/assets/svg/AddForm.svg?inline`)"
              class="w-5 h-5"
            ></component>
          </button>
          <button class="btn btn-primary text-base-100 hidden lg:block">
            Tambah Data
          </button>
        </NuxtLink>
      </div>
      <div
        v-if="isLoading"
        class="h-48 flex flex-col justify-center items-center"
      >
        <progress class="progress w-56"></progress>
      </div>
      <div v-else-if="pagination.totalPages <= 0" class="hero">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-3xl font-bold">Tidak ada data</h1>
            <p class="py-4">
              data yang anda cari belum tersedia. Silahkan kontak Admin.
            </p>
          </div>
        </div>
      </div>
      <div v-else class="overflow-x-auto">
        <table class="table table-compact lg:table-normal w-full">
          <thead>
            <tr>
              <th class="bg-primary text-base-100">No</th>
              <th
                class="bg-primary text-base-100 sticky left-[35px] lg:left-10"
              >
                Kelurahan
              </th>
              <th class="bg-primary text-base-100">Jumlah RA</th>
              <th class="bg-primary text-base-100">Jumlah Diniyah</th>
              <th class="bg-primary text-base-100">Jumlah MI</th>
              <th class="bg-primary text-base-100">Jumlah MTS</th>
              <th class="bg-primary text-base-100">Jumlah MA</th>
              <th class="bg-primary text-base-100">Jumlah Mualimin</th>
              <th class="bg-primary text-base-100">Jumlah SD</th>
              <th class="bg-primary text-base-100">Jumlah SMP</th>
              <th class="bg-primary text-base-100">Jumlah SMA</th>
              <th class="bg-primary text-base-100">Jumlah Santri Ra</th>
              <th class="bg-primary text-base-100">Jumlah Santri Diniyah</th>
              <th class="bg-primary text-base-100">Jumlah Santri MI</th>
              <th class="bg-primary text-base-100">Jumlah Santri MTS</th>
              <th class="bg-primary text-base-100">Jumlah Santri MA</th>
              <th class="bg-primary text-base-100">Jumlah Santri Mualimin</th>
              <th class="bg-primary text-base-100">Jumlah Santri SD</th>
              <th class="bg-primary text-base-100">Jumlah Santri SMP</th>
              <th class="bg-primary text-base-100">Jumlah Santri SMA</th>
              <th class="bg-primary text-base-100">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(item, index) in data"
              :key="item.id"
              class="hover cursor-pointer"
              @click="loadData(item, 'detail')"
            >
              <th>
                {{ setIndex(index, pagination.number, pagination.size) }}
              </th>
              <td class="sticky left-[35px] lg:left-10">
                <p class="lg:min-w-[122px]">{{ item.kelurahan.nama }}</p>
              </td>
              <td class="text-center">{{ item.jumlahRa }}</td>
              <td class="text-center">{{ item.jumlahDny }}</td>
              <td class="text-center">{{ item.jumlahMi }}</td>
              <td class="text-center">{{ item.jumlahMts }}</td>
              <td class="text-center">{{ item.jumlahMa }}</td>
              <td class="text-center">{{ item.jumlahMln }}</td>
              <td class="text-center">{{ item.jumlahSd }}</td>
              <td class="text-center">{{ item.jumlahSmp }}</td>
              <td class="text-center">{{ item.jumlahSma }}</td>
              <td class="text-center">{{ item.jumlahSantriRa }}</td>
              <td class="text-center">{{ item.jumlahSantriDny }}</td>
              <td class="text-center">{{ item.jumlahSantriMi }}</td>
              <td class="text-center">{{ item.jumlahSantriMts }}</td>
              <td class="text-center">{{ item.jumlahSantriMa }}</td>
              <td class="text-center">{{ item.jumlahSantriMln }}</td>
              <td class="text-center">{{ item.jumlahSantriSd }}</td>
              <td class="text-center">{{ item.jumlahSantriSmp }}</td>
              <td class="text-center">{{ item.jumlahSantriSma }}</td>
              <th>
                <button
                  class="btn btn-warning btn-outline btn-xs"
                  @click.stop="loadData(item, 'edit')"
                >
                  <component
                    :is="require(`@/assets/svg/Pencil.svg?inline`)"
                    class="w-5 h-5"
                  ></component>
                </button>
                <button
                  class="btn btn-primary btn-outline btn-xs"
                  @click.stop="loadData(item, 'detail')"
                >
                  <component
                    :is="require(`@/assets/svg/eye-open.svg?inline`)"
                    class="w-5 h-5"
                  ></component>
                </button>
                <button
                  class="btn btn-error btn-outline btn-xs"
                  @click.stop="deleteData(item)"
                >
                  <component
                    :is="require(`@/assets/svg/close.svg?inline`)"
                    class="w-5 h-5"
                  ></component>
                </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        v-if="pagination.totalPages"
        class="flex flex-col lg:flex-row justify-end items-center py-4"
      >
        <div class="flex-1 text-xs lg:text-sm pb-4 lg:pb-0">
          {{ setLabelTotalInfo(pagination) }}
        </div>
        <CommonPagination
          :page-count="pagination.totalPages"
          :selected-page="pagination.number + 1"
          @page-change="($event) => $emit('page-change', { page: $event })"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'KeadaanPendidikan',
  props: {
    isLoading: {
      type: Boolean,
      default: true,
    },
    data: {
      type: Array,
      required: true,
    },
    pagination: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      keyword: '',
    }
  },
  mounted() {
    const { keyword = '' } = this.$route.query
    this.keyword = keyword
  },
  created() {
    this.$watch(
      'keyword',
      this.$util.debounce(() => {
        this.$emit('filter', this.keyword)
      }, 500)
    )
  },
  methods: {
    setIndex(index, number, size) {
      return index + 1 + number * size
    },
    setLabelTotalInfo(pagination) {
      return `Showing ${pagination.number * pagination.size + 1} - ${
        (pagination.number + 1) * pagination.size
      } of ${pagination.totalElements} entries`
    },
    loadData({ id }, mode = 'edit') {
      this.$router.push({
        path: this.$route.path + '/form',
        query: {
          id,
          mode,
        },
      })
    },
    deleteData({ id }) {
      this.$util.showModal({
        type: 'question',
        context: this.$nuxt,
        text: 'Apakah anda yakin akan menghapus data ini?',
        callback: async () => {
          const status = await this.$store.dispatch(
            'keadaan_pendidikan/delete',
            id
          )
          if (status) {
            this.$util.showModal({
              type: 'success',
              context: this.$nuxt,
              text: 'Berhasil menghapus data pendidikan',
              callback: () => {
                this.$emit('page-change', { page: 1, action: 'delete' })
              },
            })
          }
        },
      })
    },
  },
}
</script>
