<template>
  <div class="card w-full bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title text-4xl font-bold">Daftar Koordinat Kota</h2>
      <div class="card-actions justify-between w-full my-4">
        <div class="flex space-x-2">
          <input
            v-model="keyword"
            type="text"
            placeholder="Cari koordinat kota"
            class="input input-bordered input-primary w-full max-w-xs"
          />
        </div>
        <NuxtLink :to="$route.path + '/create'">
          <button class="btn btn-primary btn-outline">Tambah Koordinat</button>
        </NuxtLink>
      </div>

      <div class="overflow-x-auto items-center space-y-6 flex-col">
        <table class="table w-full">
          <thead>
            <tr>
              <th class="bg-primary text-base-100">No</th>
              <th class="bg-primary text-base-100">Kode Provinsi</th>
              <th class="bg-primary text-base-100">Nama Provinsi</th>
              <th class="bg-primary text-base-100">Ibukota Provinsi</th>
              <th class="bg-primary text-base-100">Latitude</th>
              <th class="bg-primary text-base-100">Longitude</th>
              <th class="bg-primary text-base-100">Elevation</th>
              <th class="bg-primary text-base-100">Timezone</th>
              <th class="bg-primary text-base-100">Luas Wilayah</th>
              <th class="bg-primary text-base-100">Jumlah Penduduk</th>
              <th class="bg-primary text-base-100">Status</th>
              <th class="bg-primary text-base-100">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, i) in dataObj.content" :key="i">
              <th>{{ setIndex(i, dataObj.number, dataObj.size) }}</th>
              <td>{{ item.kode }}</td>
              <td>{{ item.nama }}</td>
              <td>{{ item.ibukota }}</td>
              <td>{{ item.latitude }}</td>
              <td>{{ item.longitude }}</td>
              <td>{{ item.elevation }}</td>
              <td>{{ item.timeZone }}</td>
              <td>{{ item.luas }}</td>
              <td>{{ item.penduduk }}</td>
              <td>{{ item.status }}</td>
              <td>
                <button class="btn btn-primary btn-outline btn-xs">
                  Detil
                </button>
                <button
                  class="btn btn-error btn-outline btn-xs"
                  @click="showDialog(item.kode)"
                >
                  Hapus
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex justify-end items-center py-4">
        <div class="flex-1">
          {{ setLabelTotalInfo(dataObj) }}
        </div>
        <CommonPagination
          :page-count="dataObj.totalPages"
          @page-change="($event) => $emit('page-change', $event)"
        />
      </div>
    </div>

    <!-- Modal -->
    <input
      id="modal-delete"
      ref="trigger-modal-delete"
      type="checkbox"
      class="modal-toggle"
    />
    <div class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold">Hapus Data</h3>
        <p class="py-4">Apakah anda yakin ingin menghapus data ini?</p>
        <div class="modal-action">
          <label for="modal-delete" class="btn btn-primary">Tidak</label>
          <label for="modal-delete" class="btn btn-error" @click="deleteItem"
            >Ya</label
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TableKoorKota',
  props: {
    dataObj: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      currentPage: 1,
      perPage: 10,
      keyword: '',
      totalRows: null,
      dataTable: [],
      kodeItem: '',
    }
  },
  created() {
    this.$watch(
      'keyword',
      this.$util.debounce(() => {
        this.$emit('filter', this.keyword)
      }, 500)
    )
  },
  methods: {
    setIndex(index, number, size) {
      return index + 1 + number * size
    },
    setLabelTotalInfo(pagination) {
      return `Showing ${pagination.number * pagination.size + 1} - ${
        (pagination.number + 1) * pagination.size
      } of ${pagination.totalElements} entries`
    },
    showDialog(id) {
      this.$refs['trigger-modal-delete'].checked = true
      this.kodeItem = id
    },
    closeDialog() {
      this.$refs['trigger-modal-delete'].checked = false
      this.kodeItem = ''
    },
    deleteItem() {
      this.$emit('delete', this.kodeItem)
    },
  },
}
</script>
