<template>
  <div class="card w-full bg-base-100 shadow-xl">
    <div class="px-4 py-4 lg:card-body">
      <h2 class="card-title text-2xl lg:text-4xl font-bold">
        List Profil Muballigh
      </h2>
      <p class="text-sm">Yang berada di Jamiyyah Persatuan Islam.</p>
      <div class="card-actions justify-end w-full">
        <div class="card-actions lg:justify-between w-full my-4">
          <div class="flex space-x-2 flex-1">
            <input
              v-model="keyword"
              type="text"
              placeholder="Cari ..."
              class="input input-bordered input-primary w-full max-w-xs"
            />
          </div>
          <NuxtLink
            :to="{ path: $route.path + '/form', query: { mode: 'create' } }"
          >
            <button class="btn btn-primary text-base-100 lg:hidden btn-circle">
              <component
                :is="require(`@/assets/svg/AddForm.svg?inline`)"
                class="w-5 h-5"
              ></component>
            </button>
            <button class="btn btn-primary text-base-100 hidden lg:block">
              Tambah Data
            </button>
          </NuxtLink>
        </div>
      </div>
      <div
        v-if="isLoading"
        class="h-48 flex flex-col justify-center items-center"
      >
        <progress class="progress w-56"></progress>
      </div>
      <div v-else-if="pagination.totalPages <= 0" class="hero">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-3xl font-bold">Tidak ada data</h1>
            <p class="py-4">
              data yang anda cari belum tersedia. Silahkan kontak Admin.
            </p>
          </div>
        </div>
      </div>
      <div v-else class="overflow-x-auto">
        <table class="table table-compact lg:table-normal w-full">
          <thead>
            <tr>
              <th class="bg-primary text-base-100">No</th>
              <th
                class="bg-primary text-base-100 sticky left-[35px] lg:left-10"
              >
                Nama Lengkap
              </th>
              <th class="bg-primary text-base-100">Tanggal Lahir</th>
              <th class="bg-primary text-base-100">Tempat Lahir</th>
              <th class="bg-primary text-base-100">PC</th>
              <th class="bg-primary text-base-100">Email</th>
              <th class="bg-primary text-base-100">Pekerjaan Pokok</th>
              <th class="bg-primary text-base-100">Pekerjaan Sambilan</th>
              <th class="bg-primary text-base-100">No Hp 1</th>
              <th class="bg-primary text-base-100">No Hp 2</th>
              <th class="bg-primary text-base-100">Otonom</th>
              <th class="bg-primary text-base-100">Jenis Kelamin</th>
              <th class="bg-primary text-base-100">Pendidikan Terakhir</th>
              <th class="bg-primary text-base-100">Pendidikan Luar Sekolah</th>
              <th class="bg-primary text-base-100">Status Dalam Jamiyyah</th>
              <th class="bg-primary text-base-100">Status Marital</th>
              <th class="bg-primary text-base-100">Frequensi Bertabligh</th>
              <th class="bg-primary text-base-100">Metode Tabligh</th>
              <th class="bg-primary text-base-100">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(item, index) in data"
              :key="item.id"
              class="hover cursor-pointer"
              @click="loadData(item, 'detail')"
            >
              <th>
                {{
                  $util.setIndexTable(index, pagination.number, pagination.size)
                }}
              </th>
              <td class="sticky left-[35px] lg:left-10">
                <p class="min-w-[122px]">{{ item.namaLengkap }}</p>
              </td>
              <td>
                {{ item.tanggalLahir }}
              </td>
              <td>
                {{ item.tempatLahir }}
              </td>
              <td>
                {{ item.pc.namaPc }}
              </td>
              <td>{{ item.email }}</td>
              <td>{{ item.pekerjaanPokok }}</td>
              <td>{{ item.pekerjaanSambilan }}</td>
              <td class="text-center">{{ item.noHp1 }}</td>
              <td class="text-center">{{ item.noHp2 ? item.noHp2 : '-' }}</td>
              <td>{{ item.otonom }}</td>
              <td class="text-center">
                {{ item.jenisKelamin === 'P' ? 'Perempuan' : 'Laki - laki' }}
              </td>
              <td class="text-center">{{ item.pendidikanTerakhir }}</td>
              <td class="text-center">{{ item.pendidikanLuarSekolah }}</td>
              <td class="text-center">
                {{ item.statusDalamJamiyyah.replace('_', ' ') }}
              </td>
              <td class="text-center">
                {{ item.statusMarital.replace('_', ' ') }}
              </td>
              <td class="text-center">{{ item.frequensiBertabligh }}</td>
              <td class="text-center">{{ item.metodeTabligh }}</td>
              <th>
                <button
                  class="btn btn-warning btn-outline btn-xs"
                  @click.stop="loadData(item, 'edit')"
                >
                  <component
                    :is="require(`@/assets/svg/Pencil.svg?inline`)"
                    class="w-5 h-5"
                  ></component>
                </button>
                <button
                  class="btn btn-primary btn-outline btn-xs"
                  @click.stop="loadData(item, 'detail')"
                >
                  <component
                    :is="require(`@/assets/svg/eye-open.svg?inline`)"
                    class="w-5 h-5"
                  ></component>
                </button>
                <button
                  class="btn btn-error btn-outline btn-xs"
                  @click.stop="deleteData(item)"
                >
                  <component
                    :is="require(`@/assets/svg/close.svg?inline`)"
                    class="w-5 h-5"
                  ></component>
                </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        v-if="pagination.totalPages"
        class="flex flex-col lg:flex-row justify-end items-center py-4"
      >
        <div class="flex-1 text-xs lg:text-sm pb-4 lg:pb-0">
          {{ $util.setLabelTotalInfo(pagination) }}
        </div>
        <CommonPagination
          :page-count="pagination.totalPages"
          :selected-page="pagination.number + 1"
          @page-change="($event) => $emit('page-change', $event)"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProfilMuballigh',
  props: {
    isLoading: {
      type: Boolean,
      default: true,
    },
    data: {
      type: Array,
      required: true,
    },
    pagination: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      keyword: '',
    }
  },
  created() {
    this.$watch(
      'keyword',
      this.$util.debounce(() => {
        this.$emit('filter', this.keyword)
      }, 500)
    )
  },
  methods: {
    loadData({ id }, mode = 'edit') {
      this.$router.push({
        path: this.$route.path + '/form',
        query: {
          id,
          mode,
        },
      })
    },
    deleteData({ id }) {
      this.$util.showModal({
        type: 'question',
        context: this.$nuxt,
        text: 'Apakah anda yakin akan menghapus data ini?',
        callback: async () => {
          const status = await this.$store.dispatch(
            'profil_muballigh/delete',
            id
          )
          if (status) {
            this.$util.showModal({
              type: 'success',
              context: this.$nuxt,
              text: 'Berhasil menghapus data Profil Muballigh',
              callback: () => {
                this.$emit('page-change', { page: 1, action: 'delete' })
              },
            })
          }
        },
      })
    },
  },
}
</script>
