<template>
  <CommonCard>
    <!-- title -->
    <h2 class="card-title text-4xl font-bold">Daftar Pelajar</h2>
    <p class="text-sm">
      Daftar pelajar yang berada di Jamiyyah Persatuan Islam
    </p>

    <!-- search & add button -->
    <div class="card-actions justify-between w-full my-4">
      <div class="flex space-x-2">
        <input
          type="text"
          placeholder="Cari nama pelajar"
          class="input input-bordered input-primary w-full max-w-xs"
        />
      </div>
      <NuxtLink :to="$route.path + '/create'">
        <button class="btn btn-primary btn-outline">Tambah Pelajar</button>
      </NuxtLink>
    </div>

    <!-- table -->
    <div class="overflow-x-auto w-full flex flex-col items-center space-y-6">
      <table class="table w-full">
        <thead>
          <tr>
            <th>Nama Lengkap</th>
            <th>Informasi Pesantren</th>
            <th>Penjurusan</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in data" :key="item.id">
            <td>
              <div class="flex items-center space-x-3">
                <div class="avatar">
                  <div class="mask mask-squircle w-12 h-12">
                    <img
                      :src="item.profileImage"
                      :alt="`${item.lastName} Profile Picture`"
                    />
                  </div>
                </div>
                <div>
                  <div class="font-bold">
                    {{ item.firstName }} {{ item.lastName }}
                  </div>
                  <div class="text-sm opacity-50">{{ item.nickName }}</div>
                </div>
              </div>
            </td>
            <td>
              Pesantren Persatuan Islam No. {{ item.noPPI }}
              <br />
              <span class="badge badge-ghost badge-sm">{{ item.namePPI }}</span>
            </td>
            <td>{{ item.speciality }}</td>
            <th>
              <button class="btn btn-primary btn-outline btn-xs">Detil</button>
              <button class="btn btn-error btn-outline btn-xs">Hapus</button>
            </th>
          </tr>
        </tbody>
      </table>

      <!-- pagination -->
      <div class="btn-group">
        <button class="btn">«</button>
        <button class="btn">‹</button>
        <button class="btn btn-active">1</button>
        <button class="btn">2</button>
        <button class="btn">3</button>
        <button class="btn">4</button>
        <button class="btn">›</button>
        <button class="btn">»</button>
      </div>
    </div>
  </CommonCard>
</template>

<script>
export default {
  name: 'TableStudents',
  props: {
    data: {
      type: Array,
      required: true,
    },
  },
}
</script>
