<template>
  <div class="card w-full bg-base-100 shadow-xl">
    <div class="px-4 py-4 lg:card-body">
      <div class="mb-2">
        <h2 class="card-title text-2xl lg:text-4xl font-bold">List Users</h2>
        <p class="text-sm">Users Persatuan Islam.</p>
      </div>
      <div class="card-actions justify-end w-full">
        <div class="card-actions lg:justify-between w-full my-4">
          <div class="form-control">
            <div class="input-group">
              <input
                v-model="keyword"
                type="text"
                placeholder="Search…"
                class="input input-bordered"
              />
              <select v-model="type" class="select bg-primary text-white">
                <option
                  v-for="item in listType"
                  :key="item.id"
                  :value="item.value"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="isLoading"
        class="h-48 flex flex-col justify-center items-center"
      >
        <progress class="progress w-56"></progress>
      </div>
      <div v-else-if="pagination.totalPages <= 0" class="hero">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-3xl font-bold">Tidak ada user</h1>
            <p class="py-4">
              user yang anda cari belum tersedia. Silahkan kontak Admin.
            </p>
          </div>
        </div>
      </div>
      <div v-else class="overflow-x-auto">
        <table class="table table-compact lg:table-normal w-full">
          <thead>
            <tr>
              <th class="bg-primary text-base-100">No</th>
              <th
                class="bg-primary text-base-100 sticky left-[15px] lg:left-10"
              >
                Npa
              </th>
              <th class="bg-primary text-base-100">Nama Lengkap</th>
              <th class="bg-primary text-base-100">Email</th>
              <th class="bg-primary text-base-100">Jenis Kelamin</th>
              <th class="bg-primary text-base-100">Tempat Tanggal Lahir</th>
              <th class="bg-primary text-base-100">Otonom</th>
              <th class="bg-primary text-base-100">PC</th>
              <th class="bg-primary text-base-100">PD</th>
              <th class="bg-primary text-base-100">PW</th>
              <th class="bg-primary text-base-100">Keaktifan</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(item, index) in data"
              :key="item.id"
              class="hover cursor-pointer"
              @click="loadData(item, 'detail')"
            >
              <th>
                {{
                  $util.setIndexTable(index, pagination.number, pagination.size)
                }}
              </th>
              <td class="sticky left-[15px] lg:left-10">
                <p class="min-w-[122px]">{{ item.npa }}</p>
              </td>
              <td>{{ item.namaLengkap }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.jenisKelamin }}</td>
              <td>{{ item.tempatLahir }}, {{ item.date }}</td>
              <td>{{ item.otonom }}</td>
              <td>{{ item.pc.namaPc }}</td>
              <td>{{ item.pc.pd.namaPd }}</td>
              <td>{{ item.pc.pd.pw.namaPw }}</td>
              <td>{{ item.active ? 'Aktif' : 'Non-Aktif' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        v-if="pagination.totalPages"
        class="flex flex-col lg:flex-row justify-end items-center py-4"
      >
        <div class="flex-1 text-xs lg:text-sm pb-4 lg:pb-0">
          {{ $util.setLabelTotalInfo(pagination) }}
        </div>
        <CommonPagination
          :page-count="pagination.totalPages"
          :selected-page="pagination.number + 1"
          @page-change="($event) => $emit('page-change', $event)"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserList',
  props: {
    isLoading: {
      type: Boolean,
      default: true,
    },
    data: {
      type: Array,
      required: true,
    },
    pagination: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      keyword: '',
      type: 'namaLengkap',
      listType: [
        { name: 'Nama', value: 'namaLengkap' },
        { name: 'Npa', value: 'npa' },
        { name: 'Email', value: 'email' },
        { name: 'Kode PC', value: 'kodePc' },
        { name: 'Kode PD', value: 'kodePd' },
        { name: 'Kode PW', value: 'kodePw' },
      ],
    }
  },
  created() {
    this.$watch(
      'keyword',
      this.$util.debounce(() => {
        this.$emit('filter', { keyword: this.keyword, type: this.type })
      }, 500)
    )
    this.$watch(
      'type',
      this.$util.debounce(() => {
        this.$emit('filter', { keyword: this.keyword, type: this.type })
      }, 500)
    )
  },
  methods: {
    loadData({ id }, mode = 'edit') {
      this.$router.push({
        path: this.$route.path + '/form',
        query: {
          id,
          mode,
        },
      })
    },
  },
}
</script>
