<template>
  <section
    class="min-h-screen w-full flex flex-col items-center bg-gray-100 pt-8 lg:pt-14 mb-14 -z-10"
  >
    <Container class="lg:w-3/4">
      <FormPendidikan @validate-success="sendForm" />
    </Container>
  </section>
</template>

<script>
export default {
  name: 'CreateJamaahPage',
  layout: 'dashboard',

  head: {
    title: 'Buat Data Keadaan Jamaah',
  },
  methods: {
    async sendForm({ id, payload, mode }) {
      const config = {
        create: 'save',
        edit: 'update',
        undefined: 'save',
        label_create: 'menyimpan',
        label_undefined: 'menyimpan',
        label_edit: 'memperbarui',
      }
      try {
        const res = await this.$store.dispatch(
          `keadaan_pendidikan/${config[mode]}`,
          { payload, id }
        )
        if (res) {
          this.$util.showModal({
            type: 'success',
            context: this.$nuxt,
            text: `Berhasil ${config[mode]} data pendidikan`,
            callback: () => {
              this.$router.push('/keadaan-pendidikan')
            },
          })
        }
      } catch (error) {
        console.log(error)
      }
    },
  },
}
</script>
