<template>
  <div class="pb-4 lg:pb-0">
    <p>{{ question }}</p>
    <p>Sebutkan:</p>
    <div v-for="(item, index) of options" :key="item.id" class="flex">
      <div class="flex flex-col lg:flex-row w-full lg:space-x-3">
        <div class="flex-1">
          <FieldText
            :value="options[index].value"
            :readonly="$route.query.mode === 'detail'"
            :initial-value="options[index].value"
            type="text"
            :immediate="immediate"
            :placeholder="placeholder"
            rules="required"
            @input="($event) => $emit('input', { value: $event, index })"
          />
        </div>
        <div class="flex">
          <label
            class="label cursor-pointer"
            @click="
              $emit('add-item', { id: $util.randomAlphaNum(), value: '' })
            "
          >
            <p class="font-bold text-sm">+ Tambah</p>
          </label>
          <label
            v-if="options.length > 1"
            class="label cursor-pointer"
            @click="$emit('remove-item', { index })"
          >
            <p class="font-bold text-sm text-red-500">- Hapus</p>
          </label>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    question: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    immediate: {
      type: Boolean,
      default: false,
    },
    options: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
