<template>
  <div>
    <slot :question="question" name="question">
      <p>{{ question }}</p>
    </slot>
    <div class="form-control">
      <div
        class="flex flex-col"
        :class="[
          mode === 'horizontal' ? 'lg:flex-col' : 'lg:flex-row lg:space-x-5',
        ]"
      >
        <label
          v-for="(item, index) of options"
          :key="index"
          class="label cursor-pointer space-x-3"
        >
          <input
            type="radio"
            :value="item.value"
            :name="item.name"
            :checked="item.value === value"
            class="flex-none radio radio-primary"
            @change="$emit('change', $event)"
          />
          <span class="label-text flex-1">{{ item.label }}</span>
        </label>
      </div>
      <ValidationProvider
        v-slot="{ errors }"
        rules="required"
        tag="div"
        :immediate="immediate"
        class="form-control w-full"
      >
        <input type="hidden" :value="value" />
        <label class="label">
          <span class="label-text-alt text-red-500"
            ><li v-for="(error, index) in errors" :key="index">
              {{ error }}
            </li></span
          >
        </label>
      </ValidationProvider>
      <slot v-if="isShowAdditional" name="additional">
        <FieldText
          v-model="modelDataAdditional"
          :readonly="$route.query.mode === 'detail'"
          :initial-value="modelDataAdditional"
          type="text"
          :label="labelAdditional"
          :placeholder="placeHolderAdditional"
          :immediate="immediate"
          :rules="{
            required: requiredIf,
          }"
        >
        </FieldText>
      </slot>
    </div>
  </div>
</template>
<script>
import { ValidationProvider } from 'vee-validate'

export default {
  components: {
    ValidationProvider,
  },
  props: {
    immediate: {
      type: Boolean,
      default: false,
    },
    mode: {
      type: String,
      default: 'horizontal',
      validator(value) {
        return ['horizontal', 'vertical'].includes(value)
      },
    },
    isShowAdditional: {
      type: Boolean,
      default: false,
    },
    requiredIf: {
      type: Boolean,
      default: false,
    },
    modelAdditional: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    question: {
      type: String,
      default: '',
    },
    placeHolderAdditional: {
      type: String,
      default: '',
    },
    labelAdditional: {
      type: String,
      default: '',
    },
    options: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    modelDataAdditional: {
      set($event) {
        this.$emit('input-additional', $event)
      },
      get() {
        return this.modelAdditional
      },
    },
  },
}
</script>
