<template>
  <div class="card w-full bg-base-100 shadow-xl">
    <div class="px-4 py-4 lg:card-body">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'MainCard',
}
</script>
