<template>
  <paginate
    :page-count="pageCount"
    :value="selectedPage"
    container-class="btn-group"
    active-class="btn-active"
    :first-last-button="true"
    :no-li-surround="true"
    first-button-text="«"
    last-button-text="»"
    :click-handler="clickCallback"
    prev-link-class="btn btn-sm lg:btn-md"
    prev-text="‹"
    next-text="›"
    next-link-class="btn btn-sm lg:btn-md"
    page-link-class="btn btn-sm lg:btn-md"
  >
  </paginate>
</template>

<script>
import Paginate from 'vuejs-paginate'
export default {
  name: 'MainPagination',
  components: {
    Paginate,
  },
  props: {
    pageCount: {
      type: Number,
      default: 10,
    },
    selectedPage: {
      type: Number,
      default: undefined,
    },
  },
  methods: {
    clickCallback(pageNum) {
      this.$emit('page-change', pageNum)
    },
  },
}
</script>
