<template>
  <Container
    class="flex lg:flex-row flex-col lg:space-x-6 min-h-screen w-full items-start mx-auto bg-gray-100 lg:pt-14 mb-14 -z-10"
  >
    <div
      class="flex items-start w-full lg:w-[300px] sticky top-[72px] z-10 mb-4 lg:mb-0"
    >
      <div
        v-if="loadingForm"
        class="h-48 flex flex-col justify-center items-center"
      >
        <progress class="progress w-56"></progress>
      </div>
      <CommonCard v-else class="lg:w-[360px]">
        <ul class="steps steps-horizontal lg:steps-vertical text-sm w-full">
          <li
            data-content="1"
            class="step cursor-pointer"
            :class="[step === 1 ? 'step-primary font-bold' : '']"
            @click="
              switchForm(1, 'immediateForm1')
              immediateForm2 = true
            "
          >
            Profil Cabang
          </li>
          <li
            data-content="2"
            class="step cursor-pointer"
            :class="[step === 2 ? 'step-primary font-bold' : '']"
            @click="
              setStep(2)
              validateForm1()
            "
          >
            Pertanyaan Angket
          </li>
        </ul>
      </CommonCard>
    </div>
    <div
      v-if="loadingForm"
      class="h-48 flex flex-col justify-center items-center"
    >
      <progress class="progress w-56"></progress>
    </div>
    <div v-else class="w-full">
      <ValidationObserver ref="form1" v-slot="{ valid }">
        <FormAngketCabang
          v-if="step === 1"
          :form-success="form1"
          :immidiate="immediateForm1"
          @form-change="setForm($event, 'form1')"
          @validate-success="
            setForm($event, 'form1', 2)
            isValidForm1 = valid
          "
        />
      </ValidationObserver>
      <FormAngketCabangQuestion
        v-if="step === 2"
        :form-success="form2"
        :is-valid-prev-form="isValidForm1"
        :immidiate="immediateForm2"
        @form-change="setForm($event, 'form2')"
        @back-step="
          setForm($event, 'form2', 1)
          immediateForm2 = true
        "
        @validate-success="sendForm"
      />
    </div>
  </Container>
</template>

<script>
import { ValidationObserver } from 'vee-validate'
export default {
  name: 'CreateJamaahPage',
  components: {
    ValidationObserver,
  },
  layout: 'dashboard',
  data() {
    return {
      step: 1,
      form1: null,
      form2: null,
      setup: {
        label: {
          error: {
            400: 'Terjadi kesalahan. pastikan data yang akan diedit valid. Kontak admin untuk petunjuk teknis.',
            500: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
            undefined: 'Terjadi kesalahan. Kontak admin untuk petunjuk teknis.',
          },
        },
      },
      isValidForm1: false,
      immediateForm1: false,
      immediateForm2: false,
      loadingForm: false,
    }
  },
  head: {
    title: 'Buat Data Keadaan Jamaah',
  },
  mounted() {
    const { mode = 'create', id = '' } = this.$route.query
    if (id && ['edit', 'detail'].includes(mode)) {
      this.loadData(id)
    }
  },
  methods: {
    async validateForm1() {
      this.isValidForm1 = await this.$refs.form1.validate()
    },
    async loadData(id) {
      try {
        this.loadingForm = true
        const res = await this.$store.dispatch('angket_cabang/get', id)
        const {
          alamat,
          kecamatan,
          email,
          noHp1,
          noHp2,
          namaBidangDakwah,
          pc,
          tahunBerdiri,
          ...form2
        } = { ...res.data.data }
        this.form1 = {
          ...this.form1,
          alamat,
          kecamatan,
          email,
          noHp1,
          noHp2,
          namaBidangDakwah,
          pc,
          tahunBerdiri,
        }
        this.form2 = { ...this.transformData(form2, JSON.parse) }
        this.loadingForm = false
      } catch (error) {
        this.$util.showModal({
          type: 'error',
          context: this.$nuxt,
          text: `${
            this.setup.label.error[`${error.response?.status}`]
          } Error Code: ${error.response?.data?.message ?? '-'}`,
        })
        this.$router.push('/keadaan-jamaah')
      }
    },
    switchForm(step, id) {
      if (this.step !== step) {
        this[id] = true
        this.setStep(step)
      }
    },
    setForm({ payload }, id, step = '') {
      this[id] = payload
      if (step) {
        this.setStep(step)
      }
    },
    setStep(value) {
      this.step = value
    },
    transformData(payload, transformFunction = JSON.stringify) {
      const {
        q3,
        q4,
        q7,
        q10,
        q11,
        q12AdditionalMessage,
        q13AdditionalMessage,
        ...data
      } = payload

      const filterData = {
        q3: transformFunction(q3),
        q4: transformFunction(q4),
        q7: transformFunction(q7),
        q10: transformFunction(q10),
        q11: transformFunction(q11),
        q12AdditionalMessage: transformFunction(q12AdditionalMessage),
        q13AdditionalMessage: transformFunction(q13AdditionalMessage),
      }
      return { ...data, ...filterData }
    },
    async sendForm({ id, payload, mode }) {
      const payloadFinal = {
        ...this.form1,
        ...this.transformData(payload),
      }

      const config = {
        create: 'save',
        edit: 'update',
        undefined: 'save',
        label_create: 'menyimpan',
        label_undefined: 'menyimpan',
        label_edit: 'memperbarui',
      }
      try {
        const res = await this.$store.dispatch(
          `angket_cabang/${config[mode]}`,
          { payload: payloadFinal, id }
        )
        if (res) {
          this.$util.showModal({
            type: 'success',
            context: this.$nuxt,
            text: `Berhasil ${config[mode]} data angket cabang`,
            callback: () => {
              this.$router.push('/angket-cabang')
            },
          })
        }
      } catch (error) {
        console.log(error)
      }
    },
  },
}
</script>
<style scoped>
.steps-vertical .step::before {
  height: 32%;
  width: 3px;
  transform: translateY(-158%);
  margin-left: 46%;
}

.steps .step[data-content]::after {
  @apply text-base-100;
}
</style>
