<template>
  <section
    class="min-h-screen py-8 w-full flex flex-col justify-start items-center bg-gray-100"
  >
    <Container>
      <TableAngketCabang
        :data="listTable"
        :pagination="pagination"
        :is-loading="loadingData"
        @filter="filterData"
        @page-change="setPage"
      />
    </Container>
  </section>
</template>

<script>
export default {
  layout: 'dashboard',
  data() {
    return {
      listTable: [],
      loadingData: false,
      keyword: '',
      pagination: {},
      page: null,
    }
  },
  async fetch() {
    if (!this.page) {
      const { page = 1 } = this.$route.query
      this.page = page
    }
    this.loadingData = true
    const response = await this.$store.dispatch('angket_cabang/getList', {
      size: 10,
      page: this.page,
      keyword: this.keyword,
    })
    this.loadingData = false
    const { content, ...pagination } = response.data.data
    this.listTable = content
    this.pagination = pagination
  },
  head: {
    title: 'List Angket Cabang',
  },
  watch: {
    page() {
      this.$fetch()
    },
  },
  mounted() {
    const { page = 1 } = this.$route.query
    this.page = page
    this.$util.setupCommonQueryParam({
      route: this.$route,
      router: this.$router,
      params: { page: this.page, timestamp: new Date().getTime() },
    })
  },
  methods: {
    setPage({ page, action = 'load' }) {
      if (this.page === page && action === 'delete') {
        this.$fetch()
      }
      this.page = page
      this.$util.setupCommonQueryParam({
        route: this.$route,
        router: this.$router,
        params: { page: this.page, timestamp: new Date().getTime() },
      })
    },
    async filterData($event) {
      this.keyword = $event
      this.$util.setupCommonQueryParam({
        route: this.$route,
        router: this.$router,
        params: { keyword: this.keyword, timestamp: new Date().getTime() },
      })
      this.page = this.$route.query.page ?? 1
      await this.$fetch()
    },
  },
}
</script>
