<template>
  <div
    id="map-wrap"
    class="w-full"
    style="height: 500px; border-bottom: 1px solid white"
  >
    <client-only>
      <l-map style="height: 350px" :zoom="zoom" :center="center">
        <l-tile-layer :url="url"></l-tile-layer>
        <l-geo-json :geojson="geojson"></l-geo-json>
      </l-map>
    </client-only>
  </div>
</template>

<script>
import { LMap, LTileLayer, LGeoJson } from 'vue2-leaflet'
import { geoJsonExample } from '@/utilities/constants'

export default {
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
  },
  props: {
    geojson: {
      type: Object,
      // Example from https://geojson.io/
      default: () => geoJsonExample,
    },
    center: {
      type: Array,
      default: () => [-6.9345, 107.605],
    },
    zoom: {
      type: Number,
      default: 9,
    },
  },
  data() {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    }
  },
}
</script>
