<template>
  <div
    id="map-wrap"
    class="w-full"
    style="height: 500px; border-bottom: 1px solid white"
  >
    <client-only>
      <l-map
        v-if="!loading"
        v-bind="bounds"
        :zoom="zoom"
        :center="center"
        :options="{ zoomControl: false }"
      >
        <l-tile-layer :url="url"></l-tile-layer>
        <l-control-zoom position="bottomright"></l-control-zoom>

        <l-marker :lat-lng="markerLatLng" @click="openPopUp()"></l-marker>

        <l-layer-group ref="popup">
          <l-popup>
            <div class="card bg-base-100 shadow-xl">
              <div class="card-body gap-0 p-5">
                <h4
                  v-if="kodeWilayah == ''"
                  class="card-title text-sm truncate"
                >
                  Daerah {{ displayName }}
                </h4>

                <div v-else>
                  <p class="text-sm truncate">
                    Kode Wilayah : {{ kodeWilayah }}
                  </p>
                  <p class="text-sm truncate">Provinsi : {{ province }}</p>
                  <p class="text-sm truncate">Ibukota : {{ ibukota }}</p>
                  <p class="text-sm truncate">Lat Long : {{ markerLatLng }}</p>
                  <p class="text-sm truncate">
                    Luas : {{ luas }} km<sup>2</sup>
                  </p>
                  <p class="text-sm truncate">
                    Penduduk : {{ jmlhPenduduk }} jiwa
                  </p>
                </div>
              </div>
            </div>
          </l-popup>
        </l-layer-group>
        <l-polygon :lat-lngs="polygon" :color="'green'"></l-polygon>
      </l-map>
    </client-only>
  </div>
</template>

<script>
import {
  LMap,
  LTileLayer,
  LMarker,
  LControlZoom,
  LPopup,
  LPolygon,
  LLayerGroup,
} from 'vue2-leaflet'

export default {
  name: 'MapWilayah',
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LControlZoom,
    LPolygon,
    LPopup,
    LLayerGroup,
  },
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    zoom: {
      type: Number,
      default: 5,
    },
    polygon: {
      type: Array,
      default: () => [],
    },
    center: {
      type: Array,
      default: () => null,
    },
    bounds: {
      type: Object,
      default: () => null,
    },
    markerLatLng: {
      type: [Array, Object],
      default: () => null,
    },
    displayName: {
      type: String,
      default: 'Indonesia',
    },
    province: {
      type: String,
      default: '',
    },
    kodeWilayah: {
      type: String,
      default: '',
    },
    luas: {
      type: Number,
      default: 0,
    },
    jmlhPenduduk: {
      type: Number,
      default: 0,
    },
    ibukota: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    }
  },
  methods: {
    openPopUp() {
      this.$refs.popup.mapObject.openPopup(this.markerLatLng)
    },
  },
}
</script>

<style>
.leaflet-popup-content {
  width: 100% !important;
  margin: unset;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content p {
  margin: 0;
}
</style>
