<template>
  <div class="navbar bg-primary sticky top-0 z-20">
    <label for="drawer" class="btn btn-primary btn-circle swap swap-rotate">
      <!-- this hidden checkbox controls the state -->
      <input type="checkbox" />
      <!-- hamburger icon -->
      <svg
        class="swap-off fill-current"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 512 512"
      >
        <path
          d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
        />
      </svg>

      <!-- close icon -->
      <svg
        class="swap-on fill-current"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 512 512"
      >
        <polygon
          points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"
        />
      </svg>
    </label>
    <div class="flex-1">
      <a class="btn btn-primary normal-case text-xl">Wilayah Dakwah</a>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control hidden lg:flex">
        <input type="text" placeholder="Search" class="input input-bordered" />
      </div>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://placeimg.com/80/80/people" />
          </div>
        </label>
        <ul
          tabindex="0"
          class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-neutral-content text-neutral rounded-box w-52"
        >
          <div class="py-2 px-4 flex justify-between items-center">
            {{ $auth.user.username }}
            <span v-if="$auth.loggedIn" class="badge">{{
              $auth.user.roles[0] | startCase
            }}</span>
          </div>
          <li><a>Settings</a></li>
          <li><a @click="logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import startCase from 'lodash/startCase'

export default {
  name: 'MainNavbar',
  filters: {
    startCase,
  },
  methods: {
    logout(e) {
      e.preventDefault()
      this.$auth.logout()
      this.$router.push('/login')
    },
  },
}
</script>
