<template>
  <Container
    class="flex lg:w-3/4 lg:flex-row flex-col min-h-screen w-full items-start mx-auto bg-gray-100 pt-8 lg:pt-14 mb-14 -z-10"
  >
    <FormIdentitasUser />
  </Container>
</template>

<script>
export default {
  name: 'CreateUsersPage',
  layout: 'dashboard',
  data() {
    return {
      loadingForm: false,
    }
  },
  head: {
    title: 'Data Users',
  },
}
</script>
