<template>
  <section
    class="min-h-screen py-8 w-full flex flex-col justify-start items-center bg-gray-100"
  >
    <Container>
      <TableUsers
        :data="listTable"
        :pagination="pagination"
        :is-loading="loadingData"
        @page-change="setPage"
        @filter="filterData"
      />
    </Container>
  </section>
</template>

<script>
export default {
  layout: 'dashboard',
  data() {
    return {
      listTable: [],
      loadingData: false,
      pagination: {},
      page: 1,
      keyword: '',
      type: '',
    }
  },
  async fetch() {
    this.loadingData = true
    const response = await this.$store.dispatch('users/getListUsers', {
      size: 10,
      page: this.page,
      keyword: this.keyword,
      type: this.type,
    })
    this.loadingData = false
    const { content, ...pagination } = response.data.data
    this.listTable = content
    this.pagination = pagination
  },
  head: {
    title: 'List Of Users',
  },
  watch: {
    page() {
      this.$fetch()
    },
  },
  methods: {
    async filterData($event) {
      this.keyword = $event.keyword
      this.type = $event.type
      this.page = 1
      await this.$fetch()
    },
    setPage(page) {
      this.page = page
    },
  },
}
</script>
