<template>
  <ValidationObserver ref="observer" v-slot="{ valid, handleSubmit }" tag="div">
    <form :disabled="disabled" @submit.prevent="handleSubmit(submit)">
      <slot name="default" v-bind="{ valid }" />
    </form>
  </ValidationObserver>
</template>

<script>
import { ValidationObserver } from 'vee-validate'

export default {
  name: 'FormComponent',
  components: {
    ValidationObserver,
  },
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      tempValue: this.value,
    }
  },
  methods: {
    submit() {
      this.$emit('submit')
    },
    validate() {
      return this.$refs.observer.validate()
    },
    reset() {
      return this.$refs.observer.reset()
    },
  },
}
</script>
