<template>
  <div class="w-full">
    <slot :label="label" name="label">
      <label class="label pb-4">
        <span class="label-text font-bold text-xl">{{ label }}</span>
      </label>
    </slot>
    <ValidationProvider
      v-slot="{ errors }"
      :name="label"
      rules="required"
      tag="div"
      :immediate="immediate"
      class="form-control w-full"
    >
      <div @click="onLoaded">
        <div v-if="isDetails === false">
          <div class="input-group">
            <input
              :value="value"
              type="text"
              :placeholder="placeholder"
              readonly
              :class="[
                disabled ? 'bg-gray-300' : '',
                size,
                `input input-bordered input-${size} w-full`,
              ]"
            />
            <label
              :class="[
                disabled ? 'bg-gray-400' : 'btn-primary',
                `btn btn-square btn-${size}  modal-button`,
              ]"
            >
              <component
                :is="require(`~/assets/svg/Search.svg?inline`)"
                class="w-5 h-5 text-base-100"
              />
            </label>
          </div>
        </div>
        <div v-else>
          <input
            :value="value"
            type="text"
            :placeholder="placeholder"
            readonly
            :class="[
              disabled ? 'bg-gray-300' : '',
              size,
              `input input-bordered input-${size} w-full focus:outline-none`,
            ]"
          />
        </div>
      </div>

      <label class="label">
        <span class="label-text-alt text-red-500"
          ><li v-for="(error, index) in errors" :key="index">
            {{ error }}
          </li></span
        >
      </label>
    </ValidationProvider>
    <!-- Modal -->
    <input
      :id="`modal-${id}`"
      :ref="`trigger-modal-${id}`"
      type="checkbox"
      class="modal-toggle"
    />
    <div class="modal">
      <div class="modal-box w-11/12 max-w-5xl">
        <label
          :for="`modal-${id}`"
          class="btn btn-sm btn-circle btn-primary absolute right-2 top-2"
          >✕</label
        >
        <h1 class="text-3xl font-bold pb-6">{{ labelTable }}</h1>
        <div class="flex justify-end">
          <div class="flex-1">
            <input
              v-model="searchInput"
              type="text"
              placeholder="Filter data"
              class="input input-bordered w-full max-w-xs flex items-end mb-6"
            />
          </div>
        </div>
        <div class="overflow-x-auto">
          <div
            v-if="isLoading"
            class="h-48 flex flex-col justify-center items-center"
          >
            <progress class="progress w-56"></progress>
          </div>
          <div v-else-if="listTable.length <= 0" class="hero">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-3xl font-bold">Tidak ada data</h1>
                <p class="py-4">
                  data yang anda cari belum tersedia. Silahkan kontak Admin.
                </p>
              </div>
            </div>
          </div>
          <table v-else class="table w-full">
            <!-- head -->
            <thead>
              <tr>
                <th class="bg-primary text-base-100 w-8">No</th>
                <th
                  v-for="itemConfig of tableConfig"
                  :key="itemConfig.itemId"
                  class="bg-primary text-base-100"
                >
                  {{ itemConfig.header }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) of listTable"
                :key="item.kdPw"
                class="hover cursor-pointer"
                @click="onItemClicked(item)"
              >
                <th>
                  <p class="w-8">
                    {{
                      $util.setIndexTable(
                        index,
                        pagination.number,
                        pagination.size
                      )
                    }}
                  </p>
                </th>
                <td v-for="itemConfig of tableConfig" :key="itemConfig.itemId">
                  {{ item[itemConfig.itemId] }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          v-if="pagination && listTable.length > 0"
          class="flex flex-col lg:flex-row justify-end items-center py-4"
        >
          <div class="flex-1 text-xs lg:text-sm pb-4 lg:pb-0">
            {{ $util.setLabelTotalInfo(pagination) }}
          </div>
          <CommonPagination
            :page-count="pagination.totalPages"
            @page-change="paginateData"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ValidationProvider } from 'vee-validate'
export default {
  name: 'SelectModalTable',
  components: {
    ValidationProvider,
  },
  props: {
    isDetails: {
      type: Boolean,
      default: false,
    },
    immediate: {
      type: Boolean,
      default: false,
    },
    isLoading: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    value: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    labelTable: {
      type: String,
      default: '',
    },
    listTable: {
      type: Array,
      default: () => [],
    },
    pagination: {
      type: Object,
      default: () => {},
    },
    tableConfig: {
      type: Array,
      default: () => [],
    },
    size: {
      type: String,
      default: 'lg',
    },
  },
  data() {
    return {
      searchInput: '',
    }
  },
  created() {
    this.$watch(
      'searchInput',
      this.$util.debounce(() => {
        this.$emit('filter', {
          keyword: this.searchInput,
          page: this.pagination.number,
        })
      }, 500)
    )
    this.id = this.$util.randomAlphaNum()
  },
  methods: {
    paginateData($event) {
      this.$emit('filter', { keyword: this.searchInput, page: $event })
    },
    onLoaded() {
      if (this.disabled || this.readonly) return
      this.$emit('loaded')
      this.$refs[`trigger-modal-${this.id}`].checked = true
    },
    onItemClicked(item) {
      this.$emit('item-clicked', { item })
      this.$refs[`trigger-modal-${this.id}`].checked = false
    },
  },
}
</script>
