<template>
  <ValidationProvider
    v-slot="{ errors }"
    :name="label"
    :rules="rules"
    tag="div"
    class="form-control w-full"
  >
    <div class="form-control w-full">
      <slot :label="label" name="label">
        <label class="label">
          <span class="label-text">{{ label }}</span>
        </label>
      </slot>
      <select
        v-model="selectInput"
        :disabled="disabled"
        class="select select-bordered"
        @change="handleInput"
      >
        <option :value="null" disabled selected>{{ placeholder }}</option>
        <option v-for="item in items" :key="item.id" :value="item.value">
          {{ item.name }}
        </option>
      </select>
      <label class="label">
        <span class="label-text-alt">
          <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
        </span>
      </label>
    </div>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  name: 'SelectComponent',
  components: {
    ValidationProvider,
  },
  props: {
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    hideLabel: {
      type: Boolean,
      default: true,
    },
    type: {
      type: String,
      default: 'text',
    },
    items: {
      type: Array,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    initialValue: {
      type: [String, Number],
      default: '',
    },
    rules: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      selectInput: null,
    }
  },
  mounted() {
    if (this.initialValue) {
      this.selectInput = this.initialValue
    }
  },
  methods: {
    handleInput(e) {
      this.$emit('input', this.selectInput)
    },
  },
}
</script>
