<template>
  <ValidationProvider
    v-slot="{ errors }"
    :name="label"
    :rules="rules"
    :immediate="immediate"
    tag="div"
    class="form-control w-full"
  >
    <slot :label="label" name="label">
      <label class="label">
        <span class="label-text">{{ label }}</span>
      </label>
    </slot>
    <input
      v-model="textInput"
      :type="type"
      :placeholder="placeholder"
      :readonly="readonly"
      class="input input-bordered w-full"
      @input="handleInput"
    />
    <label v-if="!hideLabel" class="label">
      <span class="label-text-alt text-red-500"
        ><li v-for="(error, index) in errors" :key="index">
          {{ error }}
        </li></span
      >
    </label>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  name: 'TextField',
  components: {
    ValidationProvider,
  },
  props: {
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    hideLabel: {
      type: Boolean,
      default: true,
    },
    immediate: {
      type: Boolean,
      default: false,
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'text',
    },
    initialValue: {
      type: [String, Number],
      default: '',
    },
    rules: {
      type: [String, Object],
      default: '',
    },
  },

  data() {
    return {
      textInput: null,
    }
  },
  mounted() {
    if (this.initialValue) {
      this.textInput = this.initialValue
    }
  },
  methods: {
    handleInput(e) {
      this.$emit('input', this.textInput)
    },
  },
}
</script>
