<template>
  <ValidationProvider
    v-slot="{ errors }"
    :name="label"
    :rules="rules"
    tag="div"
    class="form-control w-full"
  >
    <label class="input-group">
      <slot :label-group="label" name="label">
        <span class="label-text bg-primary text-base-100"
          ><p class="w-16 text-center">{{ label }}</p></span
        >
      </slot>
      <input
        v-model="textInput"
        :type="type"
        :readonly="readonly"
        :placeholder="placeholder"
        class="input input-bordered w-full rounded-lg"
        @input="handleInput"
      />
    </label>
    <label v-if="hideLabel" class="label">
      <span class="label-text-alt text-red-500"
        ><li v-for="(error, index) in errors" :key="index">
          {{ error }}
        </li></span
      >
    </label>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  components: {
    ValidationProvider,
  },
  props: {
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    hideLabel: {
      type: Boolean,
      default: true,
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'text',
    },
    initialValue: {
      type: [String, Number],
      default: '',
    },
    rules: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      textInput: null,
    }
  },
  mounted() {
    if (this.initialValue) {
      this.textInput = this.initialValue
    }
  },
  methods: {
    handleInput(e) {
      this.$emit('input', this.textInput)
    },
  },
}
</script>
