<template>
  <section
    class="min-h-screen w-full pt-14 mb-14 -z-10 flex flex-col items-center bg-gray-100"
  >
    <Container class="w-3/4">
      <FormKoorKota @on-validate-success="save" />
    </Container>
  </section>
</template>

<script>
export default {
  layout: 'dashboard',

  data() {
    return {
      small_modal: true,
    }
  },
  methods: {
    async save(form) {
      const response = await this.$store.dispatch(
        'koor_kota/addKoordinatKota',
        {
          kode: form.kode,
          nama: form.provinsi,
          ibukota: form.ibukota,
          latitude: form.latitude,
          longitude: form.longitude,
          elevation: form.elevation,
          timeZone: form.timezone,
          luas: form.luas_wilayah,
          penduduk: form.jmlh_penduduk,
          status: form.status,
          path: form.path,
        }
      )
      if (response.data.httpCode !== 200) {
        form = {}
        // this.$refs['trigger-modal-pw'].checked = true
      } else {
        this.$router.push('/koor-kota')
      }
    },
  },
}
</script>
