<template>
  <section
    class="min-h-screen py-8 w-full flex flex-col justify-start items-center bg-gray-100"
  >
    <Container>
      <TableKoorKota
        :data-obj.sync="getData"
        @page-change="setPage"
        @delete="deleteItemList"
        @filter="filterData"
      />
    </Container>
  </section>
</template>

<script>
export default {
  layout: 'dashboard',
  data() {
    return {
      getData: {},
      keyword: '',
      page: 1,
    }
  },
  async fetch() {
    await this.getListData()
  },
  head: {
    title: 'Koordinat Kota',
  },
  watch: {
    page() {
      this.$fetch()
    },
  },
  methods: {
    async filterData($event) {
      this.keyword = $event
      this.page = 1
      await this.$fetch()
    },
    async getListData() {
      const response = await this.$store.dispatch(
        'koor_kota/getListKoordinatKota',
        {
          size: 10,
          page: this.page,
          keyword: this.keyword,
        }
      )
      this.getData = response.data.data
    },
    setPage(page) {
      this.page = page
    },
    async deleteItemList(data) {
      const response = await this.$store.dispatch(
        'koor_kota/deleteKoordinatKota',
        {
          id: data,
        }
      )
      if (response.data.httpCode === 200) {
        this.getListData()
      }
    },
  },
}
</script>
