<template>
  <div class="h-screen w-full">
    <ModalSuccess />
    <ModalConfirm />
    <ModalError />
    <div class="drawer">
      <input id="drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <!-- Navbar -->
        <navbar></navbar>
        <!-- Page content here -->
        <section class="bg-gray-100">
          <nuxt></nuxt>
        </section>
      </div>
      <div class="drawer-side">
        <label for="drawer" class="drawer-overlay"></label>
        <ul class="menu bg-base-100 w-64">
          <div class="hero-content text-center bg-primary text-success">
            <div class="max-w-md text-base-100">
              <h1 class="text-3xl font-bold">Wilayah Dakwah</h1>
              <p class="py-6">Dashboard Wilayah Dakwah</p>
            </div>
          </div>
          <!-- menu icon  -->
          <li
            v-for="menu in menuList"
            :key="menu.slug"
            class="drawer-button"
            @click="closeDrawer"
          >
            <NuxtLink :to="menu.to" no-prefetch class="space-x-2">
              <component
                :is="require(`@/assets/svg/${menu.icon}.svg?inline`)"
                class="w-5 h-5"
              ></component>
              <p class="text-sm">{{ menu.title }}</p>
            </NuxtLink>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { MENU } from '@/utilities/constants'

export default {
  name: 'DashboardLayout',

  data() {
    return {
      isChecked: false,
    }
  },

  computed: {
    menuList() {
      return MENU
    },
  },

  methods: {
    closeDrawer() {
      document.querySelector('#drawer').checked = false
    },
  },
}
</script>
