<template>
  <div>
    <input id="modal-error" type="checkbox" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box">
        <div class="flex flex-col justify-center items-center text-error">
          <component
            :is="require(`~/assets/svg/Error.svg?inline`)"
            class="w-10 h-10"
          ></component>
          <h3 class="font-bold text-lg">Error</h3>
          <p class="py-4 text-neutral text-center">
            {{ text }}
          </p>
          <div class="modal-action">
            <label for="modal-error" class="btn w-32 text-base-100 btn-error"
              >Close</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ModalError',
  data() {
    return {
      text: '',
      callback: null,
    }
  },
  mounted() {
    this.$nuxt.$on(`modal-error-opened`, (data) => {
      this.text = data.text
      this.callback = data.callback
    })
  },
  beforeDestroy() {
    this.$nuxt.$off(`modal-error-opened`)
  },
  methods: {
    checkCallback() {
      if (!this.callback) return
      return this.callback()
    },
  },
}
</script>
