<template>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Wilayah Dakwah</h1>
        <p class="py-6">Ini konten untuk dashboard</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'dashboard',
  mounted() {
    this.$sentry.captureMessage('[TEST SENTRYT] capture message!')
  },
}
</script>
