<template>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <form @submit="doLogin($event)">
        <div class="min-w-[380px] space-y-8">
          <h1 class="text-4xl font-bold">Peta Dakwah Apps</h1>
          <div
            v-if="message.error.length > 0"
            class="alert alert-error shadow-lg"
          >
            <div v-for="(data, index) of message.error" :key="index">
              <close-icon width="20" height="20" />
              <span>{{ data }}</span>
            </div>
          </div>
          <div class="form-control">
            <input
              v-model="form.username"
              type="text"
              required
              placeholder="silahkan isi email..."
              class="input input-bordered input-md w-full"
            />
          </div>
          <div class="form-control">
            <div class="input-group">
              <input
                v-model="form.password"
                :type="input.password.visibility ? 'text' : 'password'"
                required
                placeholder="silahkan isi password..."
                class="input input-bordered input-md w-full !rounded-l-lg"
              />
              <div class="btn btn-square btn-primary !rounded-r-lg">
                <label class="swap">
                  <input type="checkbox" />
                  <eye-open-icon
                    class="swap-on"
                    width="25"
                    height="25"
                    @click="input.password.visibility = false"
                  />
                  <eye-close-icon
                    class="swap-off"
                    width="25"
                    height="25"
                    @click="input.password.visibility = true"
                  />
                </label>
              </div>
            </div>
          </div>
          <button
            type="submit"
            :class="button.submit.className"
            class="btn btn-primary w-[200px]"
          >
            {{ button.submit.label.value }}
            <login-icon
              v-if="!button.submit.className.loading"
              width="20"
              height="20"
            />
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import CloseIcon from '~/assets/svg/close.svg?inline'
import LoginIcon from '~/assets/svg/login.svg?inline'
import EyeOpenIcon from '~/assets/svg/eye-open.svg?inline'
import EyeCloseIcon from '~/assets/svg/eye-close.svg?inline'

export default {
  components: {
    CloseIcon,
    LoginIcon,
    EyeOpenIcon,
    EyeCloseIcon,
  },
  auth: 'guest',
  data() {
    return {
      form: {
        username: '',
        password: '',
      },
      message: {
        error: [],
      },
      input: {
        password: {
          visibility: false,
        },
      },
      button: {
        submit: {
          className: {
            loading: false,
            'btn-disabled': false,
            'gap-2': true,
          },
          label: {
            value: 'Login',
            loading: 'Loading...',
            netral: 'Login',
          },
        },
      },
    }
  },
  methods: {
    async doLogin(e) {
      e.preventDefault()
      this.prepareUIBeforeSubmit()
      try {
        await this.$auth.loginWith('custom', { data: this.form })
      } catch (error) {
        this.message.error.push(error)
      } finally {
        this.prepareUIAfterSubmit()
      }
    },
    setVisibility() {
      this.$set(
        this.input.password,
        'visibility',
        !this.input.password.visibility
      )
    },
    prepareUIBeforeSubmit() {
      this.clearErrorMessage()
      this.button.submit.className.loading = true
      this.button.submit.className['btn-disabled'] = true
      this.button.submit.className['gap-2'] = false
      this.button.submit.label.value = this.button.submit.label.loading
    },
    prepareUIAfterSubmit() {
      this.button.submit.className.loading = false
      this.button.submit.className['btn-disabled'] = false
      this.button.submit.className['gap-2'] = true
      this.button.submit.label.value = this.button.submit.label.netral
    },
    clearErrorMessage() {
      this.message.error.splice(0, this.message.error.length)
    },
  },
}
</script>
