<template>
  <div class="bg-base-200 px-4 h-screen">
    <!--   Maps Display   -->
    <div class="-mx-4">
      <Maps
        :zoom="selectedLongLat.zoom"
        :center="selectedLongLat.center"
        :marker-lat-lng="selectedLongLat.displayMap"
        :polygon="selectedLongLat.polygon"
        :bounds="selectedLongLat.boundsData"
        :loading="loadingDataMap"
        :province="selectedLongLat.province"
        :kode-wilayah="selectedLongLat.kodeWilayah"
        :luas="selectedLongLat.luas"
        :jmlh-penduduk="selectedLongLat.jmlhPenduduk"
        :ibukota="selectedLongLat.ibukota"
      />
      <!-- <MapsGeoJson /> -->
    </div>
    <!--   Form selection   -->
    <div class="my-4 md:flex md:space-x-4">
      <div class="flex space-x-2 mb-2 md:mb-0">
        <label class="label w-full md:w-auto">
          <span class="label-text font-bold text-xl">Provinsi</span>
        </label>
        <select v-model="form.provinsi" class="select w-48 md:max-w-xs">
          <option disabled value="">
            {{ loadingData ? 'Loading data...' : 'Pilih Provinsi...' }}
          </option>
          <template v-for="item of listProvinsi">
            <option :key="item.kode" :value="item.kode">
              {{ item.nama }}
            </option>
          </template>
        </select>
      </div>

      <div v-if="listKota.length > 0" class="flex space-x-2 mb-2 md:mb-0">
        <label class="label w-full md:w-auto">
          <span class="label-text font-bold text-xl">Kota</span>
        </label>
        <select v-model="form.kota" class="select w-48 md:max-w-xs">
          <option disabled value="">
            {{ loadingData ? 'Loading data...' : 'Pilih Kota...' }}
          </option>
          <template v-for="item of listKota">
            <option :key="item.kode" :value="item.kode">
              {{ item.nama }}
            </option>
          </template>
        </select>
      </div>

      <div v-if="listKecamatan.length > 0" class="flex space-x-2 mb-2 md:mb-0">
        <label class="label w-full md:w-auto">
          <span class="label-text font-bold text-xl">Kecamatan</span>
        </label>
        <select v-model="form.kecamatan" class="select w-48 md:max-w-xs">
          <option disabled value="">
            {{ loadingData ? 'Loading data...' : 'Pilih Kecamatan...' }}
          </option>
          <template v-for="item of listKecamatan">
            <option :key="item.kode" :value="item.kode">
              {{ item.nama }}
            </option>
          </template>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
import { latLngBounds } from 'leaflet'
export default {
  layout: 'dashboard',
  data() {
    return {
      loadingData: false,
      loadingDataMap: false,
      listProvinsi: [],
      listKota: [],
      listKecamatan: [],
      form: {
        provinsi: '',
        kota: '',
        kecamatan: '',
      },
      selectedLongLat: {
        center: [-2.504, 112.412],
        displayMap: [-2.504, 112.412],
        zoom: 5,
        displayName: 'Indonesia',
        polygon: [],
        boundsData: {
          bounds: null,
          'max-bounds': null,
        },
        province: '',
        kodeWilayah: '',
        luas: 0,
        jmlhPenduduk: 0,
        ibukota: '',
      },
    }
  },
  async fetch() {
    this.loadingData = true
    const response = await this.$store.dispatch('wilayah/getListProvinsi', {
      size: 500,
    })

    this.loadingData = false
    this.listProvinsi = response.data.data.content
  },
  watch: {
    async 'form.provinsi'() {
      this.form.kota = ''
      this.loadingData = true
      const response = await this.$store.dispatch('wilayah/getListKota', {
        size: 500,
        'kode-provinsi': this.form.provinsi,
      })

      await this.setCoordinate(this.form.provinsi)

      this.loadingData = false
      this.listKota = response.data.data.content
      this.selectedLongLat.zoom = 9
    },
    async 'form.kota'() {
      if (this.form.kota) {
        this.form.kecamatan = ''
        this.loadingData = true

        const response = await this.$store.dispatch(
          'wilayah/getListKecamatan',
          {
            size: 500,
            'kode-kota': this.form.kota,
          }
        )

        await this.setCoordinate(this.form.kota)

        this.loadingData = false
        this.listKecamatan = response.data.data.content
        this.selectedLongLat.zoom = 12
      }
    },
    async 'form.kecamatan'() {
      if (this.form.kecamatan) {
        this.loadingData = true

        await this.setCoordinate(this.form.kecamatan)

        this.loadingData = false
        this.selectedLongLat.zoom = 15
      }
    },
  },
  methods: {
    async setCoordinate($id) {
      try {
        this.loadingDataMap = true
        const { data } = await this.$store.dispatch('wilayah/getCoordinate', {
          id: $id,
        })

        const selectedProvince = data.data
        const longLat = [selectedProvince.latitude, selectedProvince.longitude]
        const path = JSON.parse(selectedProvince.path ?? [])

        this.selectedLongLat.ibukota = selectedProvince.ibukota
        this.selectedLongLat.province = selectedProvince.nama
        this.selectedLongLat.kodeWilayah = selectedProvince.kode
        this.selectedLongLat.luas = selectedProvince.luas
        this.selectedLongLat.jmlhPenduduk = selectedProvince.penduduk
        this.selectedLongLat.displayMap = longLat
        this.selectedLongLat.center = longLat
        this.selectedLongLat.displayName = selectedProvince.nama
        this.selectedLongLat.polygon = path
        this.$set(this.selectedLongLat.boundsData, 'bounds', latLngBounds(path))
        this.$set(
          this.selectedLongLat.boundsData,
          'max-bounds',
          latLngBounds(path)
        )
        this.loadingDataMap = false
      } catch (err) {}
    },
  },
}
</script>
